@import '../../assets/constants.scss';

.dropdown {
  width: 100%;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem;
  }

  &__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-dark-shade-100;
  }

  &__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: right;
    text-transform: uppercase;
    color: $color-dark-shade-50;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__input-container {
    display: grid;
    grid-template-rows: 2.625rem;
    grid-template-columns: auto min-content;
    border: 0.0625rem solid $color-dark-shade-25;
    box-sizing: border-box;
    border-radius: 0.25rem;

    &:hover,
    &:focus {
      border: 0.0625rem solid $color-dark-shade-50;
    }

    &_opened {
      border: 0.0625rem solid $color-dark-shade-50;
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem;
    }
  }

  &__input {
    cursor: pointer;
    padding: 0rem 0.9375rem 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $color-dark-shade-75;

    &::-webkit-input-placeholder {
      background: $color-dark-shade-75;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: $color-dark-shade-75;
      -webkit-box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: $color-dark-shade-75;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__list {
    display: none;
    width: 100%;
    list-style: none;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    position: absolute;
    top: 2.75rem;
    background: white;
    border: 0.0625rem solid $color-dark-shade-50;
    box-shadow: 0rem 0.625rem 1.25rem $color-dark-shade-5;
    border-top: 0rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    z-index: 9999;

    &:hover,
    &:focus {
      border-top: 0rem;
    }

    &_opened {
      display: flex;
    }
  }

  &__dropdown-arrow {
    cursor: pointer;
    width: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0rem solid transparent;
    background: $color-dark-shade-75;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  &__list-item {
    display: grid;
    grid-template-columns: auto 5.7525rem;
    align-items: center;
    padding: 0rem 0.3725rem 0rem 0.8375rem;
    margin-bottom: 0.4375rem;

    &:first-of-type {
      margin-top: 0.35rem;
    }
  }

  &__item-name {
    overflow: auto;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-dark-shade-100;
  }

  &__item-handler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__item-minus,
  &__item-plus {
    cursor: pointer;
    width: 1.875rem;
    border-radius: 1.9375rem;
    border: 0.0625rem solid $color-dark-shade-50;
    background: transparent;
    outline: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-shade-100;
  }

  &__item-minus {
    opacity: 0.38;

    &_active {
      opacity: 1;
    }
  }

  &__item-value {
    margin: 0rem 0.3125rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-shade-100;
  }

  &__control-buttons {
    display: flex;
    margin: 0.875rem 0.375rem 0.7rem 0.8125rem;
  }

  &__apply-button {
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-purple;

    &:hover,
    &:focus {
      color: $color-dark-shade-50;
    }
  }

  &__clear-button {
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-purple;

    &:hover,
    &:focus {
      color: $color-dark-shade-50;
    }

    &_visible {
      display: flex;
    }
  }
}
