@import '../../assets/constants.scss';

.dropdown {
    width: 100%;

    &_text-field-default {
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    &__title-text {
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-transform: uppercase;
        color: $color-dark-shade-100;
    }

    &__additional-title-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12rem;
        line-height: 15rem;
        text-align: right;
        text-transform: uppercase;
        color: $color-dark-shade-50;
    }

    &__input-container {
        display: grid;
        grid-template-rows: 42rem;
        grid-template-columns: auto min-content;
        position: relative;
        border: 1rem solid $color-dark-shade-25;
        box-sizing: border-box;
        border-radius: 4rem;

        &:hover,
        &:focus {
            border: 1rem solid $color-dark-shade-50;
        }
    }

    &__input {
        cursor: pointer;
        height: 40rem;
        padding: 0rem 15rem 0rem 15rem;
        outline: none;
        background: transparent;
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 18rem;
        color: $color-dark-shade-75;

        &::-webkit-input-placeholder {
            background: $color-dark-shade-75;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 0rem solid transparent;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: 0rem solid rgba(255, 255, 255, 0);
            -webkit-text-fill-color: $color-dark-shade-75;
            -webkit-box-shadow: 0 0 0rem 1000rem rgba(255, 255, 255, 0) inset;
            transition: background-color 5000s ease-in-out 0s;
            color: $color-dark-shade-75;
        }

        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
    }

    &__droped-list {
        width: 100%;
        list-style: none;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;
        position: absolute;
        top: 44rem;
        margin: -1rem;
        background: white;
        border: 1rem solid $color-dark-shade-50;
        box-shadow: 0rem 10rem 20rem $color-dark-shade-5;
        border-top: 0rem;
        box-sizing: content-box;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
        z-index: 9999;

        &:hover,
        &:focus {
            border-top: 0rem;
        }
    }

    &__dropdown-arrow {
        cursor: pointer;
        width: 42rem;
        height: 42rem;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: 0rem solid transparent;
        background: $color-dark-shade-75;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24rem;
        line-height: 24rem;
    }

    &__list-item {
        display: grid;
        grid-template-columns: auto 93rem;
        align-items: center;
        padding: 0rem 5rem 0rem 15rem;
        margin-bottom: 7rem;
        &:first-of-type {
            margin-top: 5rem;
        }
    }

    &__item-name {
        overflow: auto;
        word-wrap: break-word;
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-transform: uppercase;
        color: #1f2041;
    }

    &__item-handler {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__item-minus,
    &__item-plus {
        cursor: pointer;
        width: 30rem;
        height: 30rem;
        border-radius: 31rem;
        border: 1rem solid $color-dark-shade-50;
        background: transparent;
        outline: none;
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-dark-shade-100;
    }

    &__item-minus {
        opacity: 0.38;
    }

    &__item-value {
        margin: 0rem 5rem;
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-dark-shade-100;
    }

    &__control-buttons {
        display: flex;
        margin: 14rem 6rem 13rem 13rem;
    }

    &__apply-button {
        cursor: pointer;
        margin-left: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-transform: uppercase;
        color: $color-purple;
    }

    &__clear-button {
        cursor: pointer;
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-transform: uppercase;
        color: $color-dark-shade-50;
    }
}
