include ../FormElements.Pagination/Pagination.pug
+getPagination({
    pagesCount: pagesCount,
    curPageNumber: curPageNumber,
    title: titleText,
    bottomText: "1 – 12 из 100+ вариантов аренды",
})