extends ../../ui-kit-base

include ../../../components/logo/logo.pug
include ../../../components/header/header.pug
include ../../../components/long-footer/long-footer.pug
include ../../../components/short-footer/short-footer.pug

block content
    div(class=["headersAndFooters"])
        div(class=["headersAndFooters__standard-nav-bar-container_first"])
            +header({
                isAuthorized: false,
            })

        div(class=["headersAndFooters__standard-nav-bar-container_second"])
            +header({
                isAuthorized: true,
                userFullName: "Юлий Цезарь",
            })

        div(class=["headersAndFooters__footer-widgets-and-copyright-bar-container"])
            +long-footer()

        div(class=["headersAndFooters__footer-creative-container"])
            +short-footer()