@import '../../../components/logo/logo.scss';
@import '../../../components/header/header.scss';
@import '../../../components/footer/footer.scss';
@import '../../../components/short-footer/short-footer.scss';

body {
    background: rgb(244, 244, 246);
}

.headers-and-footers {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 8.125rem;
    padding-top: 3.875rem;

    &__global-logo-container {
        margin-left: 1.875rem;
        margin-bottom: 3.875rem;
    }

    &__standard-nav-bar-container_first,
    &__standard-nav-bar-container_second,
    &__footer-widgets-and-copyright-bar-container,
    &__footer-creative-container {
        min-width: 100%;
        margin-bottom: 2.5rem;
    }

    &__footer-creative-container {
        display: flex;
        justify-content: center;
    }
}
