.colors {
    &__background {
        &_purpleToBlueGrad {
            background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
        }

        &_purple {
            background: #bc9cff;
        }

        &_green {
            background: #6fcf97;
        }

        &_darkShade5 {
            background: rgba(31, 32, 65, 0.05);
        }

        &_darkShade25 {
            background: rgba(31, 32, 65, 0.25);
        }

        &_darkShade50 {
            background: rgba(31, 32, 65, 0.5);
        }

        &_darkShade75 {
            background: rgba(31, 32, 65, 0.75);
        }

        &_darkShade100 {
            background: #1f2041;
        }
    }

    &__font {
        &_purple {
            color: #bc9cff;
        }

        &_green {
            color: #6fcf97;
        }

        &_darkShade5 {
            color: rgba(31, 32, 65, 0.05);
        }

        &_darkShade25 {
            color: rgba(31, 32, 65, 0.25);
        }

        &_darkShade50 {
            color: rgba(31, 32, 65, 0.5);
        }

        &_darkShade75 {
            color: rgba(31, 32, 65, 0.75);
        }

        &_darkShade100 {
            color: #1f2041;
        }

        &_white {
            color: white;
        }
    }
}
