@import "../../../assets/base.scss";
@import "../../../assets/fonts/fonts.scss";
@include setFonts("../../../");

@import "../../../components/header/header.scss";
@import "../../../components/FormElements.RoomDetails/RoomDetails.scss";
@import "../../../components/bullet-list/bullet-list.scss";
@import "../../../components/FormElements.GuestRoomReviews/GuestRoomReviews.scss";
@import "../../../components/price-calculation-form/price-calculation-form.scss";
@import "../../../components/long-footer/long-footer.scss";

.room-details {
    display: flex;
    flex-direction: column;

    width: 100%;

    &__room-photos {
        display: flex;
        width: 100%;
    }
    &__room-big-photo-container {
        width: scalePixelsAsPercentage(981, 1440);
        height: 100%;
    }
    &__room-small-photos-container {
        width: scalePixelsAsPercentage((1440 - 981), 1440);
        height: 100%;
    }
    &__room-small-photo-container {
        height: 50%;
        width: 100%;
    }
    &__room-big-photo,
    &__room-small-photo {
        width: 100%;
        height: 100%;
    }

    &__room-full-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: scalePixelsAsPercentage(70, 1440) scalePixelsAsPercentage(140, 1440);

        @media screen and (max-width: 1340px) {
            flex-direction: column;
        }
        @media screen and (max-width: 950px) {
            width: 100%;
            padding: scalePixelsAsPercentage(70, 1440) 0px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__room-info {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        @media screen and (max-width: 1340px) {
            align-items: center;
        }
    }

    &__price-calculation-form-container {
        width: 380px;
        @media screen and (max-width: 1340px) {
            display: flex;
            justify-content: center;

            margin-top: 20px;
        }
        @media screen and (max-width: 380px) {
            width: 100%;
        }
    }

    &__room-details-and-rating-pie-chart {
        display: flex;
        flex-direction: row;
        margin-bottom: 33px;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            //align-items: center;
            margin-bottom: 30px;
        }
    }
    &__room-details-container {
    }
    &__rating-pie-chart-container {
        @media screen and (max-width: 800px) {
            margin-top: 30px;
        }
    }

    &__room-details-container {
        margin-right: 66px;
        @media screen and (max-width: 800px) {
            margin-right: 0px;
        }
    }

    &__guest-room-reviews-container {
        margin-bottom: 30px;
        @media screen and (max-width: 800px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__rules {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__bullet-list-container {
        margin-right: 70px;

        @media screen and (max-width: 800px) {
            margin-bottom: 20px;
            margin-right: 0px;
        }
        @media screen and (max-width: 800px) and (min-width: 500px) {
            align-self: flex-start;
        }
    }

    &__cancel-rule {
        @media screen and (max-width: 800px) and (min-width: 500px) {
            align-self: flex-end;
        }
    }
    &__cancel-rule-title {
        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: #1f2041;

        margin-bottom: 20px;
    }

    &__cancel-rule-main-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);

        max-width: 341px;
    }
}
