&__buttonDefault {
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    display: flex;
    position: relative;
    align-items: center;
   /*  margin: 18px 0px 18px 0px; */
    height: 34px;

    $pMarginMap: (top: 9px, right: 20px, bottom: 10px, left: 20px);
    & > p {
        @each $side, $value in $pMarginMap {
            margin-#{$side}: $value;
        }
        @import "./buttonTextProperties.scss";
        @include buttonTextProperties;
    }

    @import "./hollowButton.scss";

    &_firstButton {
        //модификатор, задающий отступ первой кнопки от следующей
        margin-right: 20px;
    }
}
