&_hollowButton {
    $border: 2px;

    //модификатор, делающий кнопку полой
    background: #ffffff;
    color: #bc9cff;
    margin: $border;
    border-radius: inherit;
    text-decoration: none;
    background-origin: border-box;
    height: 30px;

    & > p {
        /* margin: 9px - $border 20px - $border 10px - $border 20px - $border; */
        @each $side, $value in $pMarginMap {
            margin-#{$side}: $value - $border;
        }
        @import "./buttonTextProperties.scss";
        @include buttonTextProperties;
    }
}
