&__footerCreative {
    padding: 100px 440px 110px 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    p {
        text-align: center;
        margin-top: 18px;
        margin-bottom: 27px;
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(31, 32, 65, 0.75);
    }
}
