@import '../../assets/constants.scss';

.radio {
    display: flex;
    width: max-content;

    &__label {
        cursor: pointer;

        display: flex;
        position: relative;

        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }

    &__button-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        margin-right: 10px;
    }

    &__input {
        cursor: pointer;

        position: absolute;
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 2;

        &:checked + div {
            border: 1px solid $color-purple;
        }
        &:checked + div::after {
            content: "";
            width: 12px;
            height: 12px;
            background: $gradient-purple-to-blue;
            border-radius: 50%;
        }
        &:not(:checked) + div {
            border: 1px solid $color-dark-shade-25;
        }
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $color-dark-shade-50;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
