extends ../../base/ui-kit-base

include ../../../components/form-input/form-input.pug
include ../../../components/logo/logo.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/star-rating/star-rating.pug
include ../../../components/button/button.pug
include ../../../components/text-button/text-button.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/calendar/calendar.pug
include ../../../components/like-button/like-button.pug
include ../../../components/room-advantages/room-advantages.pug
include ../../../components/room-reviews/room-reviews.pug
include ../../../components/pie-chart/pie-chart.pug
include ../../../components/range-slider/range-slider.pug

block content
  div(class=["form-elements"])
    div(class=["form-elements__column-left"])
      div(class=["form-elements__form-input_type_default"])
        +form-input({
          title: "text field",
          additionalTitle: "default",
          placeholder: "Email",
          name: "email",
          type: "email",
          value: "",
          hasSubmitButton: false
        })
      div(class=["form-elements__form-input_type_hover"])
        +form-input({
          title: "text field",
          additionalTitle: "hover / focus",
          placeholder: "Some text",
          name: "someText",
          type: "text",
          value: "This is pretty awesome",
          hasSubmitButton: false
        })
      div(class=["form-elements__dropdown_type_default js-form-elements__dropdown"]) 
        +dropdown({
          title: "dropdown",
          additionalTitle: "default",
          placeholder: "dropdown",
          name: "dropdown",
          type: "text",
          value: "Сколько гостей",
          hasButtons: true,
          withTotalValue: true,
          list: [
            {name: "взрослые", value: 0},
            {name: "дети", value: 0},
            {name: "младенцы", value: 0}
          ],
        })
      div(class=["form-elements__calendar_type_default js-form-elements__calendar"])
        +calendar({
          isDouble: false,
          withRange: false, 
          firstTitle: "masked text field",
          additionalTitle: "default",
        })
      div(class=["form-elements__calendar_type_double js-form-elements__calendar"])
        +calendar({
          isDouble: true,
          firstTitle: "date Dropdown",
          secondTitle: "date Dropdown",
        })
      div(class=["form-elements__calendar_type_single-with-range js-form-elements__calendar"])
        +calendar({
          isDouble: false,
          withRange: true, 
          firstTitle: "filter date dropdown",
        })
      div(class=["form-elements__form-input_type_subscription"])
        +form-input({
          title: "subscription text field",
          placeholder: "Email",
          name: "email",
          type: "email",
          value: "",
          hasSubmitButton: true
        })
    div(class=["form-elements__column-central"])
      div(class=["form-elements__checkbox_type_simple"]) 
        +checkbox-list({
          title: "Checkbox Buttons",
          isExpandable: false, 
          hasAdditionalText: false,               
          list: [
            {isChecked: false, text: "Можно курить"},
            {isChecked: true, text: "Можно с питомцами"},
            {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
          ],
        })
      div(class=["form-elements__radio"])
        p(class=["form-elements__radio-title"]) radio buttons 
        +radio({
          blockNumber: 1,
          buttonsList: [
            {text: "Мужчина", isChecked: true},
            {text: "Женщина", isChecked: false},
          ],
          name: "gender",
        })
      div(class=["form-elements__toggles"])
        p(class=["form-elements__toggles-title"]) toggle 
        div(class=["form-elements__toggle"])
          +toggle({
            text: "Получать спецпредложения",
            isChecked: true,
            name: "special-offer",
          })
        div(class=["form-elements__toggle"]) 
          +toggle({
            text: "Получать спецпредложения",
            isChecked: false,
            name: "special-offer",
          })
      div(class=["form-elements__like-buttons"])
        p(class=["form-elements__like-buttons-title"]) like button
        div(class=["form-elements__like-button"])
          +like-button({
            number: 2,
            isChecked: false,
          })
        div(class=["form-elements__like-button"])
          +like-button({
            number: 12,
            isChecked: true,
          })
      div(class=["form-elements__star-ratings"])
        p(class=["form-elements__star-ratings-title"]) rate button
        div(class=["form-elements__star-rating"])
          +star-rating({
            blockNumber: 1,
            checkedStarIndex: 4,
          })
        div(class=["form-elements__star-rating"])
          +star-rating({
            blockNumber: 2,
            checkedStarIndex: 5,
          })
    div(class=["form-elements__column-right"]) 
      div(class=["form-elements__range-slider js-form-elements__range-slider"])
        +range-slider({
          title: "range slider"
        })
      div(class=["form-elements__buttons"])
        p(class=["form-elements__buttons-title"]) buttons
        div(class=["form-elements__button_type_simple"])
          +button({
            text: "click me",
            isHollow:  false,
            buttonType: "button",
            hasArrow: false,
          })
        div(class=["form-elements__button_type_simple-hover"])
          +button({
            text: "click me",
            isHollow:  false,
            buttonType: "button",
            hasArrow: false,              
          })   
        div(class=["form-elements__button_type_hollow"])
          +button({
            text: "click me",
            isHollow:  true,
            buttonType: "a",
            hasArrow: false,               
          })
        div(class=["form-elements__button_type_hollow-hover"])
          +button({
            text: "click me",
            isHollow:  true,
            buttonType: "a",
            hasArrow: false,               
          }) 
      div(class=["form-elements__text-buttons"])
        div(class=["form-elements__text-button"])
          +text-button({
            text: "click me",            
          })
        div(class=["form-elements__text-button"])
          +text-button({
            text: "click me",             
          }) 
      div(class=["form-elements__button_type_submit"])
        +button({
          text: "перейти к оплате",
          isHollow:  false,
          buttonType: "submit",
          hasArrow: true,               
        })
      div(class=["form-elements__pagination js-form-elements__pagination"])
    div(class=["form-elements__row-top"])
      div(class=["form-elements__dropdowns"])
        div(class=["form-elements__dropdown_type_room-items-counter js-form-elements__dropdown"]) 
          +dropdown({
            title: "dropdown",
            additionalTitle: "default",
            placeholder: "dropdown",
            name: "dropdown",
            type: "text",
            value: "Сколько комнат",
            withTotalValue: false,
            list: [
              {name: "спальни", value: 0},
              {name: "кровати", value: 0},
              {name: "ванные комнаты", value: 0}
            ],
          }) 
        div(class=["form-elements__dropdown_type_room-items-counter js-form-elements__dropdown"]) 
          +dropdown({
            title: "dropdown",
            additionalTitle: "expanded",
            placeholder: "dropdown",
            name: "dropdown",
            type: "text",
            value: "Сколько комнат",
            withTotalValue: false,
            list: [
              {name: "спальни", value: 0},
              {name: "кровати", value: 0},
              {name: "ванные комнаты", value: 0}
            ],
          })
      div(class=["form-elements__dropdown_type_guests-counter js-form-elements__dropdown"]) 
        +dropdown({
          title: "dropdown",
          additionalTitle: "",
          placeholder: "dropdown",
          name: "dropdown",
          type: "text",
          value: "Сколько гостей",
          hasButtons: true,
          withTotalValue: true,
          list: [
            {name: "взрослые", value: 0},
            {name: "дети", value: 0},
            {name: "младенцы", value: 0}
          ],
        })
      div(class=["form-elements__dropdown_type_guests-counter js-form-elements__dropdown"]) 
        +dropdown({
          title: "dropdown",
          additionalTitle: "",
          placeholder: "dropdown",
          name: "dropdown",
          type: "text",
          value: "Сколько гостей",
          hasButtons: true,
          withTotalValue: true,
          list: [
            {name: "взрослые", value: 0},
            {name: "дети", value: 0},
            {name: "младенцы", value: 0}
          ],
        })
    div(class=["form-elements__row-central"])
      div(class=["form-elements__checkboxes"])
        div(class=["form-elements__checkbox_type_expandable js-form-elements__checkbox_expandable"]) 
          +checkbox-list({
            title: "expandable checkbox list",
            isExpandable: true,
            isOpened: "true",
            hasAdditionalText: false,
            list : [
              {isChecked: false, text: "Завтрак"},
              {isChecked: true, text: "Письменный стол"}, 
              {isChecked: true, text: "Стул для кормления"},
              {isChecked: true, text: "Кроватка"},
              {isChecked: false, text: "Телевизор"},
              {isChecked: false, text: "Шампунь"},
              {isChecked: false, text: "Телевизор"},
              {isChecked: false, text: "Шампунь"}
            ],
          })
        div(class=["form-elements__checkbox_type_expandable js-form-elements__checkbox_expandable"]) 
          +checkbox-list({
            title: "expandable checkbox list",
            isExpandable: true,
            isOpened: "true",
            hasAdditionalText: false,
            list : [
              {isChecked: false, text: "Завтрак"},
              {isChecked: true, text: "Письменный стол"}, 
              {isChecked: true, text: "Стул для кормления"},
              {isChecked: true, text: "Кроватка"},
              {isChecked: false, text: "Телевизор"},
              {isChecked: false, text: "Шампунь"},
              {isChecked: false, text: "Телевизор"},
              {isChecked: false, text: "Шампунь"}
            ],
          })
      div(class=["form-elements__checkbox_type_rich"]) 
        +checkbox-list({
          title: "rich Checkbox Buttons",
          isExpandable: false,
          hasAdditionalText: true,
          list: [
            {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
            {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
          ],
        })
      div(class=["form-elements__bullet-list"])
        p(class=["form-elements__bullet-list-title"]) bullet list
        +bullet-list({
          list: [
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, а выезд до 12:00",
          ],
        })
    div(class=["form-elements__row-bottom"])
      div(class=["form-elements__room-advantages"])
        +room-advantages({
          details: [
            {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены"},
            {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален"},
          ],
          hasLastBorderBottom: true,
        })
      div(class=["form-elements__guest-room-reviews"])
        +room-reviews({
          hasTitle: false,
          reviews: [
            {
              imageName: "avatar-murat-sarafanof",
              fullName: "Мурад Сарафанов",
              numberOfDaysSinceComment: "5 дней назад",
              likeButtonOptions: {
                number: 11,
                isChecked: true,
              },
              comment: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто 
                не жаловался из соседей.`,
            },               
          ]
        })