@import '../../../assets/constants.scss';
@import '../../../components/logo/logo.scss';
@import '../../../components/form-input/form-input.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/checkbox-list/checkbox-list.scss';
@import '../../../components/radio/radio.scss';
@import '../../../components/toggle/toggle.scss';
@import '../../../components/star-rating/star-rating.scss';
@import '../../../components/button/button.scss';
@import '../../../components/text-button/text-button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/range-slider/range-slider.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/calendar/calendar.scss';
@import '../../../components/like-button/like-button.scss';
@import '../../../components/room-advantages/room-advantages.scss';
@import '../../../components/room-reviews/room-reviews.scss';

@mixin title {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-dark-shade-100;
}

.form-elements {
    min-width: 100%;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-column-gap: 7.9375rem;
    margin-top: 4.0625rem;
    padding: 0rem 8.75rem 9.375rem;

    &__column {
        justify-self: center;

        &-1 {
            display: flex;
            flex-direction: column;

            & > * {
                margin-bottom: 1.25rem;
            }
        }

        &-2 {
            display: flex;
            flex-direction: column;

            & > * {
                margin-bottom: 1.25rem;
            }
        }

        &-3 {
            display: flex;
            flex-direction: column;
            margin-left: 0.33rem;

            & > * {
                margin-bottom: 1.25rem;
            }
        }
    }

    &__row-1 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 5rem;
        margin-bottom: 9.9rem;
    }

    &__dropdown-2-3 {
        margin-right: 11.3125rem;
    }

    &__row-2 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 2.5rem;
    }

    &__checkbox-2-3 {
        margin-right: 11.3125rem;
    }

    &__row-3 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    &__star-rating-title,
    &__like-button-title,
    &__toggle-title {
        margin-bottom: 1rem;
        @include title();
    }

    &__radio-title {
        margin-bottom: 0.875rem;
        @include title();
    }

    &__buttons-title {
        margin-bottom: 1rem;
        @include title();
    }

    &__star-rating-title,
    &__like-button-title,
    &__buttons-title {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__form-input-1,
    &__form-input-2,
    &__calendar-1,
    &__calendar-2 {
        width: 20rem;
    }

    &__form-input-2 {
        & .form-input__additional-title-text {
            line-height: 0.95rem;
        }
    }

    &__dropdown-1 {
        margin-bottom: 1.5rem;
    }

    &__calendar-1 {
        margin-bottom: 2.5rem;
    }

    &__calendar-2 {
        margin-bottom: 2.5rem;
    }

    &__calendar-3 {
        margin-bottom: 2.5625rem;
    }

    &__calendar-3,
    &__form-input-3 {
        width: 16.625rem;
    }

    &__dropdown-2,
    &__dropdown-3 {
        width: 16.625rem;
    }

    &__dropdown-2 {
        margin-bottom: 1.25rem;
    }

    &__dropdown-1,
    &__dropdown-4,
    &__dropdown-5 {
        width: 20rem;
    }

    &__dropdown-4 {
        margin-right: 4.5rem;
    }

    &__checkbox-4 {
        margin-right: 8.3125rem;
        margin-top: 0.9375rem;
    }

    &__room-advantages {
        margin-right: 10.4375rem;
    }

    &__checkbox-1 {
        margin-bottom: 2.5rem;
    }

    &__checkbox-2,
    &__checkbox-3 {
        width: 16.625rem;
    }

    &__checkbox-2 {
        margin-bottom: 1.2rem;
    }

    &__radio {
        margin-bottom: 2.5625rem;
    }

    &__toggles {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.8125rem;
    }

    &__like-buttons {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 0.625rem;
        margin-bottom: 2.5rem;
    }

    &__star-ratings {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 1.25rem;
    }

    &__radio,
    &__toggle-1,
    &__toggle-2,
    &__like-button-1,
    &__like-button-2,
    &__star-rating-1,
    &__star-rating-2 {
        width: max-content;
    }

    &__toggle-1 {
        margin-bottom: 0.875rem;
    }

    &__range-slider {
        width: 16.625rem;
        margin-bottom: 2.0625rem;
    }

    &__buttons {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 1.1875rem;
        margin-bottom: 1.875rem;
    }

    &__button-1,
    &__button-2,
    &__button-3,
    &__button-4 {
        width: 6.1875rem;
        height: 2.75rem;
    }

    &__button-1 {
        margin-bottom: 1.8125rem;
    }

    &__text-buttons {
        display: flex;
        margin-bottom: 1.6875rem;
    }

    &__button-5 {
        margin-right: 1.25rem;
    }

    &__button-7 {
        width: 20rem;
        height: 2.75rem;
        margin-bottom: 2.625rem;
    }

    &__pagination {
        width: max-content;
    }

    &__bullet-list {
        margin-top: 0.85rem;
    }

    &__guest-room-reviews {
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 0.6rem;
    }
}
