@import "../../base.scss";
@import "../../../assets/fonts/fonts.scss";
@include setFonts("../../../");

@import "../../../components/logo/logo.scss";
@import "../../../components/form-input/form-input.scss";
@import "../../../components/dropdown/dropdown.scss";
@import "../../../components/checkbox-list/checkbox-list.scss";
@import "../../../components/radio/radio.scss";
@import "../../../components/toggle/toggle.scss";
@import "../../../components/star-rating/star-rating.scss";
@import "../../../components/button/button.scss";
@import "../../../components/text-button/text-button.scss";
@import "../../../components/pagination/pagination.scss";
@import "../../../components/range-slider/range-slider.scss";
@import "../../../components/bullet-list/bullet-list.scss";
@import "../../../components/calendar/calendar.scss";
@import "../../../components/like-button/like-button.scss";
@import "../../../components/room-advantages/room-advantages.scss";
@import "../../../components/room-reviews/room-reviews.scss";

@mixin title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}

.form-elements {
    min-width: 100%;

    margin-top: 65px;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-column-gap: 127px;
    padding: 0px 140px 150px;

    &__column {
        justify-self: center;
        &-1 {
            display: flex;
            flex-direction: column;
            & > * {
                margin-bottom: 20px;
            }
        }
        &-2 {
            display: flex;
            flex-direction: column;
            & > * {
                margin-bottom: 20px;
            }
        }
        &-3 {
            display: flex;
            flex-direction: column;
            margin-left: 6px;
            & > * {
                margin-bottom: 20px;
            }
        }
    }

    &__row-1 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;

        margin-top: 79px;
        margin-bottom: 157px;
    }

    &__dropdown-2-3 {
        margin-right: 181px;
    }

    &__row-2 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 40px;
    }

    &__checkbox-2-3 {
        margin-right: 181px;
    }

    &__row-3 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    &__star-rating-title,
    &__like-button-title,
    &__toggle-title {
        @include title();
        margin-bottom: 16px;
    }

    &__radio-title {
        @include title();
        margin-bottom: 14px;
    }

    &__buttons-title {
        @include title();
        margin-bottom: 16px;
    }

    &__star-rating-title,
    &__like-button-title,
    &__buttons-title {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__form-input-1,
    &__form-input-2,
    &__calendar-1,
    &__calendar-2 {
        width: 320px;
    }

    &__dropdown-1 {
        margin-bottom: 22px;
    }

    &__calendar-1,
    &__calendar-2 {
        margin-bottom: 40px;
    }

    &__calendar-3 {
        margin-bottom: 41px;
    }

    &__calendar-3,
    &__form-input-3 {
        width: 266px;
    }

    &__dropdown-2,
    &__dropdown-3 {
        width: 266px;
    }

    &__dropdown-2 {
        margin-bottom: 20px;
    }

    &__dropdown-1,
    &__dropdown-4,
    &__dropdown-5 {
        width: 320px;
    }

    &__dropdown-4 {
        margin-right: 72px;
    }

    /* &__checkbox-1,
    &__checkbox-4,
    &__room-advantages {
    } */
    &__checkbox-4 {
        margin-right: 133px;
        margin-top: 15px;
    }

    &__room-advantages {
        margin-right: 167px;
    }

    &__checkbox-1 {
        margin-bottom: 40px;
    }

    &__checkbox-2,
    &__checkbox-3 {
        width: 266px;
    }

    &__checkbox-2 {
        margin-bottom: 20px;
    }

    &__radio {
        margin-bottom: 41px;
    }

    &__toggles {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
    }

    &__like-buttons {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 10px;
        margin-bottom: 40px;
    }

    &__star-ratings {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 20px;
    }

    &__radio,
    &__toggle-1,
    &__toggle-2,
    &__like-button-1,
    &__like-button-2,
    &__star-rating-1,
    &__star-rating-2 {
        width: max-content;
    }

    &__toggle-1 {
        margin-bottom: 14px;
    }

    &__range-slider {
        width: 266px;
        margin-bottom: 33px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 19px;
        margin-bottom: 30px;
    }
    &__text-buttons {
        display: flex;
    }
    &__button-1,
    &__button-2,
    &__button-3,
    &__button-4 {
        width: 99px;
        height: 44px;
    }

    &__button-1 {
        margin-bottom: 29px;
    }

    &__text-buttons {
        margin-bottom: 30px;
    }

    &__button-5,
    &__button-6 {
    }

    &__button-5 {
        margin-right: 20px;
    }

    &__button-7 {
        width: 320px;
        height: 44px;
        margin-bottom: 40px;
    }

    &__pagination {
        width: max-content;
    }

    &__bullet-list {
        margin-top: 15px;
    }

    &__guest-room-reviews {
        grid-column-start: 2;
        grid-column-end: 4;

        margin-top: 10px;
    }
}
