extends ../../ui-kit-base

include ../../../components/form-input/form-input.pug
include ../../../components/logo/logo.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/star-rating/star-rating.pug
include ../../../components/button/button.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/calendar/calendar.pug
include ../../../components/like-button/like-button.pug
include ../../../components/room-advantages/room-advantages.pug
include ../../../components/room-reviews/room-reviews.pug
include ../../../components/pie-chart/pie-chart.pug
include ../../../components/range-slider/range-slider.pug

block content
    div(class=["form-elements"])
        div(class=["form-elements__column-1"])
            div(class=["form-elements__form-input-1"])
                +form-input({
                    hasTitle: true,
                    titleText: "text field",
                    additionalTitleText: "default",
                    placeholder: "Email",
                    name: "email",
                    type: "email",
                    value: "",
                    hasSubmitButton: false
                })
            div(class=["form-elements__form-input-2"])
                +form-input({
                    hasTitle: true,
                    titleText: "text field",
                    additionalTitleText: "hover / focus",
                    placeholder: "Some text",
                    name: "someText",
                    type: "text",
                    value: "This is pretty awesome",
                    hasSubmitButton: false
                })
            div(class=["form-elements__form-input-3"])
                +form-input({
                    hasTitle: true,
                    titleText: "text field",
                    additionalTitleText: "default",
                    placeholder: "Email",
                    name: "email",
                    type: "email",
                    value: "",
                    hasSubmitButton: true
                })
            div(class=["form-elements__form-input-4"])
                +form-input({
                    hasTitle: true,
                    titleText: "text field",
                    additionalTitleText: "hover / focus",
                    placeholder: "Some text",
                    name: "someText",
                    type: "text",
                    value: "This is pretty awesome",
                    hasSubmitButton: true
                })

            div(class=["form-elements__calendar-1 js-form-elements__calendar"])
                +calendar({
                    isDouble: true,
                    firstTitle: "выезд",
                    secondTitle: "прибытие",
                })
            div(class=["form-elements__calendar-2 js-form-elements__calendar"])
                +calendar({
                    isDouble: false,
                    withRange: true, 
                    firstTitle: "datepicker2",
                })
            div(class=["form-elements__calendar-3 js-form-elements__calendar"])
                +calendar({
                    isDouble: false,
                    withRange: false, 
                    firstTitle: "datepicker3",
                })

            div(class=["form-elements__dropdown-1 js-form-elements__dropdown"]) 
                +dropdown({
                    titleText: "dropdown",
                    isTitleTextTestVisible: false,
                    titleTextTestValue: "",
                    placeholder: "dropdown",
                    name: "dropdown",
                    type: "text",
                    value: "Сколько комнат",
                    hasApplyButton: false,
                    hasClearButton: false,
                    dropdownList: [
                        {name: "спальни", value: 0},
                        {name: "кровати", value: 0},
                        {name: "ванные комнаты", value: 0}
                    ],
                    withTotalValue: false,
                })
            div(class=["form-elements__dropdown-2 js-form-elements__dropdown"]) 
                +dropdown({
                    titleText: "dropdown",
                    isTitleTextTestVisible: false,
                    titleTextTestValue: "",
                    placeholder: "dropdown",
                    name: "dropdown",
                    type: "text",
                    value: "Сколько комнат",
                    hasApplyButton: true,
                    hasClearButton: true,
                    dropdownList: [
                        {name: "спальни", value: 0},
                        {name: "кровати", value: 0},
                        {name: "ванные комнаты", value: 0}
                    ],
                    withTotalValue: false,
                })                        

            div(class=["form-elements__checkbox-1 js-form-elements__checkbox_expandable"]) 
                +checkbox-list({
                    titleText: "expandable checkbox list",
                    isExpandable: true,
                    isOpened: "false",
                    hasAdditionalText: false,
                    checkboxList: [
                        {isChecked: false, text: "Завтрак"},
                        {isChecked: true, text: "Письменный стол"}, 
                        {isChecked: true, text: "Стул для кормления"},
                        {isChecked: true, text: "Кроватка"},
                        {isChecked: false, text: "Телевизор"},
                        {isChecked: false, text: "Шампунь"},
                        {isChecked: false, text: "Телевизор"},
                        {isChecked: false, text: "Шампунь"},
                    ],
                })
            div(class=["form-elements__checkbox-2 js-form-elements__checkbox_expandable"]) 
                +checkbox-list({
                    titleText: "expandable checkbox list",
                    isExpandable: true,
                    isOpened: "true",
                    hasAdditionalText: false,
                    checkboxList : [
                        {isChecked: false, text: "Завтрак"},
                        {isChecked: true, text: "Письменный стол"}, 
                        {isChecked: true, text: "Стул для кормления"},
                        {isChecked: true, text: "Кроватка"},
                        {isChecked: false, text: "Телевизор"},
                        {isChecked: false, text: "Шампунь"},
                        {isChecked: false, text: "Телевизор"},
                        {isChecked: false, text: "Шампунь"}
                    ],
                })

            div(class=["form-elements__room-details-1"])
                +room-advantages({
                    details: [
                        {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены",},
                        {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален",},
                        {icon: "whatshot", titleText: "Уют", mainText: "Номер оснащён камином",},
                    ],
                    hasLastBorderBottom: true,
                })

        div(class=["form-elements__column-2"])
            div(class=["form-elements__checkbox-4"]) 
                +checkbox-list({
                    titleText: "Checkbox Buttons",
                    isExpandable: false, 
                    hasAdditionalText: false,               
                    checkboxList: [
                        {isChecked: false, text: "Можно курить"},
                        {isChecked: true, text: "Можно с питомцами"},
                        {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
                    ],
                })

            div(class=["form-elements__radio-1"]) 
                +radio({
                    blockNumber: 1,
                    buttonsList: [
                        {text: "Мужчина", isChecked: true},
                        {text: "Женщина", isChecked: false},
                    ],
                    name: "gender",
                })
            div(class=["form-elements__radio-2"]) 
                +radio({
                    blockNumber: 2,
                    buttonsList: [
                        {text: "Мужчина", isChecked: false},
                        {text: "Женщина", isChecked: true},
                    ],
                    name: "gender",
                })
            div(class=["form-elements__toggle-1"]) 
                +toggle({
                    text: "Получать спецпредложения",
                    isChecked: true,
                    name: "special-offer",
                })
            div(class=["form-elements__toggle-2"]) 
                +toggle({
                    text: "Получать спецпредложения",
                    isChecked: false,
                    name: "special-offer",
                })

            div(class=["form-elements__like-button-1"])
                +like-button({
                    number: 2,
                    isChecked: false,
                })
            div(class=["form-elements__like-button-2"])
                +like-button({
                    number: 3,
                    isChecked: true,
                })

            div(class=["form-elements__star-rating-1"])
                +star-rating({
                    blockNumber: 1,
                    numberOfCheckedStar: 3,
                })
            div(class=["form-elements__star-rating-2"])
                +star-rating({
                    blockNumber: 2,
                    numberOfCheckedStar: 1,
                })             
            div(class=["form-elements__star-rating-3"])
                +star-rating({
                    blockNumber: 3,
                    numberOfCheckedStar: 0,
                })

            div(class=["form-elements__dropdown-3 js-form-elements__dropdown"]) 
                +dropdown({
                    titleText: "dropdown",
                    isTitleTextTestVisible: false,
                    titleTextTestValue: "",
                    placeholder: "dropdown",
                    name: "dropdown",
                    type: "text",
                    value: "Сколько гостей",
                    hasApplyButton: false,
                    hasClearButton: false,
                    dropdownList: [
                        {name: "взрослые", value: 0},
                        {name: "дети", value: 0},
                        {name: "младенцы", value: 0}
                    ],
                    withTotalValue: true,
                })

            div(class=["form-elements__checkbox-3"]) 
                +checkbox-list({
                    titleText: "rich checkbox list",
                    isExpandable: false,
                    hasAdditionalText: true,
                    checkboxList: [
                        {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                        {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
                    ],
                })  

        div(class=["form-elements__column-3"]) 
            div(class=["form-elements__range-slider-1 js-form-elements__range-slider"])
                +range-slider()
            div(class=["form-elements__range-slider-2 js-form-elements__range-slider"])
                +range-slider()

            div(class=["form-elements__button-1"])
                +button({
                    text: "click me",
                    isHollow:  false,
                    buttonType: "button",
                    hasArrow: true,
                })
            div(class=["form-elements__button-2"])
                +button({
                    text: "click me",
                    isHollow:  true,
                    buttonType: "button",
                    hasArrow: true,              
                })   
            div(class=["form-elements__button-3"])         
                +button({
                    text: "click me",
                    isHollow:  false,
                    buttonType: "a",
                    hasArrow: false,               
                })
            div(class=["form-elements__button-4"])
                +button({
                    text: "click me",
                    isHollow:  true,
                    buttonType: "a",
                    hasArrow: false,               
                })
            div(class=["form-elements__button-5"])
                +button({
                    text: "click me",
                    isHollow:  false,
                    buttonType: "submit",
                    hasArrow: false,               
                })
            div(class=["form-elements__button-6"])
                +button({
                    text: "click me",
                    isHollow:  true,
                    buttonType: "submit",
                    hasArrow: false,               
                })  

            div(class=["form-elements__pagination js-form-elements__pagination"])
            div(class=["form-elements__pagination js-form-elements__pagination"])

            div(class=["form-elements__dropdown-4 js-form-elements__dropdown"]) 
                +dropdown({
                    titleText: "dropdown",
                    isTitleTextTestVisible: false,
                    titleTextTestValue: "",
                    placeholder: "dropdown",
                    name: "dropdown",
                    type: "text",
                    value: "Сколько гостей",
                    hasApplyButton: true,
                    hasClearButton: true,
                    dropdownList: [
                        {name: "взрослые", value: 0},
                        {name: "дети", value: 0},
                        {name: "младенцы", value: 0}
                    ],
                    withTotalValue: true,
                })

            div(class=["form-elements__bullet-list"])
                +bullet-list({
                    titleText: "bullet list",
                    list: [
                        "Нельзя с питомцами",
                        "Без вечеринок и мероприятий",
                        "Время прибытия — после 13:00, а выезд до 12:00",
                    ],
                })

            div(class=["form-elements__guest-room-reviews-1"])
                +room-reviews({
                    reviews: [
                        {
                            imageName: "image1",
                            fullName: "Мурад Сарафанов",
                            numberOfDaysSinceComment: "5 дней назад",
                            likeButtonOptions: {
                                number: 12,
                                isChecked: true,
                            },
                            comment: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                                И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто 
                                не жаловался из соседей.`,
                        },
                        {
                            imageName: "image2",
                            fullName: "Патрисия Стёклышкова",
                            numberOfDaysSinceComment: "Неделю назад",
                            likeButtonOptions: {
                                number: 2,
                                isChecked: false,
                            },
                            comment: `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, 
                                каждый день новое блюдо и десерт как комплимент`, 
                        },                
                    ]
                })

            div(class=["form-elements__pie-chart js-form-elements__pie-chart"])
                +pie-chart({
                    totalValue: 260,
                    legends: ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"]
                })