.range-slider {
    display: flex;
    flex-direction: column;
    background: white;
    width: max-content;
    height: max-content;

    $filledBodyWidth: 100px;
    $filledBodyMarginLeft: 30px;
    $sliderSize: 16px;

    &__title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
    }

    &__inputs-value-range {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
        letter-spacing: 0.03em;
    }

    &__slider-container {
        display: flex;
        align-items: center;
        position: relative;
        width: max-content;
        height: 16px;
        background: transparent;
    }

    &__first-input,
    &__last-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__slider-body-empty {
        width: 266px;
        height: 6px;
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 3px;
        position: relative;
    }

    &__slider-body-filled {
        width: $filledBodyWidth; //test
        height: 6px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        margin-left: $filledBodyMarginLeft;
        position: absolute;
    }

    &__first-slider,
    &__last-slider {
        width: $sliderSize - 4px;
        height: $sliderSize - 4px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        position: absolute;
        border-radius: 50%;
        //margin-left: $filledBodyMarginLeft - $sliderSize / 2;
        //margin-left: $filledBodyMarginLeft + $filledBodyWidth - $sliderSize / 2; //test
    }

    &__first-slider-outside,
    &__last-slider-outside {
        width: $sliderSize;
        height: $sliderSize;
        background: white;
        border-radius: 50%;
        position: absolute;
    }
}
