.room-info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    &__room-number-and-status {
        display: flex;
        align-items: baseline;
    }

    &__number-symbol {
        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1f2041;

        margin-right: 5px;
    }

    &__room-number {
        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;

        margin-right: 5px;

        &_font-size_19 {
            font-size: 19px;
        }
    }

    &__room-status {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #bc9cff;
    }

    &__room-price-and-period-of-time {
        display: flex;
        align-items: flex-end;
        align-items: flex-end;
    }

    &__room-price {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);

        margin-right: 3px;
    }

    &__period-of-time {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);

        &_align-items-center {
            align-items: center;
        }
    }

    &_bottom-border {
        padding-bottom: 7px;
        padding-top: 3px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    }
}
