@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Montserrat/montserrat-regular.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-regular.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Montserrat/montserrat-bold.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-bold.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-bold.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Quicksand/quicksand-regular.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-regular.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Quicksand/quicksand-bold.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-bold.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-bold.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/OpenSans/open-sans-regular.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-regular.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-regular.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/OpenSans/open-sans-bold.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-bold.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-bold.ttf) format("truetype"); }

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.5);
  background: white; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

.logo {
  display: flex; }

.ui-kit__logo {
  margin-left: 1.875rem;
  padding-top: 1.875rem; }

.font-demo {
  display: flex;
  flex-direction: row; }
  .font-demo__tag {
    margin-right: 1.875rem;
    min-width: 2.3125rem;
    text-align: end; }
  .font-demo__description {
    max-width: 21rem; }
  .font-demo_font-family_quicksand {
    font-family: Quicksand, OpenSans, Arial, sans-serif; }
  .font-demo_font-weight_bold {
    font-weight: bold; }
  .font-demo_font-size_24px {
    font-size: 1.5rem; }
  .font-demo_font-size_19px {
    font-size: 1.1875rem; }
  .font-demo_font-size_14px {
    font-size: 0.875rem; }
  .font-demo_font-size_12px {
    font-size: 0.75rem; }
  .font-demo_font-line-height_30px {
    line-height: 1.875rem; }
  .font-demo_font-line-height_24px {
    line-height: 1.5rem; }
  .font-demo_font-line-height_15px {
    line-height: 0.9375rem; }
  .font-demo_font-color_dark-shade-25 {
    color: rgba(31, 32, 65, 0.25); }
  .font-demo_font-color_dark-shade-75 {
    color: rgba(31, 32, 65, 0.75); }
  .font-demo_font-color_dark-shade-100 {
    color: #1f2041; }
  .font-demo_font_uppercase {
    text-transform: uppercase; }

.color-demo {
  display: flex;
  flex-direction: row; }
  .color-demo__colored-square {
    min-width: 4.375rem;
    height: 4.375rem;
    border-radius: 0.375rem; }
  .color-demo__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5rem; }
  .color-demo__color-name {
    display: flex;
    align-items: center;
    font-family: Quicksand, OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    color: #1f2041; }
  .color-demo__color-code {
    display: flex;
    align-items: center;
    font-family: Quicksand, OpenSans, Arial, sans-serif;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    color: #1f2041; }
  .color-demo__color_purple {
    background: #bc9cff; }
  .color-demo__color_green {
    background: #6fcf97; }
  .color-demo__color_dark-shade-5 {
    background: rgba(31, 32, 65, 0.05); }
  .color-demo__color_dark-shade-25 {
    background: rgba(31, 32, 65, 0.25); }
  .color-demo__color_dark-shade-50 {
    background: rgba(31, 32, 65, 0.5); }
  .color-demo__color_dark-shade-75 {
    background: rgba(31, 32, 65, 0.75); }
  .color-demo__color_dark-shade-100 {
    background: #1f2041; }

body {
  padding-bottom: 2.5rem; }

.colors-and-type {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.1875rem 10.4% 9.0625rem; }
  @media screen and (max-width: 1024px) {
    .colors-and-type {
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 1024px) {
    .colors-and-type__color-demos {
      margin-bottom: 3.125rem; } }
  .colors-and-type__color-demo {
    margin-bottom: 1.25rem; }
    .colors-and-type__color-demo:last-child {
      margin-bottom: 0rem; }
  .colors-and-type__font-demos {
    margin-right: 2.625rem; }
  .colors-and-type__font-demo {
    margin-bottom: 3.125rem; }
    .colors-and-type__font-demo:last-child {
      margin-bottom: 0rem;
      max-width: 23.75rem; }
      .colors-and-type__font-demo:last-child .font-demo__description {
        line-height: 1.375rem; }

