@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Montserrat/montserrat-regular.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-regular.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Montserrat/montserrat-bold.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-bold.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-bold.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Quicksand/quicksand-regular.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-regular.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Quicksand/quicksand-bold.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-bold.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-bold.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/OpenSans/open-sans-regular.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-regular.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-regular.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/OpenSans/open-sans-bold.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-bold.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-bold.ttf) format("truetype"); }

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.5);
  background: white; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

.logo {
  display: flex; }

.ui-kit__logo {
  margin-left: 1.875rem;
  padding-top: 1.875rem; }

.colored-logo__ref {
  display: flex;
  align-items: center;
  justify-self: end; }

.colored-logo__logo-symbol {
  margin-right: 0.7813rem; }

.navigation-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 1000px) {
    .navigation-menu {
      display: flex;
      flex-direction: column; } }
  .navigation-menu__item {
    display: flex;
    align-items: center;
    margin: 0rem 0.625rem; }
    @media screen and (max-width: 1000px) {
      .navigation-menu__item {
        margin: 0.625rem 0rem; } }
    .navigation-menu__item:first-child {
      margin: 0rem 0.625rem 0rem 0rem;
      font-weight: bold; }
    .navigation-menu__item:hover .navigation-menu__submenu {
      display: block; }
    .navigation-menu__item:hover .navigation-menu__dropdown-arrow {
      transform: rotate(180deg); }
  .navigation-menu__item-ref {
    cursor: pointer;
    display: flex;
    position: relative;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.005em; }
  .navigation-menu__item-ref-text {
    max-width: 7.5rem;
    overflow: hidden;
    white-space: nowrap; }
    .navigation-menu__item-ref-text:hover {
      color: rgba(31, 32, 65, 0.75); }
  .navigation-menu__dropdown-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: rgba(31, 32, 65, 0.5); }
  .navigation-menu__submenu {
    z-index: 1;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    padding: 0.625rem 0.625rem 0rem 0.625rem;
    background: white;
    box-shadow: 0 0.1875rem 0.625rem 0.1875rem rgba(31, 32, 65, 0.25); }
    @media screen and (max-width: 1000px) {
      .navigation-menu__submenu {
        left: 90%;
        padding-top: 0rem; } }
  .navigation-menu__submenu-item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.625rem 0rem; }
    .navigation-menu__submenu-item:first-child {
      margin: 0rem 0rem 0.625rem 0rem; }
    .navigation-menu__submenu-item:hover .navigation-menu__submenu {
      display: block; }
  .navigation-menu__submenu-item-ref {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    white-space: nowrap;
    letter-spacing: 0.005em; }
    .navigation-menu__submenu-item-ref:hover {
      color: rgba(31, 32, 65, 0.75); }

.button {
  width: 100%;
  height: 100%;
  position: relative; }
  .button__background {
    z-index: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.375rem;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
  .button__basis {
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.375rem;
    background: transparent; }
  .button__text {
    cursor: pointer;
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
    background: transparent;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden; }
    .button__text_with-arrow {
      margin: 0rem 2.5rem; }
  .button__arrow {
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
    font-family: Material Icons;
    font-size: 1.5rem;
    text-align: center;
    color: white; }
  .button:hover .button__background {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button_hollow .button__basis {
    background: white;
    background-clip: padding-box;
    border: solid 0.125rem transparent; }
  .button_hollow .button__arrow {
    color: #bc9cff; }
  .button_hollow .button__text {
    color: #bc9cff; }

.header {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns: auto min-content min-content min-content;
  align-items: center;
  justify-items: start;
  padding: 0.9375rem 9.72222%;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 1150px) {
    .header {
      grid-template-columns: auto -webkit-min-content;
      grid-template-columns: auto min-content;
      grid-template-rows: auto auto; } }
  @media screen and (max-width: 1000px) {
    .header {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto; } }
  .header__colored-logo {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 1150px) {
      .header__colored-logo {
        padding-bottom: 0.625rem;
        margin-bottom: 0.625rem;
        border-bottom: 0.125rem solid #bc9cff; }
        .header__colored-logo_closed {
          border-bottom: 0rem solid #bc9cff;
          padding-bottom: 0rem;
          margin-bottom: 0rem; } }
    @media screen and (max-width: 1150px) and (min-width: 1000px) {
      .header__colored-logo {
        grid-column-start: 1;
        grid-column-end: 3; } }
  .header__navigation-menu {
    margin-right: 0.65rem; }
    @media screen and (max-width: 1150px) {
      .header__navigation-menu_closed {
        display: none; } }
  .header__user-full-name {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap;
    padding-left: 1.25rem;
    border-left: 0.0625rem solid rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 1150px) {
      .header__user-full-name_closed {
        display: none; } }
    @media screen and (max-width: 550px) {
      .header__user-full-name {
        margin-top: 1.25rem; } }
  .header__buttons {
    display: flex; }
    @media screen and (max-width: 1150px) {
      .header__buttons_closed {
        display: none; } }
    @media screen and (max-width: 550px) {
      .header__buttons {
        flex-direction: column;
        margin-top: 1.25rem; } }
  .header__sign-in-button {
    width: 5.4375rem;
    height: 2.125rem;
    margin-right: 1.25rem; }
    @media screen and (max-width: 550px) {
      .header__sign-in-button {
        margin-right: 0rem;
        margin-bottom: 0.625rem; } }
  .header__sign-up-button {
    width: 12.25rem;
    height: 2.125rem; }
  .header__burger {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.75rem;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 0.25rem; }
    @media screen and (max-width: 1150px) {
      .header__burger {
        display: flex;
        justify-self: flex-end; }
        .header__burger_closed {
          background: linear-gradient(to bottom, #bc9cff, #8ba4f9); } }
  .header__burger-element {
    width: 1.875rem;
    height: 0.25rem;
    background: white; }
    .header__burger-element_opened:nth-of-type(3) {
      display: none; }
    .header__burger-element_opened:nth-of-type(1) {
      position: absolute;
      top: 1.375rem;
      transform: rotate(45deg); }
    .header__burger-element_opened:nth-of-type(2) {
      position: absolute;
      top: 1.375rem;
      transform: rotate(-45deg); }

.form-input {
  width: 100%; }
  .form-input__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem; }
  .form-input__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #1f2041; }
  .form-input__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.65rem;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    letter-spacing: -0.0187rem; }
  .form-input__input-container {
    display: grid;
    grid-template-rows: 2.625rem;
    grid-template-columns: auto -webkit-min-content;
    grid-template-columns: auto min-content;
    position: relative;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem; }
    .form-input__input-container:hover, .form-input__input-container:focus {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5); }
  .form-input__input {
    padding: 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .form-input__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.25);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent; }
    .form-input__input:-webkit-autofill, .form-input__input:-webkit-autofill:hover, .form-input__input:-webkit-autofill:focus,
    .form-input__input textarea:-webkit-autofill,
    .form-input__input textarea:-webkit-autofill:hover,
    .form-input__input textarea:-webkit-autofill:focus,
    .form-input__input select:-webkit-autofill,
    .form-input__input select:-webkit-autofill:hover,
    .form-input__input select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .form-input__submitter {
    cursor: pointer;
    min-width: 2.625rem;
    border: 0rem solid transparent;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem; }

.colored-logo__ref {
  display: flex;
  align-items: center;
  justify-self: end; }

.colored-logo__logo-symbol {
  margin-right: 0.7813rem; }

.social-media {
  width: 7rem;
  display: flex;
  align-content: center;
  justify-content: space-between; }
  .social-media__ref {
    width: 1.4375rem;
    height: 1.4375rem;
    margin-right: 1.25rem; }
    .social-media__ref:last-of-type {
      margin-right: 0rem; }
  .social-media__image {
    width: 1.4375rem;
    height: 1.4375rem; }

.menu-bar {
  list-style: none;
  justify-self: end;
  display: flex;
  flex-direction: column; }
  .menu-bar__item {
    margin-bottom: 1.3125rem;
    font-size: 0.875rem;
    line-height: 1.0625rem; }
    .menu-bar__item:first-of-type {
      margin-top: 0.25rem;
      margin-bottom: 1.3rem; }
      .menu-bar__item:first-of-type .menu-bar__item-ref {
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
        color: #1f2041; }
    .menu-bar__item:last-of-type {
      margin-bottom: 0rem; }
  .menu-bar__item-ref {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgba(31, 32, 65, 0.5);
    word-break: break-word; }
    .menu-bar__item-ref:hover {
      color: rgba(31, 32, 65, 0.75); }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05); }
  .footer__info-bar {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25.9% 17.2% 17.3% 19.6% 20%;
    justify-items: start;
    margin-bottom: 0.0625rem;
    padding: 6.25rem 9.72222%;
    box-shadow: 0rem 0.0625rem 0rem rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 1300px) {
      .footer__info-bar {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 31% 22% 22.5% 24.5%; } }
    @media screen and (max-width: 1100px) {
      .footer__info-bar {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 39% 30% 30.5%;
        grid-row-gap: 1.875rem; } }
    @media screen and (max-width: 850px) {
      .footer__info-bar {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 55% 45%; } }
    @media screen and (max-width: 767px) {
      .footer__info-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        box-shadow: 0rem 0rem 0rem transparent; } }
  .footer__general-info {
    width: 16.25rem;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 767px) {
      .footer__general-info {
        align-items: center; } }
  .footer__general-info-text {
    margin-top: 1.125rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    overflow: hidden;
    word-break: break-word; }
    @media screen and (max-width: 767px) {
      .footer__general-info-text {
        display: none; } }
  @media screen and (max-width: 767px) {
    .footer__menu-bar {
      display: none; } }
  .footer__subscription {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 0.25rem; }
    @media screen and (max-width: 767px) {
      .footer__subscription {
        display: none; } }
  .footer__subscription-title {
    margin-bottom: 1.1875rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1f2041;
    word-break: break-word; }
  .footer__subscription-description {
    margin-bottom: 1.375rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    word-break: break-word; }
  .footer__subscription-form {
    width: 16.25rem;
    display: flex;
    flex-wrap: nowrap;
    background: transparent; }
  .footer__copyright-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1.4375rem 9.72222% 1.3rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem 0.0625rem 0rem rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 850px) {
      .footer__copyright-bar {
        flex-direction: column; } }
    @media screen and (max-width: 767px) {
      .footer__copyright-bar {
        padding-bottom: 7.5rem; } }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.6rem;
    color: rgba(31, 32, 65, 0.75);
    text-align: center; }
    @media screen and (max-width: 850px) {
      .footer__copyright {
        margin-bottom: 1.25rem; } }

.colored-logo__ref {
  display: flex;
  align-items: center;
  justify-self: end; }

.colored-logo__logo-symbol {
  margin-right: 0.7813rem; }

.social-media {
  width: 7rem;
  display: flex;
  align-content: center;
  justify-content: space-between; }
  .social-media__ref {
    width: 1.4375rem;
    height: 1.4375rem;
    margin-right: 1.25rem; }
    .social-media__ref:last-of-type {
      margin-right: 0rem; }
  .social-media__image {
    width: 1.4375rem;
    height: 1.4375rem; }

.short-footer {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.55rem 12.5rem;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 767px) {
    .short-footer {
      width: 100%;
      padding: 7.55rem 9.72222%; } }
  .short-footer__text {
    margin-top: 1.125rem;
    margin-bottom: 1.28rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
    color: rgba(31, 32, 65, 0.75); }

html {
  background: #f4f4f6; }

.headers-and-footers {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 8.125rem;
  padding-top: 3.875rem; }
  .headers-and-footers__header, .headers-and-footers__footer {
    min-width: 100%;
    margin-bottom: 2.5rem; }
  .headers-and-footers__footer {
    display: flex;
    justify-content: center; }

