@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Montserrat/montserrat-regular.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-regular.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Montserrat/montserrat-bold.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-bold.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-bold.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Quicksand/quicksand-regular.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-regular.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Quicksand/quicksand-bold.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-bold.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-bold.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/OpenSans/open-sans-regular.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-regular.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-regular.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/OpenSans/open-sans-bold.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-bold.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-bold.ttf) format("truetype"); }

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.5);
  background: white; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

html {
  background: #e2e2e2; }

.ui-kit {
  display: flex;
  flex-direction: column;
  padding: 0rem 5%; }
  .ui-kit__title {
    margin-top: 1.25rem;
    font-weight: bold;
    font-size: 1.75rem;
    color: #181818; }
  .ui-kit__refs-list {
    display: flex;
    flex-direction: column;
    padding-left: 3.125rem;
    list-style: none; }
  .ui-kit__item {
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
    position: relative; }
  .ui-kit__item::after {
    content: '';
    width: 0.625rem;
    height: 0.625rem;
    position: absolute;
    border-radius: 50%;
    background: #3f3f3f; }
  .ui-kit__ref {
    margin-left: 1.25rem; }
  .ui-kit__ref-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: #3f3f3f; }
  .ui-kit__ref-text:hover {
    color: #e65050; }

