@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff), url(src/assets/fonts/Montserrat/montserrat-regular.woff2), url(src/assets/fonts/Montserrat/montserrat-regular.eot), url(src/assets/fonts/Montserrat/montserrat-regular.ttf), url(src/assets/fonts/Montserrat/montserrat-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff), url(src/assets/fonts/Montserrat/montserrat-bold.woff2), url(src/assets/fonts/Montserrat/montserrat-bold.eot), url(src/assets/fonts/Montserrat/montserrat-bold.ttf), url(src/assets/fonts/Montserrat/montserrat-bold.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff), url(src/assets/fonts/Quicksand/quicksand-regular.woff2), url(src/assets/fonts/Quicksand/quicksand-regular.eot), url(src/assets/fonts/Quicksand/quicksand-regular.ttf), url(src/assets/fonts/Quicksand/quicksand-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff), url(src/assets/fonts/Quicksand/quicksand-bold.woff2), url(src/assets/fonts/Quicksand/quicksand-bold.eot), url(src/assets/fonts/Quicksand/quicksand-bold.ttf), url(src/assets/fonts/Quicksand/quicksand-bold.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff), url(src/assets/fonts/OpenSans/open-sans-regular.woff2), url(src/assets/fonts/OpenSans/open-sans-regular.eot), url(src/assets/fonts/OpenSans/open-sans-regular.ttf), url(src/assets/fonts/OpenSans/open-sans-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff), url(src/assets/fonts/OpenSans/open-sans-bold.woff2), url(src/assets/fonts/OpenSans/open-sans-bold.eot), url(src/assets/fonts/OpenSans/open-sans-bold.ttf), url(src/assets/fonts/OpenSans/open-sans-bold.svg);
  font-weight: bold;
  font-style: normal; }

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

* {
  font-family: Montserrat, monospace; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

body {
  background: #e2e2e2; }

.ui-kit {
  display: flex;
  flex-direction: column;
  padding: 0px 5%; }
  .ui-kit__title {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #181818; }
  .ui-kit__refs-list {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    list-style: none; }
  .ui-kit__item {
    position: relative;
    display: flex;
    align-items: center; }
  .ui-kit__item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3f3f3f;
    margin-left: -30px; }
  .ui-kit__ref-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #3f3f3f; }
  .ui-kit__ref-text:hover {
    color: #e65050; }

