@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Montserrat/montserrat-regular.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-regular.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-regular.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Montserrat/montserrat-bold.eot);
  src: url(src/assets/fonts/Montserrat/montserrat-bold.woff2) format("woff2"), url(src/assets/fonts/Montserrat/montserrat-bold.woff) format("woff"), url(src/assets/fonts/Montserrat/montserrat-bold.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Quicksand/quicksand-regular.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-regular.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-regular.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Quicksand/quicksand-bold.eot);
  src: url(src/assets/fonts/Quicksand/quicksand-bold.woff2) format("woff2"), url(src/assets/fonts/Quicksand/quicksand-bold.woff) format("woff"), url(src/assets/fonts/Quicksand/quicksand-bold.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/OpenSans/open-sans-regular.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-regular.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-regular.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-regular.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/OpenSans/open-sans-bold.eot);
  src: url(src/assets/fonts/OpenSans/open-sans-bold.woff2) format("woff2"), url(src/assets/fonts/OpenSans/open-sans-bold.woff) format("woff"), url(src/assets/fonts/OpenSans/open-sans-bold.ttf) format("truetype"); }

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.5);
  background: white; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: flex;
  flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  z-index: 100; }
  .datepicker.-from-top- {
    transform: translateY(-8px); }
  .datepicker.-from-right- {
    transform: translateX(8px); }
  .datepicker.-from-bottom- {
    transform: translateY(8px); }
  .datepicker.-from-left- {
    transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative; }
  .datepicker--time.-am-pm- .datepicker--time-sliders {
    flex: 0 1 138px;
    max-width: 138px; }
  .-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }
  .datepicker--time-current-hours:after,
  .datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
  .datepicker--time-row:first-child {
    margin-bottom: 4px; }
  .datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-ms-tooltip {
      display: none; }
    .datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-moz-range-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-ms-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:focus {
      outline: none; }
      .datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-moz-range-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-ms-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      -webkit-transition: background .2s;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-moz-range-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      -moz-transition: background .2s;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-ms-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      -ms-transition: background .2s;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      margin-top: -6px; }
    .datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-moz-range-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-lower {
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-upper {
      background: transparent; }
  .datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }
  .datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
  .datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    transform: translateY(-100%); }
  .datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

.colored-logo__ref {
  display: flex;
  align-items: center;
  justify-self: end; }

.colored-logo__logo-symbol {
  margin-right: 0.7813rem; }

.navigation-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 1000px) {
    .navigation-menu {
      display: flex;
      flex-direction: column; } }
  .navigation-menu__item {
    display: flex;
    align-items: center;
    margin: 0rem 0.625rem; }
    @media screen and (max-width: 1000px) {
      .navigation-menu__item {
        margin: 0.625rem 0rem; } }
    .navigation-menu__item:first-child {
      margin: 0rem 0.625rem 0rem 0rem;
      font-weight: bold; }
    .navigation-menu__item:hover .navigation-menu__submenu {
      display: block; }
    .navigation-menu__item:hover .navigation-menu__dropdown-arrow {
      transform: rotate(180deg); }
  .navigation-menu__item-ref {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    white-space: nowrap;
    letter-spacing: 0.005em; }
  .navigation-menu__item-ref-text:hover {
    color: rgba(31, 32, 65, 0.75); }
  .navigation-menu__dropdown-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: rgba(31, 32, 65, 0.5); }
  .navigation-menu__submenu {
    z-index: 1;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    padding: 0.625rem 0.625rem 0rem 0.625rem;
    background: white; }
    @media screen and (max-width: 1000px) {
      .navigation-menu__submenu {
        left: 90%;
        padding-top: 0rem; } }
  .navigation-menu__submenu-item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.625rem 0rem; }
    .navigation-menu__submenu-item:first-child {
      margin: 0rem 0rem 0.625rem 0rem; }
    .navigation-menu__submenu-item:hover .navigation-menu__submenu {
      display: block; }
  .navigation-menu__submenu-item-ref {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    white-space: nowrap;
    letter-spacing: 0.005em; }
    .navigation-menu__submenu-item-ref:hover {
      color: rgba(31, 32, 65, 0.75); }

.button {
  width: 100%;
  height: 100%;
  position: relative; }
  .button__background {
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.375rem;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
  .button__basis {
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.375rem;
    background: transparent; }
  .button__text {
    cursor: pointer;
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
    background: transparent;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden; }
    .button__text_with-arrow {
      margin: 0rem 2.5rem; }
  .button__arrow {
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
    font-family: Material Icons;
    font-size: 1.5rem;
    text-align: center;
    color: white; }
  .button:hover .button__background {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button_hollow .button__basis {
    background: white;
    background-clip: padding-box;
    border: solid 0.125rem transparent; }
  .button_hollow .button__arrow {
    color: #bc9cff; }
  .button_hollow .button__text {
    color: #bc9cff; }

.header {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns: auto min-content min-content min-content;
  align-items: center;
  justify-items: start;
  padding: 0.9375rem 9.72222%;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 1150px) {
    .header {
      grid-template-columns: auto -webkit-min-content;
      grid-template-columns: auto min-content;
      grid-template-rows: auto auto; } }
  @media screen and (max-width: 1000px) {
    .header {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto; } }
  .header__colored-logo {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 1150px) {
      .header__colored-logo {
        padding-bottom: 0.625rem;
        margin-bottom: 0.625rem;
        border-bottom: 0.125rem solid #bc9cff; }
        .header__colored-logo_closed {
          border-bottom: 0rem solid #bc9cff;
          padding-bottom: 0rem;
          margin-bottom: 0rem; } }
    @media screen and (max-width: 1150px) and (min-width: 1000px) {
      .header__colored-logo {
        grid-column-start: 1;
        grid-column-end: 3; } }
  .header__navigation-menu {
    margin-right: 0.65rem; }
    @media screen and (max-width: 1150px) {
      .header__navigation-menu_closed {
        display: none; } }
  .header__user-full-name {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap;
    padding-left: 1.25rem;
    border-left: 0.0625rem solid rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 1150px) {
      .header__user-full-name_closed {
        display: none; } }
    @media screen and (max-width: 550px) {
      .header__user-full-name {
        margin-top: 1.25rem; } }
  .header__buttons {
    display: flex; }
    @media screen and (max-width: 1150px) {
      .header__buttons_closed {
        display: none; } }
    @media screen and (max-width: 550px) {
      .header__buttons {
        flex-direction: column;
        margin-top: 1.25rem; } }
  .header__sign-in-button {
    width: 5.4375rem;
    height: 2.125rem;
    margin-right: 1.25rem; }
    @media screen and (max-width: 550px) {
      .header__sign-in-button {
        margin-right: 0rem;
        margin-bottom: 0.625rem; } }
  .header__sign-up-button {
    width: 12.25rem;
    height: 2.125rem; }
  .header__burger {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.75rem;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 0.25rem; }
    @media screen and (max-width: 1150px) {
      .header__burger {
        display: flex;
        justify-self: flex-end; }
        .header__burger_closed {
          background: linear-gradient(to bottom, #bc9cff, #8ba4f9); } }
  .header__burger-element {
    width: 1.875rem;
    height: 0.25rem;
    background: white; }
    .header__burger-element_opened:nth-of-type(3) {
      display: none; }
    .header__burger-element_opened:nth-of-type(1) {
      position: absolute;
      top: 1.375rem;
      transform: rotate(45deg); }
    .header__burger-element_opened:nth-of-type(2) {
      position: absolute;
      top: 1.375rem;
      transform: rotate(-45deg); }

.calendar {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .calendar__input-container {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .calendar__input-container_date_from {
      margin-right: 1.25rem; }
    .calendar__input-container_date_from, .calendar__input-container_date_to {
      width: 46.875%; }
  .calendar__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem; }
  .calendar__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #1f2041; }
  .calendar__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.55rem;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    letter-spacing: -0.0187rem; }
  .calendar__label {
    cursor: pointer;
    width: 9.375rem;
    display: grid;
    grid-template-columns: auto 2.625rem;
    grid-template-rows: 2.625rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem; }
    .calendar__label:hover, .calendar__label:focus {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5); }
    .calendar__label_date_from, .calendar__label_date_to {
      width: 100%; }
  .calendar__input {
    cursor: pointer;
    padding: 0rem 0rem 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .calendar__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.75);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent; }
    .calendar__input:-webkit-autofill, .calendar__input:-webkit-autofill:hover, .calendar__input:-webkit-autofill:focus,
    .calendar__input textarea:-webkit-autofill,
    .calendar__input textarea:-webkit-autofill:hover,
    .calendar__input textarea:-webkit-autofill:focus,
    .calendar__input select:-webkit-autofill,
    .calendar__input select:-webkit-autofill:hover,
    .calendar__input select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .calendar__dropdown-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    background: transparent;
    outline: none; }
  .calendar__buttons {
    display: flex;
    flex-direction: row;
    margin: 1.125rem 1.25rem 0rem 1.25rem; }
  .calendar__apply-button {
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #bc9cff; }
    .calendar__apply-button:hover, .calendar__apply-button:focus {
      color: rgba(31, 32, 65, 0.5); }
  .calendar__clear-button {
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #bc9cff; }
    .calendar__clear-button:hover, .calendar__clear-button:focus {
      color: rgba(31, 32, 65, 0.5); }
    .calendar__clear-button_visible {
      display: block; }

.datepicker {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 1.25rem;
  background: white;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  border-radius: 0.25rem; }
  .datepicker * {
    font-family: Montserrat, Arial, sans-serif; }
  @media screen and (max-width: 20rem) {
    .datepicker.active {
      border: 0rem; } }
  .datepicker.-bottom-right-, .datepicker.-bottom-right-.active {
    margin-left: -1.75rem; }
    @media screen and (max-width: 20rem) {
      .datepicker.-bottom-right-, .datepicker.-bottom-right-.active {
        margin-left: -3.625rem; } }
  .datepicker.-bottom-left-, .datepicker.-bottom-left-.active {
    margin-left: -0.125rem; }
    @media screen and (max-width: 20rem) {
      .datepicker.-bottom-left-, .datepicker.-bottom-left-.active {
        margin-left: -2rem; } }
  .datepicker.active {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .datepicker--cells {
    width: 17.5rem; }
  .datepicker--cell {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: rgba(31, 32, 65, 0.5); }
    .datepicker--cell-day.-focus- {
      border-radius: 50%;
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)); }
    .datepicker--cell-day.-selected- {
      position: relative;
      background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
      border-radius: 50%; }
      .datepicker--cell-day.-selected-.-focus- {
        background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
    .datepicker--cell-day.-in-range-.-focus- {
      border-radius: 0%;
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)); }
    .datepicker--cell-day.-current- {
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 50%;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      text-align: center;
      color: white; }
      .datepicker--cell-day.-current-.-focus- {
        color: white; }
      .datepicker--cell-day.-current-.-in-range- {
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
        border-radius: 50%;
        border: 0rem;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        color: white; }
        .datepicker--cell-day.-current-.-in-range-::after {
          content: '';
          z-index: -1;
          width: 50%;
          height: inherit;
          position: absolute;
          margin-left: 50%;
          background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)); }
      .datepicker--cell-day.-current-.-range-to-::after {
        background: transparent; }
    .datepicker--cell-day.-in-range-.-other-month-, .datepicker--cell-day.-in-range-.-other-month-.-focus- {
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
      color: rgba(31, 32, 65, 0.25); }
    .datepicker--cell-day.-range-from-, .datepicker--cell-day.-range-to-, .datepicker--cell-day.-range-from-.-current-, .datepicker--cell-day.-range-to-.-current-, .datepicker--cell-day.-range-from-.-other-month-, .datepicker--cell-day.-range-to-.-other-month-, .datepicker--cell-day.-range-from-.-other-month-.-selected-.-focus-, .datepicker--cell-day.-range-to-.-other-month-.-selected-.-focus- {
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
      border-radius: 50%;
      border: 0rem;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      color: white; }
    .datepicker--cell-day.-range-from-::after {
      content: '';
      z-index: -1;
      width: 50%;
      height: inherit;
      position: absolute;
      margin-left: 50%;
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)); }
    .datepicker--cell-day.-range-to-::after {
      content: '';
      z-index: -1;
      width: 50%;
      height: inherit;
      position: absolute;
      margin-right: 50%;
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)); }
    .datepicker--cell-day.-range-from-.-disabled-::after, .datepicker--cell-day.-range-to-.-disabled-::after {
      background: transparent; }
    .datepicker--cell-day.-in-range- {
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
      color: rgba(31, 32, 65, 0.5); }
    .datepicker--cell-day.-disabled-, .datepicker--cell-day.-disabled-.-focus- {
      font-style: normal;
      font-weight: normal;
      color: rgba(31, 32, 65, 0.25);
      background: transparent; }
    .datepicker--cell-day.-range-from-.-other-month-.-disabled-, .datepicker--cell-day.-range-from-.-other-month-.-focus-.-disabled-, .datepicker--cell-day.-range-from-.-focus-.-disabled-, .datepicker--cell-day.-in-range-.-other-month-.-disabled-, .datepicker--cell-day.-in-range-.-other-month-.-focus-.-disabled-, .datepicker--cell-day.-in-range-.-focus-.-disabled- {
      color: rgba(31, 32, 65, 0.25);
      background: transparent; }
    .datepicker--cell-day.-range-from-.-disabled-, .datepicker--cell-day.-in-range-.-disabled- {
      color: rgba(31, 32, 65, 0.25);
      background: transparent; }
    .datepicker--cell-month, .datepicker--cell-year {
      width: 4.375rem;
      height: 4.375rem; }
      .datepicker--cell-month.-focus-, .datepicker--cell-year.-focus- {
        border-radius: 50%;
        background: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)); }
      .datepicker--cell-month.-current-, .datepicker--cell-year.-current- {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        color: white;
        border-radius: 50%; }
        .datepicker--cell-month.-current-.-focus-, .datepicker--cell-year.-current-.-focus- {
          color: white; }
      .datepicker--cell-month.-selected-, .datepicker--cell-month.-selected-.-current-, .datepicker--cell-year.-selected-, .datepicker--cell-year.-selected-.-current- {
        background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
        color: white;
        border-radius: 50%; }
  .datepicker--content {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .datepicker--nav {
    padding: 0.9375rem 1rem 0.9375rem 1rem;
    border: 0rem solid transparent; }
    .datepicker--nav-title {
      font-family: Quicksand, OpenSans, Arial, sans-serif;
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 1.5rem;
      text-align: center;
      color: #1f2041; }
    .datepicker--nav-action {
      position: relative; }
      .datepicker--nav-action > svg {
        opacity: 0; }
      .datepicker--nav-action:first-child::after {
        content: 'arrow_back';
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: Material Icons;
        font-size: 1.5rem;
        line-height: 1.5rem;
        border: 0rem solid transparent;
        background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent; }
      .datepicker--nav-action:last-child::after {
        content: 'arrow_forward';
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: Material Icons;
        font-size: 1.5rem;
        line-height: 1.5rem;
        border: 0rem solid transparent;
        background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent; }
  .datepicker--days-names {
    width: 17.5rem;
    margin: 0.3125rem 0 0rem; }
  .datepicker--day-name {
    min-width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: #bc9cff;
    text-transform: none; }
  .datepicker--months {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .datepicker--months > .datepicker--cells-months {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      display: flex;
      justify-content: space-between; }
  .datepicker--years {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .datepicker--years > .datepicker--cells-years {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      display: flex;
      justify-content: space-between; }

.dropdown {
  width: 100%; }
  .dropdown__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem; }
  .dropdown__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1f2041; }
  .dropdown__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5); }
  .dropdown__container {
    display: flex;
    flex-direction: column;
    position: relative; }
  .dropdown__input-container {
    display: grid;
    grid-template-rows: 2.625rem;
    grid-template-columns: auto -webkit-min-content;
    grid-template-columns: auto min-content;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem; }
    .dropdown__input-container:hover, .dropdown__input-container:focus {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5); }
    .dropdown__input-container_opened {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5);
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem; }
  .dropdown__input {
    cursor: pointer;
    padding: 0rem 0.9375rem 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .dropdown__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.75);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent; }
    .dropdown__input:-webkit-autofill, .dropdown__input:-webkit-autofill:hover, .dropdown__input:-webkit-autofill:focus,
    .dropdown__input textarea:-webkit-autofill,
    .dropdown__input textarea:-webkit-autofill:hover,
    .dropdown__input textarea:-webkit-autofill:focus,
    .dropdown__input select:-webkit-autofill,
    .dropdown__input select:-webkit-autofill:hover,
    .dropdown__input select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .dropdown__list {
    display: none;
    width: 100%;
    list-style: none;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    position: absolute;
    top: 2.75rem;
    background: white;
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
    border-top: 0rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    z-index: 9999; }
    .dropdown__list:hover, .dropdown__list:focus {
      border-top: 0rem; }
    .dropdown__list_opened {
      display: flex; }
  .dropdown__dropdown-arrow {
    cursor: pointer;
    width: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0rem solid transparent;
    background: rgba(31, 32, 65, 0.75);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .dropdown__list-item {
    display: grid;
    grid-template-columns: auto 5.7525rem;
    align-items: center;
    padding: 0rem 0.3725rem 0rem 0.8375rem;
    margin-bottom: 0.4375rem; }
    .dropdown__list-item:first-of-type {
      margin-top: 0.35rem; }
  .dropdown__item-name {
    overflow: auto;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1f2041; }
  .dropdown__item-handler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .dropdown__item-minus, .dropdown__item-plus {
    cursor: pointer;
    width: 1.875rem;
    border-radius: 1.9375rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    background: transparent;
    outline: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #1f2041; }
  .dropdown__item-minus {
    opacity: 0.38; }
    .dropdown__item-minus_active {
      opacity: 1; }
  .dropdown__item-value {
    margin: 0rem 0.3125rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: center;
    text-transform: uppercase;
    color: #1f2041; }
  .dropdown__control-buttons {
    display: flex;
    margin: 0.875rem 0.375rem 0.7rem 0.8125rem; }
  .dropdown__apply-button {
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #bc9cff; }
    .dropdown__apply-button:hover, .dropdown__apply-button:focus {
      color: rgba(31, 32, 65, 0.5); }
  .dropdown__clear-button {
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #bc9cff; }
    .dropdown__clear-button:hover, .dropdown__clear-button:focus {
      color: rgba(31, 32, 65, 0.5); }
    .dropdown__clear-button_visible {
      display: flex; }

.button {
  width: 100%;
  height: 100%;
  position: relative; }
  .button__background {
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.375rem;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }
  .button__basis {
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.375rem;
    background: transparent; }
  .button__text {
    cursor: pointer;
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
    background: transparent;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden; }
    .button__text_with-arrow {
      margin: 0rem 2.5rem; }
  .button__arrow {
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
    font-family: Material Icons;
    font-size: 1.5rem;
    text-align: center;
    color: white; }
  .button:hover .button__background {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button_hollow .button__basis {
    background: white;
    background-clip: padding-box;
    border: solid 0.125rem transparent; }
  .button_hollow .button__arrow {
    color: #bc9cff; }
  .button_hollow .button__text {
    color: #bc9cff; }

.room-finder-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.6875rem 1.875rem 1.875rem;
  background: white;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem; }
  .room-finder-form__title {
    width: 100%;
    display: flex;
    margin-bottom: 1.25rem;
    font-family: Quicksand, OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #1f2041; }
  .room-finder-form__calendar {
    width: 100%;
    margin-bottom: 1.25rem; }
  .room-finder-form__dropdown {
    width: 100%;
    margin-bottom: 1.9375rem; }
  .room-finder-form__submit-button {
    width: 100%;
    height: 2.75rem; }

.form-input {
  width: 100%; }
  .form-input__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem; }
  .form-input__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #1f2041; }
  .form-input__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.65rem;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    letter-spacing: -0.0187rem; }
  .form-input__input-container {
    display: grid;
    grid-template-rows: 2.625rem;
    grid-template-columns: auto -webkit-min-content;
    grid-template-columns: auto min-content;
    position: relative;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem; }
    .form-input__input-container:hover, .form-input__input-container:focus {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5); }
  .form-input__input {
    padding: 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .form-input__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.25);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent; }
    .form-input__input:-webkit-autofill, .form-input__input:-webkit-autofill:hover, .form-input__input:-webkit-autofill:focus,
    .form-input__input textarea:-webkit-autofill,
    .form-input__input textarea:-webkit-autofill:hover,
    .form-input__input textarea:-webkit-autofill:focus,
    .form-input__input select:-webkit-autofill,
    .form-input__input select:-webkit-autofill:hover,
    .form-input__input select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .form-input__submitter {
    cursor: pointer;
    min-width: 2.625rem;
    border: 0rem solid transparent;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem; }

.colored-logo__ref {
  display: flex;
  align-items: center;
  justify-self: end; }

.colored-logo__logo-symbol {
  margin-right: 0.7813rem; }

.social-media {
  width: 7rem;
  display: flex;
  align-content: center;
  justify-content: space-between; }
  .social-media__ref {
    width: 1.4375rem;
    height: 1.4375rem;
    margin-right: 1.25rem; }
    .social-media__ref:last-of-type {
      margin-right: 0rem; }
  .social-media__image {
    width: 1.4375rem;
    height: 1.4375rem; }

.menu-bar {
  list-style: none;
  justify-self: end;
  display: flex;
  flex-direction: column; }
  .menu-bar__item {
    margin-bottom: 1.3125rem;
    font-size: 0.875rem;
    line-height: 1.0625rem; }
    .menu-bar__item:first-of-type {
      margin-top: 0.25rem;
      margin-bottom: 1.3rem; }
      .menu-bar__item:first-of-type .menu-bar__item-ref {
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
        color: #1f2041; }
    .menu-bar__item:last-of-type {
      margin-bottom: 0rem; }
  .menu-bar__item-ref {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgba(31, 32, 65, 0.5);
    word-break: break-word; }
    .menu-bar__item-ref:hover {
      color: rgba(31, 32, 65, 0.75); }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05); }
  .footer__info-bar {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25.9% 17.2% 17.3% 19.6% 20%;
    justify-items: start;
    margin-bottom: 0.0625rem;
    padding: 6.25rem 9.72222%;
    box-shadow: 0rem 0.0625rem 0rem rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 1300px) {
      .footer__info-bar {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 31% 22% 22.5% 24.5%; } }
    @media screen and (max-width: 1100px) {
      .footer__info-bar {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 39% 30% 30.5%;
        grid-row-gap: 1.875rem; } }
    @media screen and (max-width: 850px) {
      .footer__info-bar {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 55% 45%; } }
    @media screen and (max-width: 767px) {
      .footer__info-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        box-shadow: 0rem 0rem 0rem transparent; } }
  .footer__general-info {
    width: 16.25rem;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 767px) {
      .footer__general-info {
        align-items: center; } }
  .footer__general-info-text {
    margin-top: 1.125rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    overflow: hidden;
    word-break: break-word; }
    @media screen and (max-width: 767px) {
      .footer__general-info-text {
        display: none; } }
  @media screen and (max-width: 767px) {
    .footer__menu-bar {
      display: none; } }
  .footer__subscription {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 0.25rem; }
    @media screen and (max-width: 767px) {
      .footer__subscription {
        display: none; } }
  .footer__subscription-title {
    margin-bottom: 1.1875rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1f2041;
    word-break: break-word; }
  .footer__subscription-description {
    margin-bottom: 1.375rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    word-break: break-word; }
  .footer__subscription-form {
    width: 16.25rem;
    display: flex;
    flex-wrap: nowrap;
    background: transparent; }
  .footer__copyright-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1.4375rem 9.72222% 1.3rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem 0.0625rem 0rem rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 850px) {
      .footer__copyright-bar {
        flex-direction: column; } }
    @media screen and (max-width: 767px) {
      .footer__copyright-bar {
        padding-bottom: 7.5rem; } }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.6rem;
    color: rgba(31, 32, 65, 0.75);
    text-align: center; }
    @media screen and (max-width: 850px) {
      .footer__copyright {
        margin-bottom: 1.25rem; } }

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media screen and (max-width: 768px) {
    .landing-page {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .landing-page__form {
    z-index: 2;
    width: 23.75rem;
    position: absolute;
    margin-top: 4.86111%;
    margin-left: 9.62222%; }
    @media screen and (max-width: 768px) {
      .landing-page__form {
        position: relative;
        order: 2;
        margin-top: 0rem;
        margin-left: 0rem; } }
    @media screen and (max-width: 380px) {
      .landing-page__form {
        width: 100%; } }
  .landing-page__background {
    z-index: 1;
    width: 100%;
    height: 51.875rem;
    display: flex;
    position: relative;
    background-image: url(src/pages/web-pages/landing-page/img/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 768px) {
      .landing-page__background {
        order: 1; } }
  .landing-page__subtitle {
    z-index: 2;
    width: 18.5625rem;
    position: absolute;
    bottom: 2.36111%;
    right: 9.30556%; }
  .landing-page__subtitle-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    color: rgba(31, 32, 65, 0.75); }

