&__navMenu {
    width: (100% * 530%) / 1440%;
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 527px;
    margin: 26px 30px 23px 0px;
}
