&__navMenuItem {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    a {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
        p {
            font-family: MontserratRegular;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &_firstItem {
        margin: 0px 15px 0px 0px;
        a {
            color: rgba(31, 32, 65, 0.75);
            p {
                font-family: MontserratBold;
            }
        }
    }

    &_lastItem {
        margin: 0px 0px 0px 15px;
    }
}
