&__navMenuItem {
    display: flex;
    align-items: center;
    margin: 0px 14px;
    a {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
        p {
            font-family: MontserratRegular;
/*             font-family: Montserrat; */
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            white-space: nowrap;
            letter-spacing: 0px;
        }
    }

    &_firstItem {
        margin: 0px 15px 0px 0px;
        a {
            color: rgba(31, 32, 65, 0.75);
            p {
                font-family: MontserratBold;
            }
        }
    }

    &_lastItem {
        margin: 0px 0px 0px 15px;
    }

    &_expandMore {
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;

        display: flex;
        align-items: center;
        text-align: center;

        color: rgba(31, 32, 65, 0.5);
    }

    &:nth-child(3) {
        margin-right: 5px;
    }
}
