include ../../../components/ColorsAndType/ColorAndFontBlocks.pug

doctype html
html
    head
        meta(charset="utf-8")
        title ColorsAndType
        meta(name="viewport" content="width=device-width")            
    body
        div(class=["colors-and-type"])
            div(class=["colors-and-type__global-logo-container"])
                include ../../../components/GlobalLogo/GlobalLogo.pug

            div(class=["colors-and-type__colors-and-fonts-container"])

                div(class=["colors-and-type__color-blocks-container"])
                    - for(let i = 100; i >= 25; i-=25)
                        div(class=["colors-and-type__color-block-container"])
                            +getColorBlock({
                                colorName: "Dark Shade " + i + "%",
                                colorCode: "#1F2041",
                                backgroundColor: "darkShade" + i,
                            })
                    
                    div(class=["colors-and-type__color-block-container"])
                        +getColorBlock({
                            colorName: "Dark Shade 5%",
                            colorCode: "#1F2041",
                            backgroundColor: "darkShade5",
                        })
                    
                    div(class=["colors-and-type__color-block-container"])
                        +getColorBlock({
                            colorName: "Purple",
                            colorCode: "#BC9CFF",
                            backgroundColor: "purple",
                        })

                    div(class=["colors-and-type__color-block-container"])
                        +getColorBlock({
                            colorName: "Green",
                            colorCode: "#6FCF97",
                            backgroundColor: "green",
                        })


                div(class=["colors-and-type__font-blocks-container"])
                    div(class=["colors-and-type__font-block-container"])
                        +getFontBlock({
                            tagOptions: {
                                tagName: "H1",
                                family: "montserrat",
                                weight: "regular",
                                size: "24px",
                                color: "darkShade25"
                            },
                            descriptionOptions: {
                                text: "This one is the sub-section or widget title",
                                family: "quicksand",
                                weight: "bold",                                
                                size: "24px",
                                color: "darkShade100",
                                lineHeight: "30px",
                            }
                        })  

                    div(class=["colors-and-type__font-block-container"])
                        +getFontBlock({
                            tagOptions: {
                                tagName: "H2",
                                family: "montserrat",
                                weight: "regular",
                                size: "19px",
                                color: "darkShade25"
                            },
                            descriptionOptions: {
                                text: "Next one is the item title inside widgets",
                                family: "quicksand",
                                weight: "bold",
                                size: "19px",
                                color: "darkShade100",
                                lineHeight: "24px",
                            }
                        })

                    div(class=["colors-and-type__font-block-container"])
                        +getFontBlock({
                            tagOptions: {
                                tagName: "H3",
                                family: "montserrat",
                                weight: "regular",
                                size: "12px",
                                color: "darkShade25"
                            },
                            descriptionOptions: {
                                text: "This is a label or CTA text",
                                family: "montserrat",
                                weight: "bold",
                                size: "12px",
                                color: "darkShade100",
                                lineHeight: "15px",
                                inUppercase: true,
                            }
                        })

                    div(class=["colors-and-type__font-block-container"])
                        +getFontBlock({
                            tagOptions: {
                                tagName: "Body",
                                family: "montserrat",
                                weight: "regular",
                                size: "14px",
                                color: "darkShade25"
                            },
                            descriptionOptions: {
                                text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
                                family: "montserrat",
                                weight: "regular",                                
                                size: "14px",
                                color: "darkShade75",
                                lineHeight: "24px",
                            }
                        })

