.headersAndFooters__footerWidgetsAndCopyrightBar
    .headersAndFooters__infoBar
        .headersAndFooters__someInfo
            include ./StandardNavBar/logo.pug
            p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        
        ul(class=['headersAndFooters__navigation'])
            li(class=['headersAndFooters__navigationItem', 'headersAndFooters__navigationItem_firstItem'])
                a(href='#')
                    p NAVIGATION
            li(class=['headersAndFooters__navigationItem'])
                a(href='#')
                    p About Us
            li(class=['headersAndFooters__navigationItem'])
                a(href='#')
                    p News
            li(class=['headersAndFooters__navigationItem'])
                a(href='#')
                    p Support
            li(class=['headersAndFooters__navigationItem'])
                a(href='#')
                    p Products
        
        ul(class=['headersAndFooters__aboutUs'])
            li(class=['headersAndFooters__aboutUsItem', 'headersAndFooters__aboutUsItem_firstItem'])
                a(href='#')
                    p ABOUT US
            li(class=['headersAndFooters__aboutUsItem'])
                a(href='#')
                    p Who we are
            li(class=['headersAndFooters__aboutUsItem'])
                a(href='#')
                    p Our team
            li(class=['headersAndFooters__aboutUsItem'])
                a(href='#')
                    p Careers
            li(class=['headersAndFooters__aboutUsItem'])
                a(href='#')
                    p Investors
        
        ul(class=['headersAndFooters__support'])
            li(class=['headersAndFooters__supportItem', 'headersAndFooters__supportItem_firstItem'])
                a(href='#')
                    p SUPPORT
            li(class=['headersAndFooters__supportItem'])
                a(href='#')
                    p Documentation
            li(class=['headersAndFooters__supportItem'])
                a(href='#')
                    p Community
            li(class=['headersAndFooters__supportItem'])
                a(href='#')
                    p Get in Touch
        
        form(class=['headersAndFooters__subscribeToOurNewsletter'])
            p SUBSCRIBE TO OUR NEWSLETTER
            p Receive our latest news and promotions in your inbox!
            input(class=['headersAndFooters__subscribeToOurNewsletterEmailInput']
                  name="email" 
                  value="Your email address"
                  type="email" 
                  placeholder="Your email address")
    
    .headersAndFooters__copyrightBar
        .headersAndFooters__copyright
        .headersAndFooters__socialMedia