.headersAndFooters__navMenuAndButtonDefaultContainer
    ul(class=['headersAndFooters__navMenu'])
        li(class=['headersAndFooters__navMenuItem', 'headersAndFooters__navMenuItem_firstItem']) 
            a(href='#')
                p Home
        li(class=['headersAndFooters__navMenuItem'])
            a(href='#')
                p About Us
        li(class=['headersAndFooters__navMenuItem']) 
            a(href='#')
                p Services
        li(class=['headersAndFooters__navMenuItem'])
            a(href='#')
                p Careers
        li(class=['headersAndFooters__navMenuItem'])
            a(href='#')
                p News
        li(class=['headersAndFooters__navMenuItem', 'headersAndFooters__navMenuItem_lastItem'])
            a(href='#')
                p Documentation
    div(class=[
        'headersAndFooters__buttonDefault',
        'headersAndFooters__buttonDefault_firstButton'])
        a(class=['headersAndFooters__buttonDefault_hollowButton'] href='#') 
            p LOGIN
    a(class=['headersAndFooters__buttonDefault'] href='#')
        p REGISTER   