.headersAndFooters__standardLoggedInNavBar
    include ./StandardNavBar/logo.pug
    include ./StandardNavBar/navMenu.pug
    +getNavMenu(['headersAndFooters__navMenu_secondNavMenuMargin'])
    include ./StandardLoggedInNavBar/user.pug
    +getUserName('Cosmin Negoita')