.headersAndFooters__standardNavBar
    include ./StandardNavBar/logo.pug
    include ./StandardNavBar/navMenu.pug
    +getNavMenu(['headersAndFooters__navMenu_firstNavMenuMargin'])
    include ./StandardNavBar/getButtonDefault.pug
    +getButton('LOGIN', true, ['headersAndFooters__buttonDefault_firstButton', 'headersAndFooters__buttonDefault_hollowSize'])
    +getButton('REGISTER', false, 'headersAndFooters__buttonDefault_size')