.headersAndFooters__standardNavBar
    include ./standardNavBar/logo.pug
    include ./standardNavBar/navMenu.pug
    include ./standardNavBar/hollowButton.pug
    +hollowButton('LOGIN')
    include ./standardNavBar/buttonDefault.pug
    +buttonDefault('REGISTER')