.headersAndFooters__standardNavBar
    include ./StandardNavBar/logo.pug
    include ./StandardNavBar/navMenu.pug
    include ./StandardNavBar/hollowButton.pug
    +hollowButton('LOGIN')
    include ./StandardNavBar/buttonDefault.pug
    +buttonDefault('REGISTER')