.headersAndFooters__standardLoggedInNavBar
    include ./StandardNavBar/logo.pug
    include ./StandardNavBar/navMenu.pug
    include ./StandardLoggedInNavBar/user.pug
    +getUserName('Cosmin Negoita')