.headersAndFooters__standardNavBar
    include ./StandardNavBar/logo.pug
    include ./StandardNavBar/navMenu.pug
    include ./StandardNavBar/buttonDefault.pug
    +getButton('LOGIN', true, 'headersAndFooters__buttonDefault_hollowSize')
    +getButton('REGISTER', false, 'headersAndFooters__buttonDefault_size')