mixin getColorBlock(options, classes={})

    div(class=["colorsAndTypeBlock__colorContainer"])
        div(class=["colorsAndTypeBlock__colorRectangle"].concat(classes.colorRectangle || []))
        div(class=["colorsAndTypeBlock__textContainer"])
            p(class=["colorsAndTypeBlock__colorName"])= options.colorName
            p(class=["colorsAndTypeBlock__colorCode"])= options.colorCode


mixin getFontBlock(options, classes={})

    div(class=["colorsAndTypeBlock__fontContainer"])
        p(class=["colorsAndTypeBlock__tag"].concat(classes.tag || []))= options.tagName
        p(class=["colorsAndTypeBlock__description"].concat(classes.description || []))= options.descriptionText