$dropdown-animation-duration: 1.5s;

.navigation-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0rem 0.625rem;

    @media screen and (max-width: 1000px) {
      margin: 0.625rem 0rem;
    }

    &:first-child {
      margin: 0rem 0.625rem 0rem 0rem;
      font-weight: bold;
    }

    &:hover {
      .navigation-menu__submenu {
        animation: open-navigation-menu $dropdown-animation-duration ease-in-out forwards;

        @keyframes open-navigation-menu {
          from {
            max-height: 0rem;
            padding: 0rem;
            box-shadow: none;
          }
          10% {
            padding: 0.625rem 0.625rem 0rem 0.625rem;
            box-shadow: 0 0.1875rem 0.625rem 0.1875rem $color-dark-shade-25;
          }
          to {
            max-height: 50rem;
            padding: 0.625rem 0.625rem 0rem 0.625rem;
            box-shadow: 0 0.1875rem 0.625rem 0.1875rem $color-dark-shade-25;
          }
        }
      }

      .navigation-menu__dropdown-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__item-ref {
    cursor: pointer;
    display: flex;
    position: relative;
    text-decoration: none;
    color: $color-dark-shade-50;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.005em;
  }

  &__item-ref-text {
    max-width: 7.5rem;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      color: $color-dark-shade-75;
    }
  }

  &__dropdown-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: $color-dark-shade-50;
    transition: transform 0.7s ease-in-out;
  }

  &__submenu {
    z-index: 9999;
    list-style: none;
    width: max-content;
    position: absolute;
    top: 100%;
    background: white;
    overflow-y: hidden;
    animation: close-navigation-menu $dropdown-animation-duration ease-in-out forwards;
    animation-delay: -1s;

    @keyframes close-navigation-menu {
      from {
        max-height: 50rem;
        padding: 0.625rem 0.625rem 0rem 0.625rem;
        box-shadow: 0 0.1875rem 0.625rem 0.1875rem $color-dark-shade-25;
      }
      90% {
        padding: 0.625rem 0.625rem 0rem 0.625rem;
        box-shadow: 0 0.1875rem 0.625rem 0.1875rem $color-dark-shade-25;
      }
      to {
        max-height: 0rem;
        padding: 0rem;
        box-shadow: none;
      }
    }
  }

  &__subitem {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.625rem 0rem;

    &:first-child {
      margin: 0rem 0rem 0.625rem 0rem;
    }

    &:hover .navigation-menu__submenu {
      display: block;
    }
  }

  &__subitem-ref {
    text-decoration: none;
    color: $color-dark-shade-50;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.005em;

    &:hover {
      color: $color-dark-shade-75;
    }
  }

  &__subitem-ref-text {
    max-width: 15rem;
    word-break: break-all;

    &:hover {
      color: $color-dark-shade-75;
    }
  }
}
