mixin navigation-menu(options = {})
  -
    const {
      navigationList = [
        {url: "https://www.error.com/", text: "О нас", hasDropdown: false},
        {url: "https://www.error.com/", text: "Услуги", hasDropdown: true, submenu: [
          {url: "https://www.error.com/", text: "Вакансии"},
          {url: "https://www.error.com/", text: "Новости"},
          {url: "https://www.error.com/", text: "Соглашения"},
        ]},
        {url: "https://www.error.com/", text: "Вакансии", hasDropdown: false},
        {url: "https://www.error.com/", text: "Новости", hasDropdown: false},
        {url: "https://www.error.com/", text: "Соглашения", hasDropdown: true, submenu: [
          {url: "https://www.error.com/", text: "Вакансии"},
          {url: "https://www.error.com/", text: "Новости"},
          {url: "https://www.error.com/", text: "Соглашения"},
        ]},
      ],
    } = options;

  ul(class=["navigation-menu"])
    - for(let item of navigationList)
      li(class=["navigation-menu__item"])
        - if(item.hasDropdown){
          div(class=["navigation-menu__item-ref"])
            ul(class=["navigation-menu__submenu"])
              - for(let subitem of item.submenu)
                li(class=["navigation-menu__submenu-item"]) 
                  a(class=["navigation-menu__submenu-item-ref"] href=subitem.url target="_blank" rel="noopener noreferrer")= subitem.text
            span(class=["navigation-menu__item-ref-text"])= item.text
          div(class=["navigation-menu__dropdown-arrow"]) expand_more
        - }
        - else
          a(class=["navigation-menu__item-ref"] href=item.url target="_blank" rel="noopener noreferrer")= item.text