mixin button(options = {})
  - 
    const { 
      isHollow = false,
      hasArrow = false,
      buttonType = "a",
      text = "click me",
      url = "",
      isForHeader = false,
    } = options;
    const containerClasses = (isHollow ? ["button_hollow"] : []);
    const textClasses = (hasArrow ? ["button__text_with-arrow"] : []);
    textClasses.push(isForHeader ? "button__text_in-header" : "");

  div(class=["button"].concat(containerClasses))
    - if(buttonType === "a")
      a(class=["button__basis"] 
        href=(url || "https://errorpage.com") target=(url ? "_blank" : "") rel=(url ? "noopener noreferrer" : ""))
        - if(hasArrow)
          span(class=["button__arrow"]) arrow_forward
        span(class=["button__text"].concat(textClasses))= text
    - else if(buttonType === "button")
      button(class=["button__basis"])
        - if(hasArrow)
          span(class=["button__arrow"]) arrow_forward
        span(class=["button__text"].concat(textClasses))= text
    - else if(buttonType === "submit")
      label(class=["button__basis"])
        input(class=["button__submit"] type="submit")
        - if(hasArrow)
          span(class=["button__arrow"]) arrow_forward
        span(class=["button__text"].concat(textClasses))= text