@import '../../assets/constants.scss';

$borderRadius: 1.375rem;
.button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: $borderRadius;
    background: $gradient-purple-to-blue;

    &__basis {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0rem;
        right: 0rem;
        top: 0rem;
        bottom: 0rem;
        margin: 0.125rem;
        color: white;
        background: transparent;
        text-decoration: none;
        border-radius: $borderRadius;
        outline: none;
    }
    
    & > button {
        //button не хочет растягиваться без этого
        width: -webkit-fill-available;
    }

    &__text {
        cursor: pointer;
        background: transparent;
        text-align: center;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
    }

    &__arrow {
        cursor: pointer;
        width: 2.75rem;
        position: absolute;
        right: 0rem;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
    }

    &__submit {
        cursor: pointer;
        width: inherit;
        height: inherit;
        position: absolute;
        opacity: 0;
        z-index: 2;
    }

    &:hover {
        background: $gradient-purple-to-blue-50;
    }

    &_hollow {
        & > .button__basis {
            background: white;
            & > .button__text,
            & > .button__arrow {
                color: $color-purple;
            }
        }
    }
}
