@import '../../assets/constants.scss';

$borderRadius: 1.375rem;

.button {
  width: 100%;
  height: 100%;
  position: relative;

  &__background {
    z-index: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $borderRadius;
    background: $gradient-purple-to-blue;
  }

  &__basis {
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $borderRadius;
    background: transparent;
  }

  &__text {
    cursor: pointer;
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
    background: transparent;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;

    &_with-arrow {
      margin: 0rem 2.5rem;
    }
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
    font-family: Material Icons;
    font-size: 1.5rem;
    text-align: center;
    color: white;
  }

  &:hover {
    .button__background {
      background: $gradient-purple-to-blue-50;
    }
  }

  &_hollow {
    .button__basis {
      background: white;
      background-clip: padding-box;
      border: solid 0.125rem transparent;
    }

    .button__arrow {
      color: $color-purple;
    }

    .button__text {
      color: $color-purple;
    }
  }
}
