@import '../../assets/constants.scss';

.pie-chart {
    display: flex;
    flex-direction: column;
    width: max-content;

    @media screen and(max-width: 400px) {
        align-items: center;
    }

    &__title {
        margin-bottom: 18px;

        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $color-dark-shade-100;

        margin-left: 15px;
    }

    &__content {
        display: flex;
        width: max-content;
        position: relative;

        @media screen and(max-width: 400px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__pie {
        display: flex;
    }

    &__inner-text {
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 46px;
        margin-top: 37px;

        @media screen and(max-width: 400px) {
            margin-left: 5px;
            margin-top: 37px;
        }
    }

    &__inner-text-number {
        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $color-purple;
    }

    &__inner-text-word {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $color-purple;
    }

    &__legend {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 17px;
        margin-bottom: 4px;

        @media screen and(max-width: 400px) {
            margin-left: 40px;
            margin-top: 10px;
        }
    }

    &__legend-item {
        display: flex;
        align-items: center;
    }

    &__legend-item-marker {
        min-width: 10px;
        height: 10px;
        border-radius: 50%;
        background: black;
        position: absolute;

        &_1 {
            background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
        &_2 {
            background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
        &_3 {
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
        &_4 {
            background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
    }

    &__legend-item-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $color-dark-shade-75;
        margin-left: 15px;
    }
}
