@import '../../assets/constants.scss';

.pie-chart {
    width: max-content;
    display: flex;
    flex-direction: column;

    @media screen and(max-width: 400rem) {
        align-items: center;
    }

    &__title {
        margin-bottom: 18rem;
        margin-left: 15rem;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19rem;
        line-height: 24rem;
        color: $color-dark-shade-100;
    }

    &__content {
        width: max-content;
        display: flex;
        position: relative;

        @media screen and(max-width: 400rem) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__pie {
        display: flex;
    }

    &__inner-text {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 46rem;
        margin-top: 37rem;

        @media screen and(max-width: 400rem) {
            margin-left: 5rem;
            margin-top: 37rem;
        }
    }

    &__inner-text-number {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 24rem;
        line-height: 30rem;
        color: $color-purple;
    }

    &__inner-text-word {
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-purple;
    }

    &__legend {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 17rem;
        margin-bottom: 4rem;

        @media screen and(max-width: 400rem) {
            margin-left: 40rem;
            margin-top: 10rem;
        }
    }

    &__legend-item {
        display: flex;
        align-items: center;
    }

    &__legend-item-marker {
        min-width: 10rem;
        height: 10rem;
        position: absolute;
        border-radius: 50%;
        background: black;

        &_1 {
            background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
        &_2 {
            background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
        &_3 {
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
        &_4 {
            background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
    }

    &__legend-item-text {
        margin-left: 15rem;
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 24rem;
        color: $color-dark-shade-75;
    }
}
