mixin pie-chart(options)
    -
        const {
            totalValue,
            legends,
        } = options;
        
    - const number = totalValue;
    - let word = "";
    - if (number.toString()[number.toString().length - 1] === "1" && number !== 11)
        - word = "голос";
    - else if ((number.toString()[number.toString().length - 1] > 1 && number.toString()[number.toString().length - 1] <= 4) && (number < 12 || number > 14))
        - word = "голоса";
    - else
        - word = "голосов";

    div(class=["pie-chart"])
        div(class=["pie-chart__title"]) Впечатления от номера
        div(class=["pie-chart__content"])
            div(class=["pie-chart__pie"])
            p(class=["pie-chart__inner-text"])
                span(class=["pie-chart__inner-text-number"])= number
                span(class=["pie-chart__inner-text-word"])= word
            ul(class=["pie-chart__legend"])
                - for(let i = 0; i < 4; i++){
                    li(class=["pie-chart__legend-item"])
                        div(class=["pie-chart__legend-item-marker", "pie-chart__legend-item-marker_" + (i + 1)])
                        p(class=["pie-chart__legend-item-text"])= legends[i]
                - }