extends ../../base/page-base

include ../../../components/sign-in-form/sign-in-form.pug

block content
  div(class=["sign-in"])
    div(class=["sign-in__form"])  
      +sign-in-form({
        title: "Войти",
      })
    div(class=["sign-in__background"])