@import '../../assets/constants.scss';

.like-button {
    width: max-content;
    $buttonHeight: 20rem;
    $buttonWidth: 40rem;
    $buttonTexSidetPaddings: 16rem;
    $borderRadius: 22rem;
    $borderThickness: 2rem;

    &__label {
        width: $buttonWidth;
        height: $buttonHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        position: relative;
        z-index: 1;
        padding: 0rem 2rem;
        color: white;
        text-decoration: none;
        background: $gradient-purple-to-blue;
        border-radius: $borderRadius;
        outline: none;
    }

    &__likes-number_on,
    &__likes-number_off {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0rem;
        right: 0rem;
        top: 0rem;
        bottom: 0rem;
        padding-left: 10rem;
        margin: $borderThickness;
        border-radius: $borderRadius;
        font-style: normal;
        font-weight: normal;
        font-size: 10rem;
        background: white;
        text-align: center;
    }

    &__input {
        cursor: pointer;
        z-index: 2;
        width: $buttonWidth;
        height: $buttonHeight;
        position: absolute;
        opacity: 0;

        &:checked + label {
            background: $gradient-purple-to-blue;

            & > * {
                color: $color-purple;
            }

            & > .like-button__like-symbol::after {
                content: 'favorite';
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & > .like-button__likes-number_off {
                opacity: 0;
            }

            & > .like-button__likes-number_on {
                opacity: 1;
            }
        }

        &:not(:checked) + label {
            background: $color-dark-shade-25;

            & > * {
                color: $color-dark-shade-25;
            }

            & > .like-button__like-symbol::after {
                content: 'favorite_border';
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0rem solid transparent;
            }

            & > .like-button__likes-number_off {
                opacity: 1;
            }

            & > .like-button__likes-number_on {
                opacity: 0;
            }
        }
    }

    &__like-symbol {
        z-index: 2;
        width: $buttonHeight;
        height: $buttonHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0rem;

        &::after {
            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 10rem;
        }
    }
}
