@import '../../assets/constants.scss';

.font-demo {
  display: flex;
  flex-direction: row;

  &__tag {
    margin-right: 1.875rem;
    min-width: 2.3125rem;
    text-align: end;
  }

  &__description {
    max-width: 21rem;
  }

  &_font {
    &-family {
      &_quicksand {
        font-family: Quicksand, OpenSans, Arial, sans-serif;
      }
    }

    &-weight {
      &_bold {
        font-weight: bold;
      }
    }

    &-size {
      &_24px {
        font-size: 1.5rem;
      }

      &_19px {
        font-size: 1.1875rem;
      }

      &_14px {
        font-size: 0.875rem;
      }

      &_12px {
        font-size: 0.75rem;
      }
    }

    &-line-height {
      &_30px {
        line-height: 1.875rem;
      }

      &_24px {
        line-height: 1.5rem;
      }

      &_15px {
        line-height: 0.9375rem;
      }
    }

    &-color {
      &_dark-shade-25 {
        color: $color-dark-shade-25;
      }

      &_dark-shade-75 {
        color: $color-dark-shade-75;
      }

      &_dark-shade-100 {
        color: $color-dark-shade-100;
      }
    }

    &_uppercase {
      text-transform: uppercase;
    }
  }
}
