.font-demo {
    display: flex;
    flex-direction: row;

    &__tag {
        margin-right: 30rem;
        min-width: 37rem;
        text-align: end;
    }

    &__description {
        max-width: 336rem;
    }

    &_font {
        &-family {
            &_montserrat {
                font-family: Montserrat, Arial, monospace;
            }
            &_quicksand {
                font-family: Quicksand, OpenSans, Arial, monospace;
            }
        }

        &-weight {
            &_regular {
                font-weight: normal;
            }
            &_bold {
                font-weight: bold;
            }
        }

        &-size {
            &_24rem {
                font-size: 24rem;
            }
            &_19rem {
                font-size: 19rem;
            }
            &_14rem {
                font-size: 14rem;
            }
            &_12rem {
                font-size: 12rem;
            }
        }

        &-line-height {
            &_30rem {
                line-height: 30rem;
            }
            &_24rem {
                line-height: 24rem;
            }
            &_15rem {
                line-height: 15rem;
            }
        }

        &_uppercase {
            text-transform: uppercase;
        }
    }
}
