@import '../../assets/constants.scss';

.menu-bar {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 21rem;
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 17rem;

        &:first-of-type {
            margin-top: 4rem;
            margin-bottom: 20rem;

            & > .menu-bar__item-ref {
                font-style: normal;
                font-weight: bold;
                font-size: 12rem;
                line-height: 15rem;
                text-transform: uppercase;
                color: $color-dark-shade-100;
            }
        }

        &:last-of-type {
            margin-bottom: 0rem;
        }
    }

    &__item-ref {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 17rem;
        color: $color-dark-shade-50;
        white-space: nowrap;
    }
}
