@import "../../assets/constants.scss";

.menu-bar {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 21px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        &:first-of-type {
            margin-top: 4px;
            margin-bottom: 20px;

            & > .menu-bar__item-ref {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: $color-dark-shade-100;
            }
        }

        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    &__item-ref {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-dark-shade-50;

        white-space: nowrap;
    }
}
