.menu-bar {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 21px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        &:first-of-type {
            margin-top: 4px;
            margin-bottom: 22px;

            & > .menu-bar__item-ref {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #1f2041;
            }
        }

        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    &__item-ref {
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);

        white-space: nowrap;
    }
}
