&__buttonDefault {
    &_firstButton {
        margin-right: 20px;
    }

    $buttonHeight: 34px;
    $borderThickness: 2px;
    &_height:nth-child(n) {
        height: $buttonHeight;

        & > a,
        & > button {
            height: $buttonHeight;
            
            & > p {
                height: $buttonHeight - $borderThickness * 2;
            }
        }
    }
}
