//кнопка как элемент, где перечисленные ниже классы задают локальные параметры(высоту и отступы) для данного блока-контекста
&__buttonDefault {

    &_firstButton {
        margin-right: 20px;
    }

    //размеры задаются локально, относительно текущего блока-контекста 
    &_size {
        $buttonHeight: 34px;
        height: $buttonHeight;
        & > a {
            height: $buttonHeight;
            $hollowBorderSizeThickness: 2px;
            padding: 0px 20px - $hollowBorderSizeThickness;
            & > p {
                //Небольшой трюк(костыль) для того чтобы можно было проще настраивать полые кнопки разной длины,
                //передавая в них просто размер кнопки, без размера внутренней полости.
                //В полой кнопке в свою очередь данный марджин обнуляется модификатором,
                //уменьшая размер полости на толщину рамки, где в данном случае толщина рамки
                //подразумевается равной 2м пикселям.
                margin: 0px $hollowBorderSizeThickness;
            }
        }
    }
}
