mixin getStandardNavBar(isAuthorized)
    .standardNavBar
        include ../HeadersAndFooters.LogoColored/logoColored.pug

        include ./navMenu/navMenu.pug
        if(isAuthorized)
            +getNavMenu(['standardNavBar__navMenu_navMenuMarginForAuthorized'])
        else
            +getNavMenu(['standardNavBar__navMenu_navMenuMarginForNotAuthorized'])    

        if(isAuthorized)
            include ./user/user.pug
            +getUserName('Cosmin Negoita')
        else
            include ../FormElements.ButtonDefault/ButtonDefault.pug
            +getButton({
                text: 'login',
                isHollow:  true,
                buttonType: "a",
            },{
                container: ["standardNavBar__buttonDefault_height", "standardNavBar__buttonDefault_firstButton"]
            })
            +getButton({
                text: 'register',
                isHollow:  false,
                buttonType: "a",
            },{
                container: ["standardNavBar__buttonDefault_height", "standardNavBar__buttonDefault_secondButton"]
            })