mixin getStandardNavBar(isAuthorized)
    .standardNavBar
        include ../HeadersAndFooters.LogoColored/logoColored.pug

        include ./navMenu/navMenu.pug
        if(isAuthorized)
            +getNavMenu(['standardNavBar__navMenu_navMenuMarginForAuthorized'])
        else
            +getNavMenu(['standardNavBar__navMenu_navMenuMarginForNotAuthorized'])    

        if(isAuthorized)
            include ./user/user.pug
            +getUserName('Cosmin Negoita')
        else
            include ../FormElements.ButtonDefault/ButtonDefault.pug
            div(class=["standardNavBar__button-default-container"])
                +getButton({
                    text: 'login',
                    isHollow:  true,
                    buttonType: "a",
                    width: "79px",
                    height: "34px",
                })
                +getButton({
                    text: 'register',
                    isHollow:  false,
                    buttonType: "a",
                    width: "101px",
                    height: "34px",
                })          