//-
    options.isAuthorized - авторизован ли пользователь
    options.userFullName - полное имя пользователя

include ../FormElements.ButtonDefault/ButtonDefault.pug
include ./NavigationMenu/NavigationMenu.pug

mixin getStandardNavBar(options)


    div(class=["standard-navigation-bar"])
        include ../HeadersAndFooters.LogoColored/logoColored.pug

        +getNavigationMenu({
            navList: [
                {url: '#', text: 'О нас', hasDropdown: false},
                {url: '#', text: 'Услуги', hasDropdown: true},
                {url: '#', text: 'Вакансии', hasDropdown: false},
                {url: '#', text: 'Новости', hasDropdown: false},
                {url: '#', text: 'Соглашения', hasDropdown: true},
            ]
        })  

        - if(options.isAuthorized)
            div(class=["standard-navigation-bar__user-full-name"])
                p(class=["standard-navigation-bar__user-full-name-text"])= options.userFullName
        - else
            div(class=["standard-navigation-bar__button-default-container"])
                +getButton({
                    text: 'войти',
                    isHollow:  true,
                    buttonType: "a",
                    width: "87px",
                    height: "34px",
                })
                +getButton({
                    text: 'зарегистрироваться',
                    isHollow:  false,
                    buttonType: "a",
                    width: "196px",
                    height: "34px",
                })          