@import "../HeadersAndFooters.LogoColored/LogoColored.scss";
@import "../FormElements.ButtonDefault/ButtonDefault.scss";

/* .standard-navigation-bar {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto;
    @media screen and (max-width: 768px) {
        grid-template-rows: min-content auto min-content;
        grid-template-columns: auto;
    }
} */

.standard-navigation-bar {
    width: 100%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    /* padding: 15px 140px; */
    padding: 15px 9.72%;
    justify-items: start;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    @media screen and (max-width: 1024px) {
        //background: red;
        display: flex;
        flex-direction: column;
        //grid-template-rows: min-content auto min-content;
        //grid-template-columns: auto;

        padding: 15px 0px;
    }

    &__user-full-name {
        display: flex;
        align-items: center;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
        white-space: nowrap;

        &:before {
            content: "";
            height: 30px;
            width: 1px;
            background: transparent;
            border-left: 1px solid rgba(31, 32, 65, 0.1);
            padding-right: 20px;
        }
    }

    &__button-default-container {
        display: flex;
        & > div:first-child {
            margin-right: 20px;
        }
    }

    @import "./NavigationMenu/NavigationMenu.scss";
}
