.color-demo {
    display: flex;
    flex-direction: row;

    &__colored-square {
        min-width: 70px;
        height: 70px;
        border-radius: 6px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
    }

    &__color-name {
        display: flex;
        align-items: center;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 29px;
        color: #1f2041;
    }

    &__color-code {
        display: flex;
        align-items: center;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 29px;
        color: #1f2041;
    }

    &__color {
        &_grad_purple-to-blue {
            background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
        }

        &_purple {
            background: #bc9cff;
        }

        &_green {
            background: #6fcf97;
        }

        &_dark-shade-5 {
            background: rgba(31, 32, 65, 0.05);
        }

        &_dark-shade-25 {
            background: rgba(31, 32, 65, 0.25);
        }

        &_dark-shade-50 {
            background: rgba(31, 32, 65, 0.5);
        }

        &_dark-shade-75 {
            background: rgba(31, 32, 65, 0.75);
        }

        &_dark-shade-100 {
            background: rgba(31, 32, 65, 1);
        }
    }
}
