mixin getButton(text, isHollow, sizeClass)
    - var buttonOptions = [];
    - var pOptions = [];
    if isHollow
        - pOptions = ['colors__font_purple']
        - buttonOptions = ['headersAndFooters__buttonDefault','headersAndFooters__buttonDefault_firstButton','buttonDefault','buttonDefault_hollowButton','colors__background_purpleToBlueGrad', sizeClass]
    else
        - buttonOptions = ['headersAndFooters__buttonDefault','buttonDefault','colors__background_purpleToBlueGrad', sizeClass]

    div(class= buttonOptions)
        a(href='#') 
            p(class= pOptions)= text   