mixin hollowButton(text)
    div(class=[
        'headersAndFooters__buttonDefault',
        'headersAndFooters__buttonDefault_firstButton'])
        a(class=['headersAndFooters__buttonDefault_hollowButton'] href='#') 
            p LOGIN