ul(class=['headersAndFooters__navMenu'])
    li(class=['headersAndFooters__navMenuItem', 'headersAndFooters__navMenuItem_firstItem'])
        a(href='#')
            p Home
    li(class=['headersAndFooters__navMenuItem'])
        a(href='#')
            p About Us
    li(class=['headersAndFooters__navMenuItem'])
        a(href='#')
            p Services
        i(class=['material-icons']) expand_more    
    li(class=['headersAndFooters__navMenuItem'])
        a(href='#')
            p Careers
    li(class=['headersAndFooters__navMenuItem'])
        a(href='#')
            p News
    li(class=['headersAndFooters__navMenuItem', 'headersAndFooters__navMenuItem_lastItem'])
        a(href='#')
            p Documentation