@import '../../../assets/constants.scss';

@import '../../../components/header/header.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/checkbox-list/checkbox-list.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/range-slider/range-slider.scss';
@import '../../../components/calendar/calendar.scss';
@import '../../../components/room-info/room-info.scss';
@import '../../../components/footer/footer.scss';

.search-room {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    padding: 30px 9.72222% 73px 9.72222%;
    box-shadow: 0px 1px 0px $color-dark-shade-10;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        align-items: center;
        padding: 30px 0px 70px 0px;
    }

    &__filters {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-right: scalePixelsAsPercentage(75, 1440);
    }

    &__calendar {
        width: 266px;
        display: flex;
        margin-bottom: 20px;
    }

    &__range-slider {
        width: 266px;
        display: flex;
        margin-bottom: 30px;
    }

    &__dropdown-1 {
        margin-bottom: 29px;
        display: flex;
        width: 266px;
    }

    &__checkbox-list-1 {
        width: max-content;
        display: flex;
        margin-bottom: 28px;
    }

    &__checkbox-list-2 {
        width: max-content;
        display: flex;
        margin-bottom: 28px;
    }

    &__dropdown-2 {
        width: 266px;
        display: flex;
        margin-bottom: 16px;
    }

    &__room-list {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 690px) {
            align-items: center;
            margin-right: 0px;
            margin-top: 40px;
        }
    }

    &__list-title {
        margin-bottom: 21px;
        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: $color-dark-shade-100;

        @media screen and (max-width: 690px) {
            padding: 0px 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 21px;

        @media screen and (max-width: 1320px) {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto;
        }
        @media screen and (max-width: 1000px) {
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-columns: auto;
        }
    }

    &__pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding: 0px 16px 0px 0px;
    }
}
