extends ../../base/page-base

include ../../../components/room-info/room-info.pug
include ../../../components/calendar/calendar.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/range-slider/range-slider.pug

block content
    div(class=["search-room"])
        div(class=["search-room__filters"])
            div(class=["search-room__calendar", "js-search-room__calendar"])
                +calendar({
                    isDouble: false,
                    withRange: true, 
                    firstTitle: "даты пребывания в отеле",
                })
            div(class=["search-room__dropdown-1", "js-search-room__dropdown"])
                +dropdown({
                    title: "гости",
                    placeholder: "Сколько гостей",
                    name: "guests",
                    type: "text",
                    value: "Сколько гостей",
                    hasButtons: true,
                    dropdownList: [
                        {name: "взрослые", value: 0},
                        {name: "дети", value: 0},
                        {name: "младенцы", value: 0}
                    ],
                    withTotalValue: true,
                })
            div(class=["search-room__range-slider", "js-search-room__range-slider"])
                +range-slider({
                    title: "диапазон цены",
                    description: "Стоимость за сутки пребывания в номере",
                })
            div(class=["search-room__checkbox-list-1"])
                +checkbox-list({
                    title: "Checkbox Buttons",
                    isExpandable: false, 
                    hasAdditionalText: false,               
                    checkboxList: [
                        {isChecked: false, text: "Можно курить"},
                        {isChecked: true, text: "Можно с питомцами"},
                        {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
                    ],
                }) 
            div(class=["search-room__checkbox-list-2"])
                +checkbox-list({
                    title: "доступность",
                    isExpandable: false,
                    hasAdditionalText: true,
                    list: [
                        {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                        {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
                    ],
                })
            div(class=["search-room__dropdown-2", "js-search-room__dropdown"])
                +dropdown({
                    title: "удобства номера",
                    placeholder: "Сколько комнат",
                    name: "rooms",
                    type: "text",
                    value: "Сколько комнат",
                    list: [
                        {name: "спальни", value: 0},
                        {name: "кровати", value: 0},
                        {name: "ванные комнаты", value: 0}
                    ],
                    withTotalValue: false,
                })
            div(class=["search-room__checkbox-list-3", "js-search-room__checkbox_expandable"])
                +checkbox-list({
                    title: "дополнительные удобства",
                    isExpandable: true,
                    isOpened: true,
                    hasAdditionalText: false,
                    list : [
                        {isChecked: false, text: "Завтрак"},
                        {isChecked: true, text: "Письменный стол"}, 
                        {isChecked: true, text: "Стул для кормления"},
                        {isChecked: true, text: "Кроватка"},
                        {isChecked: false, text: "Телевизор"},
                        {isChecked: false, text: "Шампунь"},
                        {isChecked: false, text: "Телевизор"},
                        {isChecked: false, text: "Шампунь"}
                    ],
                })
        div(class=["search-room__room-list"])
            p(class=["search-room__list-title"]) Номера, которые мы для вас подобрали
            div(class=["search-room__list"])
                - let roomsInfo = require("./data.json").roomsInfo;
                - for(let i = 0; i < 12; i += 1)
                    div(class=["search-room__room-info", "js-search-room__room-info", `search-room__room-info_${i}`])
                        +room-info(roomsInfo[i])
            div(class=["search-room__pagination", "js-search-room__pagination"])