@import "../../base.scss";
@import "../../../assets/fonts/fonts.scss";
@include setFonts("../../../");

@import "../../../components/header/header.scss";
@import "../../../components/dropdown/dropdown.scss";
@import "../../../components/checkbox-list/checkbox-list.scss";
@import "../../../components/pagination/pagination.scss";
@import "../../../components/range-slider/range-slider.scss";
@import "../../../components/calendar/calendar.scss";
@import "../../../components/room-info/room-info.scss";
@import "../../../components/footer/footer.scss";

.search-room {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 9.72222% 73px 9.72222%;
    margin-bottom: 1px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

    @media screen and (max-width: 690px) {
        flex-direction: column;
        align-items: center;
        padding: 30px 0px 70px 0px;
    }

    &__filters {
        margin-right: scalePixelsAsPercentage(75, 1440);
        display: flex;
        flex-direction: column;
        width: max-content;
    }

    &__calendar {
        display: flex;
        width: 266px;

        margin-bottom: 20px;
    }

    &__range-slider {
        margin-bottom: 30px;
        display: flex;
        width: 266px;
    }

    &__dropdown-1 {
        margin-bottom: 29px;
        display: flex;
        width: 266px;
    }

    &__checkbox-list-1 {
        margin-bottom: 28px;
        display: flex;
        width: max-content;
    }

    &__checkbox-list-2 {
        margin-bottom: 28px;
        display: flex;
        width: max-content;
    }

    &__dropdown-2 {
        margin-bottom: 16px;
        display: flex;
        width: 266px;
    }

    &__room-list {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 690px) {
            margin-right: 0px;
            margin-top: 40px;
            align-items: center;
        }
    }

    &__list-title {
        margin-bottom: 21px;

        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;

        @media screen and (max-width: 690px) {
            padding: 0px 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 21px;

        @media screen and (max-width: 1320px) {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto;
        }
        @media screen and (max-width: 1000px) {
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-columns: auto;
        }
    }

    &__pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding: 0px 16px 0px 0px;
    }
}
