extends ../../base/page-base

include ../../../components/room-info/room-info.pug
include ../../../components/calendar/calendar.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/range-slider/range-slider.pug

block title
  title Search room

block content
  div(class=["search-room"])
    div(class=["search-room__filters"])
      div(class=["search-room__calendar", "js-search-room__calendar"])
        +calendar({
          isDouble: false,
          withRange: true, 
          firstTitle: "даты пребывания в отеле",
        })
      div(class=["search-room__dropdown_type_guests-counter", "js-search-room__dropdown"])
        +dropdown({
          title: "гости",
          additionalTitle: "",
          placeholder: "Сколько гостей",
          name: "guestsCount",
          type: "text",
          hasButtons: true,
          defaultText: "Сколько гостей",
          list: [
            {names: ["взрослые"], value: 0, isCommon: true},
            {names: ["дети"], value: 0, isCommon: true},
            {names: ["младенец", "младенца", "младенцев", "младенцы"], value: 0, isCommon: false}
          ],
          commonNames: ["гость", "гостя", "гостей"],
        })
      div(class=["search-room__range-slider", "js-search-room__range-slider"])
        +range-slider({
          title: "диапазон цены",
          description: "Стоимость за сутки пребывания в номере",
        })
      div(class=["search-room__checkbox-list_type_simple"])
        +checkbox-list({
          title: "Checkbox Buttons",
          isExpandable: false, 
          hasAdditionalText: false,               
          checkboxList: [
            {isChecked: false, text: "Можно курить"},
            {isChecked: true, text: "Можно с питомцами"},
            {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
          ],
        }) 
      div(class=["search-room__checkbox-list_type_rich"])
        +checkbox-list({
          title: "доступность",
          isExpandable: false,
          hasAdditionalText: true,
          list: [
            {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
            {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
          ],
        })
      div(class=["search-room__dropdown_type_room-items-counter", "js-search-room__dropdown"])
        +dropdown({
          title: "удобства номера",
          placeholder: "Сколько комнат",
          name: "rooms",
          type: "text",
          hasButtons: false,
          defaultText: "Сколько комнат",
          list: [
            {names: ["спальня", "спальни", "спален", "спальни"], value: 0, isCommon: false},
            {names: ["кровать", "кровати", "кроватей", "кровати"], value: 0, isCommon: false},
            {names: ["ванная комната", "ванные комнаты", "ванных комнат", "ванные комнаты"], value: 0, isCommon: false},
          ],
          commonNames: [],
        })
      div(class=["search-room__checkbox-list_type_expandable", "js-search-room__checkbox_expandable"])
        +checkbox-list({
          title: "дополнительные удобства",
          isExpandable: true,
          isOpened: true,
          hasAdditionalText: false,
          list : [
            {isChecked: false, text: "Завтрак"},
            {isChecked: true, text: "Письменный стол"}, 
            {isChecked: true, text: "Стул для кормления"},
            {isChecked: true, text: "Кроватка"},
            {isChecked: false, text: "Телевизор"},
            {isChecked: false, text: "Шампунь"},
            {isChecked: false, text: "Телевизор"},
            {isChecked: false, text: "Шампунь"}
          ],
        })
    div(class=["search-room__room-list"])
      p(class=["search-room__list-title"]) Номера, которые мы для вас подобрали
      div(class=["search-room__list"])
        - let roomsInfo = require("./data.json").roomsInfo;
        - for(let info of roomsInfo)
          div(class=["search-room__room-info", "js-search-room__room-info"])
            +room-info(info)
      div(class=["search-room__pagination", "js-search-room__pagination"])