@import '../../../assets/constants.scss';

@import '../../../components/header/header.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/checkbox-list/checkbox-list.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/range-slider/range-slider.scss';
@import '../../../components/calendar/calendar.scss';
@import '../../../components/room-info/room-info.scss';
@import '../../../components/footer/footer.scss';

.search-room {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 30rem 9.72222% 73rem 9.72222%;
    box-shadow: 0rem 1rem 0rem $color-dark-shade-10;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        align-items: center;
        padding: 30rem 0rem 70rem 0rem;
    }

    &__filters {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-right: scalePixelsAsPercentage(75, 1440);
    }

    &__calendar {
        width: 266rem;
        display: flex;
        margin-bottom: 20rem;
    }

    &__range-slider {
        width: 266rem;
        display: flex;
        margin-bottom: 30rem;
    }

    &__dropdown-1 {
        margin-bottom: 29rem;
        display: flex;
        width: 266rem;
    }

    &__checkbox-list-1 {
        width: max-content;
        display: flex;
        margin-bottom: 28rem;
    }

    &__checkbox-list-2 {
        width: max-content;
        display: flex;
        margin-bottom: 28rem;
    }

    &__dropdown-2 {
        width: 266rem;
        display: flex;
        margin-bottom: 16rem;
    }

    &__room-list {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 690px) {
            align-items: center;
            margin-right: 0rem;
            margin-top: 40rem;
        }
    }

    &__list-title {
        margin-bottom: 21rem;
        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 24rem;
        line-height: 30rem;
        color: $color-dark-shade-100;

        @media screen and (max-width: 690px) {
            padding: 0rem 20rem;
        }
    }

    &__list {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
        grid-column-gap: 12rem;
        grid-row-gap: 21rem;

        @media screen and (max-width: 1320px) {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto;
        }
        @media screen and (max-width: 1000px) {
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-columns: auto;
        }
    }

    &__pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40rem;
        padding: 0rem 16rem 0rem 0rem;
    }
}
