include ../button/button.pug
include ../FormElements.FormInput/FormInput.pug

mixin sign-in-form(options)
    - const { titleText } = options;

    form(class=["sign-in-form"])
        - if(titleText)
            p(class=["sign-in-form__title"])= titleText

        div(class=["sign-in-form__fields"])
            +getFormInput({
                hasTitle: false,
                titleText: "",                
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false
            })
            +getFormInput({
                hasTitle: false,
                placeholder: "Пароль",
                name: "password",
                type: "password",
                value: "",
                hasSubmitButton: false
            })

        div(class=["sign-in-form__submit-button"])
            +button({
                text: 'войти',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
            })

        div(class=["sign-in-form__account-create-field"])
            p(class=["sign-in-form__question-text"]) Нет аккаунта на Toxin?
            div(class=["sign-in-form__create-button"])
                +button({
                    text: "создать",
                    isHollow:  true,
                    buttonType: "a",
                    hasArrow: false,
                })