include ../FormElements.DateInput/DateInput.pug
include ../FormElements.Dropdown/Dropdown.pug
include ../FormElements.ButtonDefault/ButtonDefault.pug

mixin find-room-form(options)

    form(class=["find-room-form"])
        - if(options.titleText)
            p(class=["find-room-form__title"])= options.titleText

        div(class=["find-room-form__calendar"])
            +getDateInput({
                isDouble: true,
                firstTitle: "выезд",
                secondTitle: "прибытие",
            })

        div(class=["find-room-form__dropdown"])
            +getDropdown({
                titleText: "гости",
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "Сколько гостей",
                name: "guestsCount",
                type: "text",
                value: "Сколько гостей",
                dropdownList: [
                    {name: "взрослые", value: 0},
                    {name: "дети", value: 0},
                    {name: "младенцы", value: 0}
                ],
                withTotalValue: true,
            })

        div(class=["find-room-form__submit-button"])
            +getButton({
                text: 'подобрать номер',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
            })