//-
    options.likeButtonOptions - настройки like button(см. options.reviewsArray)
    options.reviewsArray - массив объектов с настройками каждого отзыва:
        {
            фото пользователя
            imgSrc: "./src/FormElements.guest-room-reviews/img/....png",

            полное имя пользователя
            fullName: "Мурад Сарафанов",

            сколько времени прошло с момента комментирования
            numberOfDaysSinceComment: "5 дней назад",

            настройки like button
            likeButtonOptions: { 
                hasTitle: false,
                number: 12,
                isChecked: true,
            },

            текст комментария
            comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий." +
                "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто" +
                "не жаловался из соседей.",
        },


include ../FormElements.LikeButton/LikeButton.pug

mixin getGuestRoomReviews(options)
    - let classes = {};

    div(class=["guest-room-reviews"])
        p(class=["guest-room-reviews__title"]) Отзывы посетителей номера
        - for(let review of options.reviewsArray)
            div(class=["guest-room-reviews__review-container"])
                img(src=review.imgSrc class=["guest-room-reviews__user-avatar"])
                div(class=["guest-room-reviews__user-info"])
                    p(class=["guest-room-reviews__user-full-name"])= review.fullName
                    p(class=["guest-room-reviews__number-of-days-since-comment"])= review.numberOfDaysSinceComment
                +getLikeButton(review.likeButtonOptions)
                p(class=["guest-room-reviews__comment"])= review.comment