mixin getGuestRoomReviews(reviewsArray, options, classes)

    include ../FormElements.LikeButton/LikeButton.pug

    div(class=["guestRoomReviews"])
        p(class=["guestRoomReviews__title"]) Отзывы посетителей номера
        - for(let review of reviewsArray)
            div(class=["guestRoomReviews__container"])
                img(src=review.imgSrc class=["guestRoomReviews__userAvatar"])
                div(class=["guestRoomReviews__userInfo"])
                    p(class=["guestRoomReviews__userFullName"])= review.fullName
                    p(class=["guestRoomReviews__numberOfDaysSinceComment"])= review.numberOfDaysSinceComment
                +getLikeButton(review.likeButtonOptions)
                p(class=["guestRoomReviews__comment"])= review.comment