include ../../../components/header/header.pug
include ../../../components/room-info/room-info.pug
include ../../../components/calendar/calendar.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/FormElements.RangeSlider/RangeSlider.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/FormElements.Pagination/Pagination.pug
include ../../../components/long-footer/long-footer.pug

doctype html
html
    head
        meta(charset="utf-8")
        title Search room
        meta(name="viewport" content="width=device-width")
    body
        div(class=["search-room"])
            div(class=["search-room__header-container"])
                +header({
                    isAuthorized: false,
                })

            div(class=["search-room__content"])
                div(class=["search-room__filters"])
                    div(class=["search-room__date-input-container"])
                        +calendar({
                            isDoubleInput: false,
                            isDateRange: true, 
                            firstTitle: "даты пребывания в отеле",
                            width: "266px",
                        })

                    div(class=["search-room__dropdown-1-container js-search-room__dropdown"])
                        +dropdown({
                            titleText: "гости",
                            isTitleTextTestVisible: false,
                            titleTextTestValue: "",
                            placeholder: "Сколько гостей",
                            name: "guests",
                            type: "text",
                            value: "Сколько гостей",
                            dropdownList: [
                                {name: "взрослые", value: 0},
                                {name: "дети", value: 0},
                                {name: "младенцы", value: 0}
                            ],
                            withTotalValue: true,
                            width: "266px",
                        })

                    div(class=["search-room__range-slider-container"])
                        +getRangeSlider({
                            title: "диапазон цены",
                            firstValue: 5000,
                            lastValue: 10000,
                            minValue: 0,
                            maxValue: 15000,
                            valueType: "₽",
                            valueRound: 100,
                            subtitleText: "Стоимость за сутки пребывания в номере",
                        })

                    div(class=["search-room__checkbox-list-1-container"])
                        +checkbox-list({
                            titleText: "Checkbox Buttons",
                            isExpandable: false, 
                            hasAdditionalText: false,               
                            checkboxList: [
                                {isChecked: false, text: "Можно курить"},
                                {isChecked: true, text: "Можно с питомцами"},
                                {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
                            ],
                        }) 

                    div(class=["search-room__checkbox-list-2-container"])
                        +checkbox-list({
                            titleText: "доступность",
                            isExpandable: false,
                            hasAdditionalText: true,
                            checkboxList: [
                                {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                                {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
                            ],
                        })

                    div(class=["search-room__dropdown-2-container js-search-room__dropdown"])
                        +dropdown({
                            titleText: "удобства номера",
                            isTitleTextTestVisible: false,
                            titleTextTestValue: "",
                            placeholder: "Сколько комнат",
                            name: "rooms",
                            type: "text",
                            value: "Сколько комнат",
                            hasApplyButton: false,
                            hasClearButton: false,
                            dropdownList: [
                                {name: "спальни", value: 0},
                                {name: "кровати", value: 0},
                                {name: "ванные комнаты", value: 0}
                            ],
                            withTotalValue: false,
                            width: "266px",
                        })

                    div(class=["search-room__checkbox-list-3-container js-search-room__checkbox-container_expandable"])
                        +checkbox-list({
                            titleText: "дополнительные удобства",
                            isExpandable: true,
                            isOpened: "true",
                            hasAdditionalText: false,
                            width: "266px",
                            checkboxList : [
                                {isChecked: false, text: "Завтрак"},
                                {isChecked: true, text: "Письменный стол"}, 
                                {isChecked: true, text: "Стул для кормления"},
                                {isChecked: true, text: "Кроватка"},
                                {isChecked: false, text: "Телевизор"},
                                {isChecked: false, text: "Шампунь"},
                                {isChecked: false, text: "Телевизор"},
                                {isChecked: false, text: "Шампунь"}
                            ],
                        })

                div(class=["search-room__rooms"])
                    div(class=["search-room__rooms-title"])
                        p(class=["search-room__rooms-title-text"])
                            | Номера, которые мы для вас подобрали
                    div(class=["search-room__rooms-container"])
                        - let roomsInfo = require("./data.json").roomsInfo;
                        - for(let i = 0; i < 12; i++){
                            div(class=["search-room__room-container", "search-room__room-container_" + i])
                                +room-info(roomsInfo[i])
                        - }
                    div(class=["search-room__pagination-container"])
                        +getPagination({
                            pagesCount: 15,
                            curPageNumber: 1,
                            title: "",
                            bottomText: "1 – 12 из 100+ вариантов аренды",
                        })

            div(class=["search-room__footer-container"])
                +long-footer()