@import "../../../assets/base.scss";
@import "../../../assets/fonts/fonts.scss";
@include setFonts("../../../");

@import "../../../components/HeadersAndFooters.StandardNavBar/StandardNavBar.scss";
@import "../../../components/FormElements.Dropdown/Dropdown.scss";
@import "../../../components/FormElements.CheckboxList/CheckboxList.scss";
@import "../../../components/FormElements.RateButton/RateButton.scss";
@import "../../../components/FormElements.Pagination/Pagination.scss";
@import "../../../components/FormElements.RangeSlider/RangeSlider.scss";
@import "../../../components/FormElements.DateInput/DateInput.scss";
@import "../../../components/FormElements.RoomDetails/RoomDetails.scss";
@import "../../../components/Cards.RoomInfo/RoomInfo.scss";
@import "../../../components/HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.scss";

.search-room {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header-container {
        //width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        padding: 30px scalePixelsAsPercentage(140, 1440) 70px scalePixelsAsPercentage(140, 1440);

        @media screen and (max-width: 690px) {
            flex-direction: column;
            align-items: center;
            padding: 30px 0px 70px 0px;
        }
    }

    &__filters {
        margin-right: scalePixelsAsPercentage(75, 1440);
        display: flex;
        flex-direction: column;
        width: max-content;
    }

    &__date-input-container {
        margin-bottom: 20px;
        display: flex;
        width: 266px;
    }
    &__dropdown-1-container,
    &__range-slider-container {
        margin-bottom: 30px;
        display: flex;
        width: 266px;
    }
    &__checkbox-list-1-container {
        margin-bottom: 31px;
        display: flex;
        width: max-content;
    }
    &__checkbox-list-2-container {
        margin-bottom: 30px;
        display: flex;
        width: max-content;
    }
    &__dropdown-2-container {
        margin-bottom: 15px;
        display: flex;
        width: 266px;
    }

    &__rooms {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 690px) {
            margin-right: 0px;
            margin-top: 40px;
            align-items: center;
        }
    }
    &__rooms-title {
        margin-bottom: 21px;

        @media screen and (max-width: 690px) {
            padding: 0px 20px;
        }

        &-text {
            font-family: Quicksand, OpenSans;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            color: #1f2041;
        }
    }

    &__rooms-container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 20px;

        @media screen and (max-width: 1320px) {
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto auto;
        }
        @media screen and (max-width: 1000px) {
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-columns: auto;
        }
    }

    &__pagination-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 41px;
    }

    &__footer-container {
        //width: 100%;
    }
}
