.standardLoggedInNavBar
    include ../HeadersAndFooters.StandardNavBar/logo/logo.pug
    include ../HeadersAndFooters.StandardNavBar/navMenu/navMenu.pug
    +getNavMenu(['standardLoggedInNavBar__navMenu_navMenuMargin'])
    include ./user/user.pug
    +getUserName('Cosmin Negoita')