@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@charset "UTF-8";
@font-face {
  font-family: MontserratBold;
  src: url(src/fonts/Montserrat/Montserrat-Bold.ttf); }

@font-face {
  font-family: MontserratRegular;
  src: url(src/fonts/Montserrat/Montserrat-Regular.ttf); }

@font-face {
  font-family: OpenSansBold;
  src: url(src/fonts/OpenSans/OpenSans-Bold.ttf); }

@font-face {
  font-family: OpenSansRegular;
  src: url(src/fonts/OpenSans/OpenSans-Regular.ttf); }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html,
body {
  min-width: 100%; }

.headersAndFooters {
  display: flex;
  flex-direction: column;
  background: #f4f4f6;
  padding-bottom: 130px; }
  .headersAndFooters > div:nth-child(2),
  .headersAndFooters > div:nth-child(3),
  .headersAndFooters > div:nth-child(4) {
    margin-bottom: 40px; }

.globalLogo {
  height: 48px;
  margin: 30px 0px 0px 30px; }

.buttonDefault {
  border-radius: 22px;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: min-content;
  align-items: center;
  height: 44px; }
  .buttonDefault__buttonBasis {
    color: #ffffff;
    text-decoration: none;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: auto;
    align-items: center;
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    height: 44px;
    border-radius: 22px;
    outline: none;
    position: relative; }
    .buttonDefault__buttonBasis:hover {
      background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .buttonDefault__buttonText {
    background: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 58px;
    color: #ffffff;
    margin: 2px;
    border-radius: 22px;
    height: 40px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: -0.03em; }
  .buttonDefault_hollowButton > a > p:first-of-type,
  .buttonDefault_hollowButton > button > p:first-of-type {
    background: #ffffff;
    color: #bc9cff; }
  .buttonDefault__arrow {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0px;
    height: 44px;
    width: 44px; }

.standardNavBar {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content auto min-content min-content;
  align-items: center;
  padding: 15px 140px;
  justify-items: start;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .standardNavBar__navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 530px;
    justify-self: end; }
    .standardNavBar__navMenu_navMenuMarginForNotAuthorized {
      margin: 0px 30px 0px 0px; }
    .standardNavBar__navMenu_navMenuMarginForAuthorized {
      margin: 0px 30px 0px 0px; }
  .standardNavBar__navMenuItem {
    display: flex;
    align-items: center;
    margin: 0px 14px; }
    .standardNavBar__navMenuItem a {
      text-decoration: none;
      color: rgba(31, 32, 65, 0.5); }
      .standardNavBar__navMenuItem a p {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        white-space: nowrap;
        letter-spacing: 0.002em; }
    .standardNavBar__navMenuItem_firstItem {
      margin: 0px 15px 0px 0px; }
      .standardNavBar__navMenuItem_firstItem a {
        color: rgba(31, 32, 65, 0.75); }
        .standardNavBar__navMenuItem_firstItem a p {
          font-family: MontserratBold; }
    .standardNavBar__navMenuItem_lastItem {
      margin: 0px 0px 0px 15px; }
    .standardNavBar__navMenuItem_expandMore {
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: rgba(31, 32, 65, 0.5); }
    .standardNavBar__navMenuItem:nth-child(3) {
      margin-right: 5px; }
  .standardNavBar__buttonDefault_firstButton {
    margin-right: 20px; }
    .standardNavBar__buttonDefault_firstButton > a > p {
      padding-left: 18px;
      padding-right: 18px; }
  .standardNavBar__buttonDefault_secondButton > a > p {
    padding-left: 18px;
    padding-right: 18px; }
  .standardNavBar__buttonDefault_height:nth-child(n) {
    height: 34px; }
    .standardNavBar__buttonDefault_height:nth-child(n) > a,
    .standardNavBar__buttonDefault_height:nth-child(n) > button {
      height: 34px; }
      .standardNavBar__buttonDefault_height:nth-child(n) > a > p,
      .standardNavBar__buttonDefault_height:nth-child(n) > button > p {
        height: 30px; }
  .standardNavBar__user {
    display: flex;
    align-items: center;
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap; }
    .standardNavBar__user:before {
      content: '';
      height: 30px;
      width: 1px;
      background: transparent;
      border-left: 1px solid rgba(31, 32, 65, 0.1);
      padding-right: 30px; }

.footerWidgetsAndCopyrightBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .footerWidgetsAndCopyrightBar__infoBar {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: min-content auto auto auto auto;
    padding: 100px 140px;
    justify-items: start;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    margin-bottom: 1px; }
  .footerWidgetsAndCopyrightBar__someInfo {
    width: 260px;
    display: flex;
    flex-direction: column; }
    .footerWidgetsAndCopyrightBar__someInfo p {
      font-family: MontserratRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      margin-top: 18px;
      letter-spacing: -0.01em; }
  .footerWidgetsAndCopyrightBar__infoBarMenu {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column; }
    .footerWidgetsAndCopyrightBar__infoBarMenu:nth-child(2) {
      margin-left: 40px; }
    .footerWidgetsAndCopyrightBar__infoBarMenu:nth-child(3) {
      margin-left: 119px; }
    .footerWidgetsAndCopyrightBar__infoBarMenu:nth-child(4) {
      margin-left: 115px; }
  .footerWidgetsAndCopyrightBar__infoBarMenuItem {
    margin-bottom: 21px;
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px; }
    .footerWidgetsAndCopyrightBar__infoBarMenuItem a {
      text-decoration: none;
      white-space: nowrap;
      color: rgba(31, 32, 65, 0.5);
      letter-spacing: -0.01em; }
    .footerWidgetsAndCopyrightBar__infoBarMenuItem_firstItem {
      margin-top: 4px;
      margin-bottom: 22px;
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase; }
      .footerWidgetsAndCopyrightBar__infoBarMenuItem_firstItem a {
        text-decoration: none;
        white-space: nowrap;
        color: #1f2041; }
    .footerWidgetsAndCopyrightBar__infoBarMenuItem:last-of-type {
      margin-bottom: 0px; }
  .footerWidgetsAndCopyrightBar__subscribeToOurNewsletter {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 4px;
    margin-left: 87px; }
    .footerWidgetsAndCopyrightBar__subscribeToOurNewsletter p:first-of-type {
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041;
      margin-bottom: 20px;
      letter-spacing: -0.02em; }
    .footerWidgetsAndCopyrightBar__subscribeToOurNewsletter p:last-of-type {
      font-family: MontserratRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      margin-bottom: 20px;
      width: 196px;
      letter-spacing: -0.01em; }
  .footerWidgetsAndCopyrightBar__subscribeToOurNewsletterEmailForm {
    display: flex;
    flex-wrap: nowrap;
    width: 260px;
    background: transparent; }
  .footerWidgetsAndCopyrightBar .formInput {
    width: 320px; }
    .footerWidgetsAndCopyrightBar .formInput_textFieldDefault {
      display: flex;
      flex-direction: column; }
    .footerWidgetsAndCopyrightBar .formInput__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px; }
    .footerWidgetsAndCopyrightBar .formInput__titleText {
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041; }
    .footerWidgetsAndCopyrightBar .formInput__titleTextTest {
      font-family: MontserratRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      text-transform: uppercase;
      color: rgba(31, 32, 65, 0.5); }
    .footerWidgetsAndCopyrightBar .formInput__input {
      display: grid;
      grid-template-rows: 42px;
      grid-template-columns: auto min-content;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      position: relative; }
      .footerWidgetsAndCopyrightBar .formInput__input:hover, .footerWidgetsAndCopyrightBar .formInput__input:focus {
        border: 1px solid rgba(31, 32, 65, 0.5); }
    .footerWidgetsAndCopyrightBar .formInput__mainInput {
      padding: 0px 15px;
      height: 44px;
      outline: none;
      background: transparent;
      font-family: MontserratRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.75);
      white-space: nowrap;
      /* Отменяем перенос текста */
      overflow: hidden;
      /* Обрезаем содержимое */
      text-overflow: ellipsis;
      /* Многоточие */ }
      .footerWidgetsAndCopyrightBar .formInput__mainInput::-webkit-input-placeholder {
        background: rgba(31, 32, 65, 0.25);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 0px solid transparent; }
      .footerWidgetsAndCopyrightBar .formInput__mainInput:-webkit-autofill, .footerWidgetsAndCopyrightBar .formInput__mainInput:-webkit-autofill:hover, .footerWidgetsAndCopyrightBar .formInput__mainInput:-webkit-autofill:focus,
      .footerWidgetsAndCopyrightBar .formInput__mainInput textarea:-webkit-autofill,
      .footerWidgetsAndCopyrightBar .formInput__mainInput textarea:-webkit-autofill:hover,
      .footerWidgetsAndCopyrightBar .formInput__mainInput textarea:-webkit-autofill:focus,
      .footerWidgetsAndCopyrightBar .formInput__mainInput select:-webkit-autofill,
      .footerWidgetsAndCopyrightBar .formInput__mainInput select:-webkit-autofill:hover,
      .footerWidgetsAndCopyrightBar .formInput__mainInput select:-webkit-autofill:focus {
        border: 0px solid rgba(255, 255, 255, 0);
        -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
        -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
        transition: background-color 5000s ease-in-out 0s;
        color: rgba(31, 32, 65, 0.75); }
    .footerWidgetsAndCopyrightBar .formInput__submitInput {
      width: 42px;
      height: 42px;
      outline: none;
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      border: 0px solid transparent;
      background: -moz-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
      background: -webkit-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
      background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
  .footerWidgetsAndCopyrightBar__copyrightBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 23px 140px;
    /* align-content: center; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }
  .footerWidgetsAndCopyrightBar__copyright {
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    letter-spacing: -0.008em; }
  .footerWidgetsAndCopyrightBar__socialMedia {
    display: flex;
    align-content: center; }
    .footerWidgetsAndCopyrightBar__socialMedia a {
      width: 24px;
      height: 24px;
      margin-right: 20px; }
      .footerWidgetsAndCopyrightBar__socialMedia a img {
        width: 24px;
        height: 24px; }
      .footerWidgetsAndCopyrightBar__socialMedia a:last-of-type {
        margin-right: 0px; }

.footerCreative {
  padding: 100px 440px 110px 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .footerCreative p {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 27px;
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(31, 32, 65, 0.75); }

.logoColored {
  display: flex;
  align-items: center;
  height: 40px;
  justify-self: end; }
  .logoColored_logoMarginRight {
    margin-right: 12.5px; }

@font-face {
  font-family: MontserratBold;
  src: url(src/fonts/Montserrat/Montserrat-Bold.ttf); }

@font-face {
  font-family: MontserratRegular;
  src: url(src/fonts/Montserrat/Montserrat-Regular.ttf); }

@font-face {
  font-family: OpenSansBold;
  src: url(src/fonts/OpenSans/OpenSans-Bold.ttf); }

@font-face {
  font-family: OpenSansRegular;
  src: url(src/fonts/OpenSans/OpenSans-Regular.ttf); }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html,
body {
  min-width: 100%; }

.colors__background_purpleToBlueGrad {
  background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }

.colors__background_purple {
  background: #bc9cff; }

.colors__background_green {
  background: #6fcf97; }

.colors__background_darkShade5 {
  background: rgba(31, 32, 65, 0.05); }

.colors__background_darkShade25 {
  background: rgba(31, 32, 65, 0.25); }

.colors__background_darkShade50 {
  background: rgba(31, 32, 65, 0.5); }

.colors__background_darkShade75 {
  background: rgba(31, 32, 65, 0.75); }

.colors__background_darkShade100 {
  background: #1f2041; }

.colors__font_purple {
  color: #bc9cff; }

.colors__font_green {
  color: #6fcf97; }

.colors__font_darkShade5 {
  color: rgba(31, 32, 65, 0.05); }

.colors__font_darkShade25 {
  color: rgba(31, 32, 65, 0.25); }

.colors__font_darkShade50 {
  color: rgba(31, 32, 65, 0.5); }

.colors__font_darkShade75 {
  color: rgba(31, 32, 65, 0.75); }

.colors__font_darkShade100 {
  color: #1f2041; }

.colors__font_white {
  color: white; }

.globalLogo {
  height: 48px;
  margin: 30px 0px 0px 30px; }

.colors {
  display: flex;
  flex-direction: column; }
  .colors__colorsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 427px;
    margin-bottom: 145px; }
  .colors__colorContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; }
    .colors__colorContainer:last-child {
      margin-bottom: 0px; }
  .colors__colorRectangle {
    width: 70px;
    height: 70px;
    border-radius: 6px; }
  .colors__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px; }
  .colors__colorName {
    display: flex;
    align-items: center;
    font-family: OpenSansBold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    color: #1f2041;
    letter-spacing: -0.015em; }
  .colors__colorCode {
    display: flex;
    align-items: center;
    font-family: OpenSansRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    color: #1f2041;
    letter-spacing: -0.04em; }

.globalLogo {
  margin-bottom: 67px; }

.globalLogo {
  margin-bottom: 72px; }

