@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@charset "UTF-8";
@font-face {
  font-family: MontserratBold;
  src: url(src/fonts/Montserrat/Montserrat-Bold.ttf); }

@font-face {
  font-family: MontserratRegular;
  src: url(src/fonts/Montserrat/Montserrat-Regular.ttf); }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html,
body {
  min-width: 100%; }

.colors__background_purpleToBlueGrad {
  background: linear-gradient(to bottom, #bc9cff, #8ba4f9); }

.colors__background_purple {
  background: #bc9cff; }

.colors__background_green {
  background: #6fcf97; }

.colors__background_darkShade5 {
  background: rgba(31, 32, 65, 0.05); }

.colors__background_darkShade25 {
  background: rgba(31, 32, 65, 0.25); }

.colors__background_darkShade50 {
  background: rgba(31, 32, 65, 0.5); }

.colors__background_darkShade75 {
  background: rgba(31, 32, 65, 0.75); }

.colors__background_darkShade100 {
  background: #1f2041; }

.colors__font_purple {
  color: #bc9cff; }

.colors__font_green {
  color: #6fcf97; }

.colors__font_darkShade5 {
  color: rgba(31, 32, 65, 0.05); }

.colors__font_darkShade25 {
  color: rgba(31, 32, 65, 0.25); }

.colors__font_darkShade50 {
  color: rgba(31, 32, 65, 0.5); }

.colors__font_darkShade75 {
  color: rgba(31, 32, 65, 0.75); }

.colors__font_darkShade100 {
  color: #1f2041; }

.formElements {
  padding-bottom: 100px; }
  .formElements > div:nth-child(n + 1) {
    margin-bottom: 20px;
    margin-left: 141px; }

.globalLogo {
  height: 48px;
  margin: 30px 0px 0px 30px; }

.formInput {
  width: 320px; }
  .formInput_textFieldDefault {
    display: flex;
    flex-direction: column; }
  .formInput__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px; }
    .formInput__label p:nth-of-type(1) {
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041; }
    .formInput__label p:nth-of-type(2) {
      font-family: MontserratRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      text-transform: uppercase;
      color: rgba(31, 32, 65, 0.5); }
  .formInput__input {
    display: grid;
    grid-template-rows: 42px;
    grid-template-columns: auto min-content;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative; }
    .formInput__input:hover, .formInput__input:focus {
      border: 1px solid rgba(31, 32, 65, 0.5); }
  .formInput__mainInput {
    padding: 0px 100px 0px 15px;
    height: 44px;
    outline: none;
    background: transparent;
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */ }
    .formInput__mainInput::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.25);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0px solid transparent; }
    .formInput__mainInput:-webkit-autofill, .formInput__mainInput:-webkit-autofill:hover, .formInput__mainInput:-webkit-autofill:focus,
    .formInput__mainInput textarea:-webkit-autofill,
    .formInput__mainInput textarea:-webkit-autofill:hover,
    .formInput__mainInput textarea:-webkit-autofill:focus,
    .formInput__mainInput select:-webkit-autofill,
    .formInput__mainInput select:-webkit-autofill:hover,
    .formInput__mainInput select:-webkit-autofill:focus {
      border: 0px solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .formInput__submitInput {
    width: 42px;
    height: 42px;
    outline: none;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    border: 0px solid transparent;
    background: -moz-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
    background: -webkit-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
    background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
    .formInput__submitInput:hover, .formInput__submitInput:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-radius: 4px; }
  .formInput__dropdownInput {
    width: 42px;
    height: 42px;
    outline: none;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    border: 0px solid transparent;
    background: rgba(31, 32, 65, 0.75);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
    .formInput__dropdownInput:hover {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-radius: 4px; }
  .formInput__dropedList {
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    position: absolute;
    width: 100%;
    top: 44px;
    background: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 0px;
    box-sizing: content-box;
    margin: -1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1; }
    .formInput__dropedList > div:first-of-type {
      margin-top: 7px; }
    .formInput__dropedList > div {
      margin-bottom: 7px; }
    .formInput__dropedList:hover, .formInput__dropedList:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-top: 0px; }
  .formInput__dropedListItem {
    display: grid;
    grid-template-columns: auto 93px;
    align-items: center;
    padding: 0px 7px 0px 15px; }
    .formInput__dropedListItem > p {
      overflow: auto;
      word-wrap: break-word;
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041; }
  .formInput__dropedListItemHandler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .formInput__dropedListItemHandler > button {
      width: 30px;
      height: 30px;
      border-radius: 31px;
      border: 1px solid rgba(31, 32, 65, 0.5);
      background: transparent;
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #1f2041; }
    .formInput__dropedListItemHandler > p {
      margin: 0px 5px;
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #1f2041; }
  .formInput__dropedListItemHandlerMinus {
    opacity: 0.38; }
  .formInput__dropedListItemHandlerMinus, .formInput__dropedListItemHandlerPlus {
    outline: none; }

.checkboxList {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto auto; }
  .checkboxList__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px; }
    .checkboxList__label > p {
      font-family: MontserratBold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041;
      word-wrap: none;
      margin-right: 31px; }
  .checkboxList__dropdownButton {
    width: 42px;
    height: 42px;
    outline: none;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    border: 0px solid transparent;
    background: rgba(31, 32, 65, 0.75);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
    .checkboxList__dropdownButton:hover {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-radius: 4px; }
  .checkboxList__list {
    display: flex;
    flex-direction: column; }
  .checkboxList__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; }
    .checkboxList__item:last-child {
      margin-bottom: 0px; }
  .checkboxList__itemLabel > p {
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center; }
  .checkboxList__itemCheckbox {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .checkboxList__itemCheckbox + p::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid #adb5bd;
      border-radius: 4px;
      margin-right: 10px; }
    .checkboxList__itemCheckbox:checked + p::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid #bc9cff;
      border-radius: 4px;
      margin-right: 10px;
      background: url(src/FormElements.CheckboxList/img/checkMark.svg) no-repeat;
      background-position: 50% 40%; }

.globalLogo {
  margin-bottom: 65px; }

