@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
  .datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .datepicker.-from-right- {
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  position: relative; }
  .datepicker--time.-am-pm- .datepicker--time-sliders {
    -webkit-flex: 0 1 138px;
        -ms-flex: 0 1 138px;
            flex: 0 1 138px;
    max-width: 138px; }
  .-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
      -ms-flex: 0 1 153px;
          flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }
  .datepicker--time-current-hours:after,
  .datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
  .datepicker--time-row:first-child {
    margin-bottom: 4px; }
  .datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-ms-tooltip {
      display: none; }
    .datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-moz-range-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-ms-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:focus {
      outline: none; }
      .datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-moz-range-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-ms-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-moz-range-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-ms-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      margin-top: -6px; }
    .datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-moz-range-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-lower {
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-upper {
      background: transparent; }
  .datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }
  .datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
  .datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html,
body {
  min-width: 100%;
  display: flex; }

@font-face {
  font-family: "Montserrat";
  src: url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Quicksand";
  src: url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.woff), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.woff2), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.eot), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.ttf), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Quicksand";
  src: url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.woff), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.woff2), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.eot), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.ttf), url(src/assets/fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.svg);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf), url(src/assets/fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg);
  font-weight: bold;
  font-style: normal; }

.logo-colored {
  display: flex;
  align-items: center;
  height: 40px;
  justify-self: end; }
  .logo-colored__logo-symbol {
    margin-right: 12.5px; }

.button-default {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 22px;
  background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  /*     width: 99px;
    &_with-width_99px {
        width: 99px;
    }
    &_with-width_320px {
        width: 320px;
    }
    &_with-width_79px {
        width: 79px;
    }
    &_with-width_101px {
        width: 101px;
    }
    &_with-width_87px {
        width: 87px;
    }
    &_with-width_196px {
        width: 196px;
    } */
  height: 44px; }
  .button-default__button-basis {
    cursor: pointer;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: transparent;
    border-radius: 22px;
    outline: none; }
  .button-default > button {
    width: -webkit-fill-available; }
  .button-default__button-text {
    cursor: pointer;
    background: transparent;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: -0.03em; }
  .button-default__arrow {
    cursor: pointer;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0px;
    height: 44px;
    width: 44px; }
  .button-default__input-button {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 2; }
    .button-default__input-button + p {
      /* z-index: 1; */ }
  .button-default:hover {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button-default_hollow-button > a,
  .button-default_hollow-button > button,
  .button-default_hollow-button > label {
    background: #ffffff; }
    .button-default_hollow-button > a > p:first-of-type,
    .button-default_hollow-button > button > p:first-of-type,
    .button-default_hollow-button > label > p:first-of-type {
      color: #bc9cff; }
  .button-default_with-height_34px {
    height: 34px; }
  .button-default_with-height_44px {
    height: 44px; }
  .button-default__font_purple {
    color: #bc9cff; }
  .button-default__font_white {
    color: white; }

.standard-navigation-bar {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  /* padding: 15px 140px; */
  padding: 15px 9.72222%;
  justify-items: start;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  @media screen and (max-width: 1150px) and (min-width: 768px) {
    .standard-navigation-bar {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto; } }
  @media screen and (max-width: 768px) {
    .standard-navigation-bar {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: min-content auto; } }
  @media screen and (max-width: 550px) {
    .standard-navigation-bar {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: min-content min-content min-content;
      justify-content: flex-start; } }
  @media screen and (max-width: 768px) {
    .standard-navigation-bar__logo-colore-container {
      justify-self: flex-start; } }
  .standard-navigation-bar__navigation-menu-container {
    justify-self: end;
    margin-right: 20px; }
    @media screen and (max-width: 1150px) and (min-width: 768px) {
      .standard-navigation-bar__navigation-menu-container {
        order: 2;
        margin-right: 0px;
        margin-top: 20px;
        grid-column-start: 2;
        grid-column-end: 3; } }
    @media screen and (max-width: 768px) {
      .standard-navigation-bar__navigation-menu-container {
        order: 2;
        margin-right: 0px;
        margin-top: 20px;
        margin-left: 5px;
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 550px) {
      .standard-navigation-bar__navigation-menu-container {
        justify-self: flex-start; } }
  .standard-navigation-bar__user-full-name {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap; }
    .standard-navigation-bar__user-full-name:before {
      content: "";
      height: 30px;
      width: 1px;
      background: transparent;
      border-left: 1px solid rgba(31, 32, 65, 0.1);
      padding-right: 20px; }
    @media screen and (max-width: 1150px) and (min-width: 768px) {
      .standard-navigation-bar__user-full-name {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 768px) {
      .standard-navigation-bar__user-full-name {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 550px) {
      .standard-navigation-bar__user-full-name {
        margin-top: 20px; } }
  .standard-navigation-bar__buttons {
    display: flex; }
    @media screen and (max-width: 1150px) and (min-width: 768px) {
      .standard-navigation-bar__buttons {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 768px) {
      .standard-navigation-bar__buttons {
        order: 1;
        justify-self: end; } }
    @media screen and (max-width: 550px) {
      .standard-navigation-bar__buttons {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: min-content;
        margin-top: 20px; } }
  .standard-navigation-bar__first-button-container {
    width: 87px;
    margin-right: 20px; }
    @media screen and (max-width: 550px) {
      .standard-navigation-bar__first-button-container {
        margin-right: 0px;
        margin-bottom: 10px; } }
  .standard-navigation-bar__second-button-container {
    width: 196px; }
  .standard-navigation-bar__navigation-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .standard-navigation-bar__navigation-list {
        display: flex;
        flex-direction: column; } }
  .standard-navigation-bar__navigation-list-item {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    /* &_first-item  */
    /* &_last-item */ }
    .standard-navigation-bar__navigation-list-item-ref {
      text-decoration: none;
      color: rgba(31, 32, 65, 0.5); }
    .standard-navigation-bar__navigation-list-item-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      white-space: nowrap;
      letter-spacing: 0.002em; }
    .standard-navigation-bar__navigation-list-item:first-child {
      margin: 0px 10px 0px 0px; }
      .standard-navigation-bar__navigation-list-item:first-child a {
        color: rgba(31, 32, 65, 0.75); }
        .standard-navigation-bar__navigation-list-item:first-child a p {
          font-weight: bold; }
      @media screen and (max-width: 768px) {
        .standard-navigation-bar__navigation-list-item:first-child {
          margin: 0px 0px 10px 0px; } }
    .standard-navigation-bar__navigation-list-item:last-child {
      margin: 0px 0px 0px 10px; }
      @media screen and (max-width: 768px) {
        .standard-navigation-bar__navigation-list-item:last-child {
          margin: 10px 0px 0px 0px; } }
    @media screen and (max-width: 768px) {
      .standard-navigation-bar__navigation-list-item {
        margin: 10px 0px 10px 0px; } }
  .standard-navigation-bar__dropdown-arrow {
    cursor: pointer;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5); }

.button-default {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 22px;
  background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  /*     width: 99px;
    &_with-width_99px {
        width: 99px;
    }
    &_with-width_320px {
        width: 320px;
    }
    &_with-width_79px {
        width: 79px;
    }
    &_with-width_101px {
        width: 101px;
    }
    &_with-width_87px {
        width: 87px;
    }
    &_with-width_196px {
        width: 196px;
    } */
  height: 44px; }
  .button-default__button-basis {
    cursor: pointer;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: transparent;
    border-radius: 22px;
    outline: none; }
  .button-default > button {
    width: -webkit-fill-available; }
  .button-default__button-text {
    cursor: pointer;
    background: transparent;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: -0.03em; }
  .button-default__arrow {
    cursor: pointer;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0px;
    height: 44px;
    width: 44px; }
  .button-default__input-button {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 2; }
    .button-default__input-button + p {
      /* z-index: 1; */ }
  .button-default:hover {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .button-default_hollow-button > a,
  .button-default_hollow-button > button,
  .button-default_hollow-button > label {
    background: #ffffff; }
    .button-default_hollow-button > a > p:first-of-type,
    .button-default_hollow-button > button > p:first-of-type,
    .button-default_hollow-button > label > p:first-of-type {
      color: #bc9cff; }
  .button-default_with-height_34px {
    height: 34px; }
  .button-default_with-height_44px {
    height: 44px; }
  .button-default__font_purple {
    color: #bc9cff; }
  .button-default__font_white {
    color: white; }

.form-input {
  width: 100%; }
  .form-input_text-field-default {
    display: flex;
    flex-direction: column; }
  .form-input__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px; }
  .form-input__title-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041; }
  .form-input__title-text-test {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5); }
  .form-input__input-container {
    display: grid;
    grid-template-rows: 42px;
    grid-template-columns: auto min-content;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative; }
    .form-input__input-container:hover, .form-input__input-container:focus {
      border: 1px solid rgba(31, 32, 65, 0.5); }
  .form-input__input {
    padding: 0px 15px;
    height: 44px;
    outline: none;
    background: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */ }
    .form-input__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.25);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0px solid transparent; }
    .form-input__input:-webkit-autofill, .form-input__input:-webkit-autofill:hover, .form-input__input:-webkit-autofill:focus,
    .form-input__input textarea:-webkit-autofill,
    .form-input__input textarea:-webkit-autofill:hover,
    .form-input__input textarea:-webkit-autofill:focus,
    .form-input__input select:-webkit-autofill,
    .form-input__input select:-webkit-autofill:hover,
    .form-input__input select:-webkit-autofill:focus {
      border: 0px solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .form-input__submit-input {
    cursor: pointer;
    min-width: 42px;
    height: 42px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    border: 0px solid transparent;
    background: -moz-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
    background: -webkit-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
    background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

.authorization-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 30px 30px 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  .authorization-form__title {
    display: flex;
    width: 100%;
    margin-bottom: 20px; }
  .authorization-form__title-text {
    font-family: Quicksand, OpenSans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1f2041; }
  .authorization-form__email-and-password-inputs-container {
    margin-bottom: 20px;
    width: 100%; }
    .authorization-form__email-and-password-inputs-container > div:first-child {
      margin-bottom: 10px; }
  .authorization-form__submit-button-container {
    margin-bottom: 30px;
    width: 100%; }
  .authorization-form__already-registered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .authorization-form__already-registered-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000; }
  .authorization-form__create-button-container {
    width: 30.9375%; }

.form-input {
  width: 100%; }
  .form-input_text-field-default {
    display: flex;
    flex-direction: column; }
  .form-input__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px; }
  .form-input__title-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041; }
  .form-input__title-text-test {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5); }
  .form-input__input-container {
    display: grid;
    grid-template-rows: 42px;
    grid-template-columns: auto min-content;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative; }
    .form-input__input-container:hover, .form-input__input-container:focus {
      border: 1px solid rgba(31, 32, 65, 0.5); }
  .form-input__input {
    padding: 0px 15px;
    height: 44px;
    outline: none;
    background: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */ }
    .form-input__input::-webkit-input-placeholder {
      background: rgba(31, 32, 65, 0.25);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0px solid transparent; }
    .form-input__input:-webkit-autofill, .form-input__input:-webkit-autofill:hover, .form-input__input:-webkit-autofill:focus,
    .form-input__input textarea:-webkit-autofill,
    .form-input__input textarea:-webkit-autofill:hover,
    .form-input__input textarea:-webkit-autofill:focus,
    .form-input__input select:-webkit-autofill,
    .form-input__input select:-webkit-autofill:hover,
    .form-input__input select:-webkit-autofill:focus {
      border: 0px solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }
  .form-input__submit-input {
    cursor: pointer;
    min-width: 42px;
    height: 42px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    border: 0px solid transparent;
    background: -moz-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
    background: -webkit-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
    background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

.social-media {
  display: flex;
  align-content: center; }
  .social-media__ref {
    width: 24px;
    height: 24px;
    margin-right: 20px; }
    .social-media__ref-image {
      width: 24px;
      height: 24px; }
    .social-media__ref:last-of-type {
      margin-right: 0px; }

.footer-widgets-and-copyright-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .footer-widgets-and-copyright-bar__info-bar {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 26% 17% 17.5% 19.5% 20%;
    padding: 100px 9.72222%;
    justify-items: start;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    margin-bottom: 1px; }
    @media screen and (max-width: 1300px) {
      .footer-widgets-and-copyright-bar__info-bar {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 31% 22% 22.5% 24.5%; } }
    @media screen and (max-width: 1100px) {
      .footer-widgets-and-copyright-bar__info-bar {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 39% 30% 30.5%;
        grid-row-gap: 30px; } }
    @media screen and (max-width: 850px) {
      .footer-widgets-and-copyright-bar__info-bar {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 55% 45%; } }
    @media screen and (max-width: 600px) {
      .footer-widgets-and-copyright-bar__info-bar {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto; } }
  .footer-widgets-and-copyright-bar__some-info {
    width: 260px;
    display: flex;
    flex-direction: column; }
    .footer-widgets-and-copyright-bar__some-info-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      margin-top: 18px; }
  .footer-widgets-and-copyright-bar__info-bar-menu-container {
    /*         &_first {
            margin-left: 40px;
        }
        &_second {
            margin-left: 60px;
        }
        &_third {
            margin-left: 95px;
        } */ }
  .footer-widgets-and-copyright-bar__subscribe-to-our-newsletter {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 4px; }
  .footer-widgets-and-copyright-bar__subscribe-title-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 19px; }
  .footer-widgets-and-copyright-bar__subscribe-main-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 22px; }
  .footer-widgets-and-copyright-bar__subscribe-to-our-newsletter-email-form {
    display: flex;
    flex-wrap: nowrap;
    width: 260px;
    background: transparent; }
  .footer-widgets-and-copyright-bar__copyright-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 23px 9.72222%;
    /* align-content: center; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }
    @media screen and (max-width: 850px) {
      .footer-widgets-and-copyright-bar__copyright-bar {
        flex-direction: column; } }
  .footer-widgets-and-copyright-bar__copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    text-align: center; }
    @media screen and (max-width: 850px) {
      .footer-widgets-and-copyright-bar__copyright {
        margin-bottom: 20px; } }
  .footer-widgets-and-copyright-bar__info-bar-menu {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column;
    /*     &:nth-child(2) {
        margin-left: 40px;
    }
    &:nth-child(3) {
        margin-left: 119px;
    }
    &:nth-child(4) {
        margin-left: 115px;
    } */ }
    .footer-widgets-and-copyright-bar__info-bar-menu-item {
      margin-bottom: 21px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px; }
      .footer-widgets-and-copyright-bar__info-bar-menu-item:first-of-type {
        margin-top: 4px;
        margin-bottom: 22px; }
        .footer-widgets-and-copyright-bar__info-bar-menu-item:first-of-type > div > p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: #1f2041; }
      .footer-widgets-and-copyright-bar__info-bar-menu-item:last-of-type {
        margin-bottom: 0px; }
      .footer-widgets-and-copyright-bar__info-bar-menu-item-ref {
        text-decoration: none; }
      .footer-widgets-and-copyright-bar__info-bar-menu-item-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
        white-space: nowrap; }

.sign-in {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media screen and (max-width: 400px) {
    .sign-in {
      width: auto; } }
  .sign-in__main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .sign-in__background-image-container {
    width: 100%;
    z-index: 1;
    position: relative; }
    @media screen and (max-width: 900px) {
      .sign-in__background-image-container {
        order: 1; } }
  .sign-in__background-image {
    width: 100%;
    height: 100%; }
  .sign-in__form-container {
    width: 380px;
    position: absolute;
    z-index: 2; }
    @media screen and (max-width: 900px) {
      .sign-in__form-container {
        position: relative;
        order: 2;
        margin-top: 0px;
        margin-left: 0px; } }
    @media screen and (max-width: 380px) {
      .sign-in__form-container {
        width: 100%; } }

