extends ../../page-base

include ../../../components/room-finder-form/room-finder-form.pug

block content
    div(class=["landing-page"])
        div(class=["landing-page__form"])
            +room-finder-form({
                titleText: "Найдём номера под ваши пожелания",
            })
        div(class=["landing-page__background"])
            div(class=["landing-page__subtitle"])
                p(class=["landing-page__subtitle-text"])
                    | Лучшие номера для вашей работы,
                    | отдыха и просто вдохновения