include ../FormElements.FormInput/FormInput.pug
include ../FormElements.RadioButton/RadioButton.pug
include ../FormElements.DateInput/DateInput.pug
include ../FormElements.ButtonDefault/ButtonDefault.pug

mixin getRegistrationForm(options)

    form(class=["registration-form"])
        - if(options.titleText)
            div(class=["registration-form__title"])
                p(class=["registration-form__title-text"])= options.titleText

        div(class=["registration-form__first-name-input-container"])
            +getFormInput({
                hasTitle: false,
                placeholder: "Имя",
                name: "clientFirstName",
                type: "text",
                value: "",
                hasSubmitButton: false
            })

        div(class=["registration-form__second-name-input-container"])
            +getFormInput({
                hasTitle: false,
                placeholder: "Фамилия",
                name: "clientSecondName",
                type: "text",
                value: "",
                hasSubmitButton: false
            })

        div(class=["registration-form__gender-radio-buttons-container"])
            +getRadioButton({
                blockNumber: "_radio_1",
                buttonType: "radio",
                radioButtonList: [
                    {text: "Мужчина", isChecked: true},
                    {text: "Женщина", isChecked: false},
                ],
                name: "gender",
            })

        div(class=["registration-form__date-input-container"])
            +getDateInput({
                isDoubleInput: false,
                isDateRange: false, 
                firstTitle: "дата рождения",
                width: "318px",
            })  

        div(class=["registration-form__email-input-container"])
            +getFormInput({
                hasTitle: true,
                titleText: "данные для входа в сервис",                
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false
            })

        div(class=["registration-form__password-input-container"])
            +getFormInput({
                hasTitle: false,
                placeholder: "Пароль",
                name: "password",
                type: "password",
                value: "",
                hasSubmitButton: false
            })

        div(class=["registration-form__toggle-container"])
            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: false}
                ],
                name: "specialOffer"
            })

        div(class=["registration-form__submit-button-container"])
            +getButton({
                text: 'перейти к оплате',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
                width: "320px",
            })

        div(class=["registration-form__already-registered"])
            p(class=["registration-form__already-registered-text"]) Уже есть аккаунт на Toxin
            div(class=["registration-form__sign-in-button-container"])
                +getButton({
                    text: "войти",
                    isHollow:  true,
                    buttonType: "a",
                    hasArrow: false,
                    width: "99px",
                }) 