mixin range-slider(options = {})
    - 
        const { 
            title = "",
            description = "", 
        } = options;

    div(class=["range-slider"])
        p(class=["range-slider__title"])
            span(class=["range-slider__slider-name"])= title
            span(class=["range-slider__current-values"])
        div(class=["range-slider__content"])
        if(description)
            p(class=["range-slider__description"])= description