@import '../../assets/constants.scss';

.range-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__slider-name {
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-transform: uppercase;
        color: $color-dark-shade-100;
    }

    &__current-values {
        font-style: normal;
        font-weight: normal;
        font-size: 12rem;
        line-height: 15rem;
        text-align: right;
        text-transform: uppercase;
        color: $color-dark-shade-50;
    }

    &__description {
        margin-top: 5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 12rem;
        line-height: 14rem;
        color: $color-dark-shade-50;
    }

    & .irs {
        -webkit-touch-callout: none;
    }
    & .irs-line {
        height: 6rem;
        overflow: hidden;
        outline: none;
        background: white;
        border: 1rem solid $color-dark-shade-25;
        box-sizing: border-box;
        border-radius: 3rem;
    }

    & .irs-bar {
        height: 6rem;
        background: $gradient-green-to-turquoise;
    }

    & .irs-handle {
        cursor: pointer;
        width: 16rem;
        height: 16rem;
        top: 20rem;
        background: $gradient-green-to-turquoise;
        border: 2rem solid white;
        border-radius: 50%;
    }

    .irs--flat .irs-handle > i:first-child {
        display: none;
    }
}
