.range-slider {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__slider-name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
    }

    &__current-values {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
    }

    &__description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }

    & .irs {
        -webkit-touch-callout: none;
    }
    & .irs-line {
        overflow: hidden;
        outline: none;
        height: 6px;
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 3px;
    }

    & .irs-bar {
        height: 6px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    & .irs-handle {
        cursor: pointer;
        width: 12px;
        height: 12px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border: 0.125rem solid #ffffff;
        border-radius: 50%;
    }

    .irs--flat .irs-handle > i:first-child {
        display: none;
    }
}
