.checkboxList {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: auto auto;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
    }
    &__titleText {
        font-family: MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
        word-wrap: none;
        margin-right: 31px;

        &_richTitleBottomMargin,
        &_simpleTitleBottomMargin {
            margin-bottom: 15px;
        }
    }

    &__dropdownButton {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 42px;
        height: 42px;
        outline: none;

        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        background: rgba(31, 32, 65, 0.75);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__itemLabelText {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__itemLabelMainText {
        font-family: MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__itemLabelSimpleText {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    $checkboxMarginRight: 10px;
    $checkboxSize: 20px;
    &__itemLabelAdditionalText {
        margin-left: $checkboxSize + $checkboxMarginRight;
        margin-top: 5px;
        width: 266px;

        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__itemCheckbox {
        width: $checkboxSize;
        height: $checkboxSize;
        position: absolute;
        z-index: -1;
        opacity: 0;

        & + p::before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid #adb5bd;
            border-radius: 4px;
            margin-right: $checkboxMarginRight;
        }
        &:checked + p::before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid #bc9cff;
            border-radius: 4px;
            margin-right: $checkboxMarginRight;
            background: url("./FormElements.CheckboxList/img/checkMark.svg") no-repeat;
            background-position: 50% 40%;
        }
    }
}
