mixin getCheckbox(options, classes={})

    - if(options.checkboxType === "expandable"){
    -    classes.container ? classes.container.push("checkboxList_expandable") : classes.container = ["checkboxList_expandable"];
    -    classes.itemLabelText ? classes.itemLabelText.push("checkboxList__itemLabelText") : classes.itemLabelText = ["checkboxList__itemLabelText"];
    - }
    - else if(options.checkboxType === "rich"){
    -    classes.title ? classes.title.push("checkboxList__titleText_richTitleBottomMargin") : classes.title = ["checkboxList__titleText_richTitleBottomMargin"];
    -    classes.itemLabelText ? classes.itemLabelText.push("checkboxList__itemLabelMainText") : classes.itemLabelText = ["checkboxList__itemLabelMainText"];
    - }
    - else if(options.checkboxType === "simple"){
    -    classes.title ? classes.title.push("checkboxList__titleText_simpleTitleBottomMargin") : classes.title = ["checkboxList__titleText_simpleTitleBottomMargin"];
    -    classes.itemLabelText ? classes.itemLabelText.push("checkboxList__itemLabelSimpleText") : classes.itemLabelText = ["checkboxList__itemLabelSimpleText"]; 
    - }

    div(class=["checkboxList"].concat(classes.container || []))
        div(class=["checkboxList__title"].concat(classes.title || []))
            p(class=["checkboxList__titleText"].concat(classes.titleText || []))= options.titleText
            - if(options.checkboxType === "expandable")
                p(class=["checkboxList__dropdownButton"].concat(classes.dropdownButton || [])) expand_more
        div(class=["checkboxList__list"].concat(classes.list || []) data-is-opened=options.isOpened)
            - for(let item of options.checkboxList)
                div(class=["checkboxList__item"].concat(classes.item || []))
                    label(class=["checkboxList__itemLabel"].concat(classes.itemLabel || []))
                        input(class=["checkboxList__itemCheckbox"].concat(classes.itemCheckbox || []) type= "checkbox" checked= item.isChecked)
                        div(class=["checkboxList__itemCheckboxVisiblePart"].concat(classes.itemCheckboxVisiblePart || []))
                        p(class=["checkboxList__itemLabelText"].concat(classes.itemLabelText || []))= item.text
                    - if(options.checkboxType === "rich")
                        p(class=["checkboxList__itemLabelAdditionalText"].concat(classes.itemLabelAdditionalText || []))= item.additionalText  