include ../colored-logo/colored-logo.pug
include ../social-media/social-media.pug

mixin short-footer()

  footer(class=["short-footer"])
    +colored-logo()
    p(class=["short-footer__text"])
      | Copyright © 2018 Toxin отель. Все права зачищены.
    +social-media()