.footerWidgetsAndCopyrightBar__subscribeToOurNewsletter
    p SUBSCRIBE TO OUR NEWSLETTER
    p Receive our latest news and promotions in your inbox!
    form.footerWidgetsAndCopyrightBar__subscribeToOurNewsletterEmailForm
        include ../../../FormElements.FormInput/FormInput.pug
        +getFormInput({
            hasTitle: false,
            titleTextTest: {
                isTitleTextTestVisible: false,
            },
            placeholder: "Your email address",
            name: "email",
            type: "email",
            value: "",
            hasSubmitButton: true})