&__subscribeToOurNewsletter {
    display: flex;
    flex-direction: column;
    justify-self: end;

    margin-top: 4px;
    margin-left: 87px;

    p:first-of-type {
        font-family: MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;

        margin-bottom: 20px;
        letter-spacing: -0.02em;
    }
    p:last-of-type {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);

        margin-bottom: 20px;
        width: 196px;
        letter-spacing: -0.01em;
    }
}

&__subscribeToOurNewsletterEmailForm {
    display: flex;
    flex-wrap: nowrap;
    width: 260px;

    background: transparent;
}

@import "../../../FormElements.FormInput/FormInput.scss";
