&__someInfo {
    width: 260px;
    display: flex;
    flex-direction: column;

    p {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);

        margin-top: 18px;
        letter-spacing: -0.01em;
    }
}
