extends ../../base/ui-kit-base

include ../../../components/logo/logo.pug
include ../../../components/font-demo/font-demo.pug
include ../../../components/color-demo/color-demo.pug

block content
    div(class=["colors-and-type"])
        div(class=["colors-and-type__color-demos"])
            - for(let i = 100; i >= 25; i -= 25)
                div(class=["colors-and-type__color-demo"])
                    +color-demo({
                        colorName: `Dark Shade ${i}%`,
                        colorCode: "#1F2041",
                        backgroundColor: `dark-shade-${i}`,
                    })
            div(class=["colors-and-type__color-demo"])
                +color-demo({
                    colorName: "Dark Shade 5%",
                    colorCode: "#1F2041",
                    backgroundColor: "dark-shade-5",
                })
            div(class=["colors-and-type__color-demo"])
                +color-demo({
                    colorName: "Purple",
                    colorCode: "#BC9CFF",
                    backgroundColor: "purple",
                })
            div(class=["colors-and-type__color-demo"])
                +color-demo({
                    colorName: "Green",
                    colorCode: "#6FCF97",
                    backgroundColor: "green",
                })
        div(class=["colors-and-type__font-demos"])
            div(class=["colors-and-type__font-demo"])
                +font-demo({
                    tagOptions: {
                        tagName: "H1",
                        family: "montserrat",
                        weight: "regular",
                        size: "24rem",
                        color: "dark-shade-25"
                    },
                    descriptionOptions: {
                        text: "This one is the sub-section or widget title",
                        family: "quicksand",
                        weight: "bold",                                
                        size: "24rem",
                        color: "dark-shade-100",
                        lineHeight: "30rem",
                    }
                })  
            div(class=["colors-and-type__font-demo"])
                +font-demo({
                    tagOptions: {
                        tagName: "H2",
                        family: "montserrat",
                        weight: "regular",
                        size: "19rem",
                        color: "dark-shade-25"
                    },
                    descriptionOptions: {
                        text: "Next one is the item title inside widgets",
                        family: "quicksand",
                        weight: "bold",
                        size: "19rem",
                        color: "dark-shade-100",
                        lineHeight: "24rem",
                    }
                })
            div(class=["colors-and-type__font-demo"])
                +font-demo({
                    tagOptions: {
                        tagName: "H3",
                        family: "montserrat",
                        weight: "regular",
                        size: "12rem",
                        color: "dark-shade-25"
                    },
                    descriptionOptions: {
                        text: "This is a label or CTA text",
                        family: "montserrat",
                        weight: "bold",
                        size: "12rem",
                        color: "dark-shade-100",
                        lineHeight: "15rem",
                        inUppercase: true,
                    }
                })
            div(class=["colors-and-type__font-demo"])
                +font-demo({
                    tagOptions: {
                        tagName: "Body",
                        family: "montserrat",
                        weight: "regular",
                        size: "14rem",
                        color: "dark-shade-25"
                    },
                    descriptionOptions: {
                        text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
                        family: "montserrat",
                        weight: "regular",                                
                        size: "14rem",
                        color: "dark-shade-75",
                        lineHeight: "24rem",
                    }
                })

