@import "../../base.scss";
@import "../../../assets/fonts/fonts.scss";
@include setFonts("../../../");

@import "../../../components/logo/logo.scss";
@import "../../../components/font-demo/font-demo.scss";
@import "../../../components/color-demo/color-demo.scss";

body {
    padding-bottom: 40px;
}

.colors-and-type {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 67px 10.4% 145px;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    &__color-demos {
        @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
        }
    }

    &__color-demo {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__font-demos {
        margin-right: 42px;
    }

    &__font-demo {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0px;
            max-width: 380px;
            & .font-demo__description {
                line-height: 22px;
            }
        }
    }
}
