mixin getGuestsAndDateRangeForm()

    include ../../FormElements.DateInput/DateInput.pug
    +getDateInput({
        inputType: "double",
        firstTitle: "выезд",
        secondTitle: "прибытие"},
        {
            container: ["formDefault_marginBottom20"]
        }
    )

    include ../../FormElements.Dropdown/Dropdown.pug
    +getDropdown({
        titleText: "гости",
        isTitleTextTestVisible: false,
        titleTextTestValue: "",
        placeholder: "dropdown",
        name: "dropdown",
        type: "text",
        value: "Сколько гостей",
        dropdownList: [
            {name: "взрослые", value: 0},
            {name: "дети", value: 0},
            {name: "младенцы", value: 0}
        ]},
        {
            container: ["formDefault_marginBottom30"],
            input: ["dropdown__input_sumNumber"],
        }
    )

    include ../../FormElements.ButtonDefault/ButtonDefault.pug
    +getButton({
        text: 'подобрать номер',
        isHollow: false,
        buttonType: "submit",
        hasArrow: true,
        width: "320px",
    })