mixin getPriceCalculationForm(options, classes={})

    include ../../Cards.RoomInfoTitle/RoomInfoTitle.pug
    +getRoomInfoTitle( {
            roomNumber: 888,
            roomStatus: "люкс",
            roomPrice: "9 990₽",
            periodOfTime: "сутки",
        }, 
        {
            container: ["formDefault_marginBottom20"],
        }
    ) 

    include ../../FormElements.DateInput/DateInput.pug
    +getDateInput({
        inputType: "double",
        firstTitle: "выезд",
        secondTitle: "прибытие"},
        {
            container: ["formDefault_marginBottom20", "priceCalculation__dateInput"]
        }
    )

    include ../../FormElements.Dropdown/Dropdown.pug
    +getDropdown({
        titleText: "гости",
        isTitleTextTestVisible: false,
        titleTextTestValue: "",
        placeholder: "dropdown",
        name: "dropdown",
        type: "text",
        value: "Сколько гостей",
        dropdownList: [
            {name: "взрослые", value: 0},
            {name: "дети", value: 0},
            {name: "младенцы", value: 0}
        ]},
        {
            container: ["formDefault_marginBottom20"],
            input: ["dropdown__input_sumNumber"],
        }
    )   

    div(class=["formDefault__interactiveInfo"])
        div(class=["formDefault__priceMultiplyPeriodOfTime"])
            div(class=["formDefault__priceMultiplyPeriodOfTimeDescription"])
                p(class=["formDefault__priceMultiplyPeriodOfTimeDescriptionNumber"] data-number=9990) 9 990₽ х
                p(class=["formDefault__priceMultiplyPeriodOfTimeDescriptionDays"]) 0 суток
            p(class=["formDefault__priceMultiplyPeriodOfTimePriceCalculated"] data-calculated-number=9990) 9 990₽
        div(class=["formDefault__servicesDiscount"])
            div(class=["formDefault__servicesDiscountDescription"])
                p(class=["formDefault__servicesDiscountDescriptionText"]) Сбор за услуги: скидка 2 179₽
                div(class=["formDefault__infoSymbol", "formDefault__servicesDiscountDescriptionInfoSymbol"])
                    p(class=["formDefault__infoSymbolInnerLetter"]) i
            p(class=["formDefault__servicesDiscountPriceCalculated"] data-calculated-number=0) 0₽
        div(class=["formDefault__additionalServices"])
            div(class=["formDefault__additionalServicesDescription"])
                p(class=["formDefault__additionalServicesDescriptionText"]) Сбор за дополнительные услуги
                div(class=["formDefault__infoSymbol", "formDefault__additionalServicesDescriptionInfoSymbol"])
                    p(class=["formDefault__infoSymbolInnerLetter"]) i                
            p(class=["formDefault__additionalServicesPriceCalculated"] data-calculated-number=0) 0₽
        div(class=["formDefault__inTotal"])
            p(class=["formDefault__inTotalText"]) Итого
            p(class=["formDefault__inTotalBottomLine"])
            p(class=["formDefault__inTotalNumber"] data-total-number=0) 0₽

    include ../../FormElements.ButtonDefault/ButtonDefault.pug
    +getButton({
        text: 'забронировать',
        isHollow: false,
        buttonType: "submit",
        hasArrow: true},
        {
            buttonText: ["formDefault__priceCalculation_toBookButtonText"],
        }
    )

