@import "../../Cards.RoomInfoTitle/RoomInfoTitle.scss";

@mixin setFontProperties($lineHeight: 24px) {
    font: {
        family: MontserratRegular;
        style: normal;
        weight: normal;
        size: 14px;
    }
    line-height: $lineHeight;
    color: rgba(31, 32, 65, 0.75);
}

&__interactiveInfo {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

&__fullPrice,
&__servicesDiscount {
    display: flex;
    justify-content: space-between;

    @include setFontProperties();

    margin-bottom: 10px;
}

&__additionalServices {
    display: flex;
    justify-content: space-between;

    @include setFontProperties(18px);

    margin-bottom: 30px;
}

&__inTotal {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    align-items: baseline;

    font-family: OpenSansBold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1f2041;

    &Text {
        margin-right: 5px;
    }
    &BottomLine {
        border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
    }
    &Number {
        margin-left: 5px;
    }
}

&__priceCalculation {
    &_toBookButtonText {
        padding: 0px 101px;
    }
}
