mixin getRegistrationForm()

    include ../../FormElements.FormInput/FormInput.pug
    +getFormInput({
        hasTitle: false,
        placeholder: "Имя",
        name: "clientFirstName",
        type: "text",
        value: "",
        hasSubmitButton: false},
        {
            container: ["formDefault_marginBottom10"]
        }
    )

    +getFormInput({
        hasTitle: false,
        placeholder: "Фамилия",
        name: "clientSecondName",
        type: "text",
        value: "",
        hasSubmitButton: false},
        {
            container: ["formDefault_marginBottom10"]
        }
    )

    include ../../FormElements.RadioButton/RadioButton.pug
    +getRadioButton({
        buttonType: "radio",
        radioButtonList: [
            {text: "Мужчина", isChecked: true},
            {text: "Женщина", isChecked: false},
        ],
        title: "",
        name: "gender"},
        {
            container: ["formDefault_marginBottom20"]
        }
    )

    include ../../FormElements.DateInput/DateInput.pug
    +getDateInput({
        inputType: "simple",                
        title: "дата рождения"},
        {
            container: ["formDefault_marginBottom20"]
        }
    )

    +getFormInput({
        hasTitle: true,
        titleText: "данные для входа в сервис",                
        placeholder: "Email",
        name: "email",
        type: "email",
        value: "",
        hasSubmitButton: false},
        {
            container: ["formDefault_marginBottom10"]
        }
    )

    +getFormInput({
        hasTitle: false,
        placeholder: "Пароль",
        name: "password",
        type: "password",
        value: "",
        hasSubmitButton: false},
        {
            container: ["formDefault_marginBottom10"]
        }
    )

    +getRadioButton({
        buttonType: "toggle",
        radioButtonList: [
            {text: "Получать спецпредложения", isChecked: false}
        ],
        title: "",
        name: "specialOffer"},
        {
            container: ["formDefault_marginBottom20"]
        }
    )

    include ../../FormElements.ButtonDefault/ButtonDefault.pug
    +getButton({
        text: 'перейти к оплате',
        isHollow: false,
        buttonType: "submit",
        hasArrow: true,
        width: "320px",
    })

    div(class=["formDefault__alreadyRegistered"])
        p(class=["formDefault__alreadyRegisteredText"]) Уже есть аккаунт на Toxin
        +getButton({
            text: "войти",
            isHollow:  true,
            buttonType: "a",
            hasArrow: false,
            width: "99px",
        }) 