&__info-bar-menu {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column;

    /*     &:nth-child(2) {
        margin-left: 40px;
    }
    &:nth-child(3) {
        margin-left: 119px;
    }
    &:nth-child(4) {
        margin-left: 115px;
    } */

    &-item {
        margin-bottom: 21px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        &:first-of-type {
            margin-top: 4px;
            margin-bottom: 22px;

            & > div > p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #1f2041;
            }
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        &-ref {
            text-decoration: none;
        }

        &-text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(31, 32, 65, 0.5);

            white-space: nowrap;
        }
    }
}
