mixin getColorBlock(options, classes)
    - let colorRectangleClasses = [];

    - if(classes)
        - classes.colorRectangleClasses ? colorRectangleClasses = colorRectangleClasses.concat(classes.colorRectangleClasses) : [];


    div(class=["colorsAndTypeBlock__colorContainer"])
        div(class=["colorsAndTypeBlock__colorRectangle"].concat(colorRectangleClasses))
        div(class=["colorsAndTypeBlock__textContainer"])
            p(class=["colorsAndTypeBlock__colorName"])= options.colorName
            p(class=["colorsAndTypeBlock__colorCode"])= options.colorCode