include ../HeadersAndFooters.ColoredLogo/ColoredLogo.pug
include ../HeadersAndFooters.SocialMedia/SocialMedia.pug

mixin getShortFooter()

    div(class=["short-footer"])
        div(class=["short-footer__content"])
            +getColoredLogo()
            p(class=["short-footer__text"])
                | Copyright © 2018 Toxin отель. Все права зачищены.
            +getSocialMedia()