@import "../HeadersAndFooters.ColoredLogo/ColoredLogo.scss";
@import "../HeadersAndFooters.SocialMedia/SocialMedia.scss";

.short-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    padding: 120px 200px;
    @media screen and(max-width: 767px) {
        padding: 120px 0px;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and(max-width: 767px) {
            margin: 0px 50px;
        }
    }

    &__text {
        margin-top: 18px;
        margin-bottom: 20px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(31, 32, 65, 0.75);
    }
}
