extends ../../base/page-base

include ../../../components/sign-up-form/sign-up-form.pug

block content
    div(class=["registration"])
        div(class=["registration__form"])
            +sign-up-form({
                titleText: "Регистрация аккаунта",
            })
        div(class=["registration__background"])