@import "../../base.scss";
@import "../../../assets/fonts/fonts.scss";
@include setFonts("../../../");

@import "../../../components/header/header.scss";
@import "../../../components/sign-up-form/sign-up-form.scss";
@import "../../../components/long-footer/long-footer.scss";

.registration {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 400px) {
        width: auto;
    }

    &__main-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__background-image-container {
        width: 100%;
        z-index: 1;
        position: relative;
        @media screen and (max-width: 900px) {
            order: 1;
        }
    }
    &__background-image {
        width: 100%;
        height: 100%;
    }
    &__form-container {
        width: 380px;
        position: absolute;
        z-index: 2;
        @media screen and (max-width: 900px) {
            position: relative;
            order: 2;
            margin-top: 0px;
            margin-left: 0px;
        }
        @media screen and (max-width: 380px) {
            width: 100%;
        }
    }
}
