@import '../../assets/constants.scss';

.checkbox-list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    $checkboxMarginRight: 10px;
    $checkboxSize: 20px;

    &__title {
        cursor: context-menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;

        &_expandable {
            cursor: pointer;
        }

        &_width-margin-bottom_16px {
            margin-bottom: 16px;
        }
    }

    &__title-text {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color-dark-shade-100;
    }

    &__dropdown-arrow {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background: $color-dark-shade-75;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__label {
        display: flex;
        align-items: end;
    }

    &__input {
        width: $checkboxSize;
        height: $checkboxSize;
        position: relative;
        margin-right: $checkboxMarginRight;
        opacity: 0;

        &:not(:checked) + .checkbox-list__checkmark {
            opacity: 0;
        }

        &:not(:checked) ~ .checkbox-list__frame {
            border: 1px solid $color-gray-blue;
        }

        &:checked + .checkbox-list__checkmark {
            opacity: 1;
        }

        &:checked ~ .checkbox-list__frame {
            border: 1px solid $color-purple;
        }
    }

    &__checkmark {
        width: $checkboxSize;
        height: $checkboxSize;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-bottom: 2px;
    }

    &__checkmark-image {
        width: 10px;
        height: 10px;
        display: flex;
    }

    &__frame {
        cursor: pointer;
        width: $checkboxSize;
        height: $checkboxSize;
        display: flex;
        border-radius: 4px;
        position: absolute;
    }

    &__item-text {
        cursor: context-menu;
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $color-dark-shade-50;

        &_main {
            font-weight: bold;
            color: $color-dark-shade-75;
        }

        &_single {
            width: 200px;
        }
    }

    &__item-additional-text {
        cursor: context-menu;
        width: 230px;
        margin-left: $checkboxSize + $checkboxMarginRight;
        margin-top: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $color-dark-shade-50;
    }
}
