mixin checkbox-list(options = {})
  -
    const {
      title = "",
      isExpandable = false,
      isOpened = false,
      hasAdditionalText = false,
      list = [
        {isChecked: false, text: "Можно курить"},
        {isChecked: true, text: "Можно с питомцами"},
        {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
      ],
    } = options;
    const containerClasses = [];
    const itemTextClasses = [];

    if(isExpandable) containerClasses.push("checkbox-list_type_expandable");
    else if(hasAdditionalText) containerClasses.push("checkbox-list_type_rich");
    if(hasAdditionalText) itemTextClasses.push(`checkbox-list__item-text_complex`);

  div(class=["checkbox-list", "js-checkbox-list"].concat(containerClasses))
    - if(title)
      p(class=["checkbox-list__title", "js-checkbox-list__title"])
        span(class=["checkbox-list__title-text"])= title
        - if(isExpandable)
          span(class=["checkbox-list__dropdown-arrow", "js-checkbox-list__dropdown-arrow"]) expand_more
    ul(class=["checkbox-list__list", "js-checkbox-list__list"])
      - for(let item of list)
        li(class=["checkbox-list__item"])
          label(class=["checkbox-list__label"])
            input(class=["checkbox-list__input"] type= "checkbox" checked= item.isChecked)
            div(class=["checkbox-list__check-mark"])
              img(class=["checkbox-list__check-mark-image"] 
                src="./src/components/checkbox-list/img/check-mark.svg" alt="check-mark")
            div(class=["checkbox-list__frame"])
            p(class=["checkbox-list__item-text"].concat(itemTextClasses))= item.text
          - if(hasAdditionalText)
            p(class=["checkbox-list__item-additional-text"])= item.additionalText  