.formInput {
    width: 320px;

    &_textFieldDefault {
        display: flex;
        flex-direction: column;
    }

    @import "./Dropdown.scss";

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-bottom: 5px;
    }
    &__titleText {
        font-family: MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
    }
    &__titleTextTest {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
    }

    &__input {
        display: grid;
        grid-template-rows: 42px;
        grid-template-columns: auto min-content;

        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;

        &:hover,
        &:focus {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }

        position: relative;
    }

    &__mainInput {
        padding: 0px 100px 0px 15px;
        height: 44px;
        outline: none;

        background: transparent;
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);

        &::-webkit-input-placeholder {
            background: rgba(31, 32, 65, 0.25);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 0px solid transparent;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: 0px solid rgba(255, 255, 255, 0);
            -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
            -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
            transition: background-color 5000s ease-in-out 0s;
            color: rgba(31, 32, 65, 0.75);
        }

        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
    }

    &__submitInput {
        width: 42px;
        height: 42px;
        outline: none;

        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        border: 0px solid transparent;

        background: -moz-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
        background: -webkit-linear-gradient(bottom, #bc9cff 0%, #8ba4f9 100%);
        background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
