include ../calendar/calendar.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin room-finder-form(options)

    form(class=["room-finder-form"])
        - if(options.titleText)
            p(class=["room-finder-form__title"])= options.titleText

        div(class=["room-finder-form__calendar"])
            +calendar({
                isDouble: true,
                firstTitle: "прибытие",
                secondTitle: "выезд",
            })

        div(class=["room-finder-form__dropdown"])
            +dropdown({
                titleText: "гости",
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "Сколько гостей",
                name: "guestsCount",
                type: "text",
                value: "Сколько гостей",
                dropdownList: [
                    {name: "взрослые", value: 0},
                    {name: "дети", value: 0},
                    {name: "младенцы", value: 0}
                ],
                withTotalValue: true,
            })

        div(class=["room-finder-form__submit-button"])
            +button({
                text: 'подобрать номер',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
            })