doctype html
html
    head
        meta(charset='utf-8')
        title FSD_Task2
    body
        .headersAndFooters
            include ./HeadersAndFooters/GlobalLogo.pug
            include ./HeadersAndFooters/StandardNavBar.pug   

            .headersAndFooters__indentation

            include ./HeadersAndFooters/StandardLoggedInNavBar.pug 

            .headersAndFooters__indentation

            include ./HeadersAndFooters/FooterWidgetsAndCopyrightBar.pug

            .headersAndFooters__footerWidgetsAndCopyrightBar

            .headersAndFooters__indentation

            .headersAndFooters__footerCreative