doctype html
html
    head
        meta(charset='utf-8')
        title FSD_Task2
    body
        .headersAndFooters
            .headersAndFooters__standardNavBar
                include ./HeadersAndFooters/logo.pug
                include ./HeadersAndFooters/navMenuAndButtonDefaultContainer.pug
            .headersAndFooters__standardLoggedInNavBar

            .headersAndFooters__footerWidgetsAndCopyrightBar

            .headersAndFooters__footerCreative