doctype html
html
    head
        meta(charset='utf-8')
        title FSD_Task2
    body
        .headersAndFooters
            include ./HeadersAndFooters/globalLogo.pug
            include ./HeadersAndFooters/standardNavBar.pug   

            .headersAndFooters__standardLoggedInNavBar

            .headersAndFooters__footerWidgetsAndCopyrightBar

            .headersAndFooters__footerCreative