doctype html
html
    head
        meta(charset='utf-8')
        title FSD_Task2
    body
        .headersAndFooters
            .headersAndFooters__standardNavBar
                .headersAndFooters__logo
                    //- svg img
                    p TOXIN
                .headersAndFooters__group2AndbuttonDefault
                    ul(class=['headersAndFooters__group2'])
                        li 
                            a(href='#')
                                p Home
                        li 
                            a(href='#')
                                p About Us
                        li 
                            a(href='#')
                                p Services
                        li 
                            a(href='#')
                                p Careers
                        li 
                            a(href='#')
                                p News
                        li 
                            a(href='#')
                                p Documentation
                    div(class=['headersAndFooters__buttonDefault', 'headersAndFooters__firstButtonDefault'])
                        a(class=['headersAndFooters_login'] href='#') 
                            p LOGIN
                    a(class=['headersAndFooters__buttonDefault'] href='#')
                        p REGISTER         
            .headersAndFooters__standardLoggedInNavBar

            .headersAndFooters__footerWidgetsAndCopyrightBar

            .headersAndFooters__footerCreative