extends ../base/base

block body
    div(class=["ui-kit"])
        p(class="ui-kit__title") UI kit
        ul(class=["ui-kit__refs-list"])
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./headers-and-footers.html")
                    p(class="ui-kit__ref-text")= "Headers & Footers"
            li(class=["ui-kit__item"])
                a(class="ui-kit__ref" href="./form-elements.html")
                    p(class="ui-kit__ref-text") Form elements
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./colors-and-type.html")
                    p(class=["ui-kit__ref-text"])= "Colors & Types"
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./cards.html")
                    p(class=["ui-kit__ref-text"]) Forms
        p(class=["ui-kit__title"]) Website pages
        ul(class=["ui-kit__refs-list"])
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./landing-page.html")
                    p(class=["ui-kit__ref-text"]) Landing page
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./registration.html")
                    p(class=["ui-kit__ref-text"]) Registration
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./room-details.html")
                    p(class=["ui-kit__ref-text"]) RoomDetails
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./search-room.html")
                    p(class=["ui-kit__ref-text"]) SearchRoom
            li(class=["ui-kit__item"])
                a(class=["ui-kit__ref"] href="./sign-in.html")
                    p(class=["ui-kit__ref-text"]) SignIn