@import '../../assets/constants.scss';
@import '../form-input/form-input.scss';
@import '../radio/radio.scss';
@import '../toggle/toggle.scss';
@import '../calendar/calendar.scss';
@import '../button/button.scss';

.sign-up-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.375rem 1.6875rem 1.875rem 1.875rem;
  background: white;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &__title {
    width: 100%;
    display: flex;
    margin-bottom: 1.25rem;
    font-family: Quicksand, OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: $color-dark-shade-100;
  }

  &__first-name-field,
  &__second-name-field {
    width: 100%;
    margin-bottom: 0.625rem;
  }

  &__radio-buttons {
    width: 100%;
    margin-bottom: 1.4375rem;
  }
  &__calendar {
    width: 100%;
    margin-bottom: 1.3125rem;
  }

  &__email-field,
  &__password-field {
    width: 100%;
    margin-bottom: 0.625rem;
  }

  &__toggle {
    width: 100%;
    margin-bottom: 1.4375rem;
  }

  &__submit-button {
    width: 100%;
    margin-bottom: 1.875rem;
  }

  &__sign-in-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__confirmation-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: black;
  }

  &__sign-in-button {
    min-width: 6.1875rem;
  }
}
