include ../FormElements.FormInput/FormInput.pug
include ../FormElements.RadioButton/RadioButton.pug
include ../FormElements.DateInput/DateInput.pug
include ../FormElements.ButtonDefault/ButtonDefault.pug

mixin sign-up-form(options)
    - const { titleText } = options;

    form(class=["sign-up-form"])
        - if(titleText)
            p(class=["sign-up-form__title"])= titleText

        div(class=["sign-up-form__first-name-field"])
            +getFormInput({
                hasTitle: false,
                placeholder: "Имя",
                name: "clientFirstName",
                type: "text",
                value: "",
                hasSubmitButton: false
            })

        div(class=["sign-up-form__second-name-field"])
            +getFormInput({
                hasTitle: false,
                placeholder: "Фамилия",
                name: "clientSecondName",
                type: "text",
                value: "",
                hasSubmitButton: false
            })

        div(class=["sign-up-form__radio-buttons"])
            +getRadioButton({
                blockNumber: "_radio_1",
                buttonType: "radio",
                radioButtonList: [
                    {text: "Мужчина", isChecked: true},
                    {text: "Женщина", isChecked: false},
                ],
                name: "gender",
            })

        div(class=["sign-up-form__calendar"])
            +getDateInput({
                isDouble: false,
                withRange: false, 
                firstTitle: "дата рождения",
            })

        div(class=["sign-up-form__email-field"])
            +getFormInput({
                hasTitle: true,
                titleText: "данные для входа в сервис",                
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false
            })

        div(class=["sign-up-form__password-field"])
            +getFormInput({
                hasTitle: false,
                placeholder: "Пароль",
                name: "password",
                type: "password",
                value: "",
                hasSubmitButton: false
            })

        div(class=["sign-up-form__toggle"])
            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: false}
                ],
                name: "specialOffer"
            })

        div(class=["sign-up-form__submit-button"])
            +getButton({
                text: 'перейти к оплате',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
            })

        div(class=["sign-up-form__sign-in-field"])
            p(class=["sign-up-form__confirmation-text"]) Уже есть аккаунт на Toxin
            div(class=["sign-up-form__sign-in-button"])
                +getButton({
                    text: "войти",
                    isHollow:  true,
                    buttonType: "a",
                    hasArrow: false,
                })