mixin getColorBlock(options)
   - let classes = {};

    - if(options){
        - if(options.backgroundColor){
            - let className = "colors__background-color_" + options.backgroundColor;
            - classes.square ? classes.square.push(className) : classes.square = [className];
        - }
    - }

    div(class=["color-block"])
        div(class=["color-block__colored-square"].concat(classes.square || []))
        div(class=["color-block__text-container"])
            p(class=["color-block__color-name"])= options.colorName
            p(class=["color-block__color-code"])= options.colorCode


mixin getFontBlock(options)
    - let classes = {};

    - if(options.tagOptions){
        - if(options.tagOptions.family){
            - let className = "fonts__family_" + options.tagOptions.family;
            - classes.tag ? classes.tag.push(className) : classes.tag = [className];
        - }
        - if(options.tagOptions.weight){
            - let className = "fonts__weight_" + options.tagOptions.weight;
            - classes.tag ? classes.tag.push(className) : classes.tag = [className];
        - }
        - if(options.tagOptions.size){
            - let className = "fonts__size_" + options.tagOptions.size;
            - classes.tag ? classes.tag.push(className) : classes.tag = [className];
        - }
        - if(options.tagOptions.color){
            - let className = "fonts__color_" + options.tagOptions.color;
            - classes.tag ? classes.tag.push(className) : classes.tag = [className];
        - }                
    - }

    - if(options.descriptionOptions){
        - if(options.descriptionOptions.family){
            - let className = "fonts__family_" + options.descriptionOptions.family;
            - classes.description ? classes.description.push(className) : classes.description = [className];
        - }
        - if(options.descriptionOptions.weight){
            - let className = "fonts__weight_" + options.descriptionOptions.weight;
            - classes.description ? classes.description.push(className) : classes.description = [className];
        - }
        - if(options.descriptionOptions.size){
            - let className = "fonts__size_" + options.descriptionOptions.size;
            - classes.description ? classes.description.push(className) : classes.description = [className];
        - }
        - if(options.descriptionOptions.color){
            - let className = "fonts__color_" + options.descriptionOptions.color;
            - classes.description ? classes.description.push(className) : classes.description = [className];
        - }
        - if(options.descriptionOptions.lineHeight){
            - let className = "fonts__line-height_" + options.descriptionOptions.lineHeight;
            - classes.description ? classes.description.push(className) : classes.description = [className];
        - } 
        - if(options.descriptionOptions.inUppercase){
            - let className = "fonts_uppercase";
            - classes.description ? classes.description.push(className) : classes.description = [className];
        - }                 
    - }


    div(class=["font-block"])
        p(class=["font-block__tag"].concat(classes.tag || []))= options.tagOptions.tagName
        p(class=["font-block__description"].concat(classes.description || []))= options.descriptionOptions.text