@import '../../assets/constants.scss';
@import '../../assets/mixins.scss';

.calendar {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_first {
      margin-right: 20px;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5px;
  }

  &__title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-dark-shade-100;
  }

  &__additional-title-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: $color-dark-shade-50;

    letter-spacing: -0.3px;
  }

  &__label {
    cursor: pointer;

    display: grid;
    grid-template-columns: auto 42px;
    grid-template-rows: 42px;

    border: 1px solid $color-dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
  }

  &__input-container_first,
  &__input-container_second {
    width: scalePixelsAsPercentage(150, 320);
  }
  &__label_first,
  &__label_second {
    width: 100%;
  }

  &__input {
    cursor: pointer;

    padding: 0px 0px 0px 15px;
    height: 40px;
    outline: none;

    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    &::-webkit-input-placeholder {
      background: $color-dark-shade-75;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0px solid transparent;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0px solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: $color-dark-shade-75;
      -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: $color-dark-shade-75;
    }

    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
  }

  &__dropdown-arrow {
    cursor: pointer;

    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $color-dark-shade-50;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin: 18px 20px 0px 20px;
  }

  &__apply-button {
    cursor: pointer;

    margin-left: auto;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-purple;
  }

  &__clear-button {
    cursor: pointer;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-dark-shade-50;
  }
}

@import './datepicker.scss';
