@import '../../assets/constants.scss';
@import '../../assets/mixins.scss';

.calendar {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_date_from {
      margin-right: 1.25rem;
    }

    &_date_from,
    &_date_to {
      width: scalePixelsAsPercentage(150, 320);
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3125rem;
  }

  &__title-text {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $color-dark-shade-100;
  }

  &__additional-title-text {
    font-size: 0.75rem;
    line-height: 0.55rem;
    text-align: right;
    text-transform: uppercase;
    color: $color-dark-shade-50;
    letter-spacing: -0.0187rem;
  }

  &__label {
    cursor: pointer;
    width: 9.375rem;
    display: grid;
    grid-template-columns: auto 2.625rem;
    grid-template-rows: 2.625rem;
    border: 0.0625rem solid $color-dark-shade-25;
    box-sizing: border-box;
    border-radius: 0.25rem;

    &:hover,
    &:focus {
      border: 0.0625rem solid $color-dark-shade-50;
    }

    &_date_from,
    &_date_to {
      width: 100%;
    }
  }

  &__input {
    cursor: pointer;
    padding: 0rem 0rem 0rem 0.9375rem;
    outline: none;
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.5rem;

    &::-webkit-input-placeholder {
      background: $color-dark-shade-75;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: $color-dark-shade-75;
      -webkit-box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: $color-dark-shade-75;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__dropdown-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    text-align: center;
    color: $color-dark-shade-50;
    background: transparent;
    outline: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin: 1.125rem 1.25rem 0rem 1.25rem;
  }

  &__apply-button {
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-purple;

    &:hover,
    &:focus {
      color: $color-dark-shade-50;
    }
  }

  &__clear-button {
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $color-purple;

    &:hover,
    &:focus {
      color: $color-dark-shade-50;
    }
  }
}

@import './datepicker.scss';
