@import "../FormElements.ButtonDefault/ButtonDefault.scss";
@import "../FormElements.DateInput/DateInput.scss";
@import "../FormElements.Dropdown/Dropdown.scss";

.price-calculation-form {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 40px 29px 30px 29px;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__title {
        display: grid;
        grid-template-columns: max-content max-content max-content auto min-content;
        margin-top: 3px;
        margin-bottom: 23px;
    }

    &__number-symbol {
        align-self: end;
        margin-right: 3px;

        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1f2041;
    }

    &__room-number {
        align-self: end;
        margin-right: 5px;

        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 23px;
        color: #1f2041;
    }

    &__room-status {
        align-self: end;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #bc9cff;
    }

    &__room-price {
        justify-self: end;
        align-self: end;
        margin-right: 4px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__period-of-time {
        justify-self: end;
        align-self: end;
        white-space: nowrap;
        margin-right: 1px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__calendar {
        margin-bottom: 20px;
        width: 100%;
    }

    &__dropdown {
        margin-bottom: 19px;
        width: 100%;
    }

    &__calculated-data {
        margin-bottom: 20px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__main-sum {
        display: grid;
        grid-template-columns: max-content auto;
        margin-bottom: 17px;
    }

    &__main-sum-result {
        justify-self: end;
    }

    &__services {
        display: grid;
        grid-template-columns: 220px auto auto;
        grid-row-gap: 14px;
        margin-bottom: 28px;
    }

    &__discount {
        display: grid;
        grid-template-columns: max-content auto auto;
    }

    &__services-tooltip {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        justify-self: baseline;

        border-radius: 50%;
        min-width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        background: transparent;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: rgba(31, 32, 65, 0.25);
    }

    &__discount-value {
        justify-self: end;
    }

    &__additional-services-value {
        justify-self: end;
    }

    &__total-result {
        display: grid;
        grid-template-columns: max-content auto min-content;

        font-family: Quicksand, OpenSans;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: #1f2041;
    }

    &__total-result-bottom-line {
        margin-bottom: 5px;
        border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
    }

    &__total-result-value {
        justify-self: end;
        white-space: nowrap;
    }

    &__submit-button {
        width: 100%;
        height: 44px;
    }
}
