@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf"),
        url("../fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.woff"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.woff2"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.eot"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.ttf"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.svg");

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.woff"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.woff2"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.eot"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.ttf"),
        url("../fonts/Quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.svg");

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf"),
        url("../fonts/OpenSans/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html,
body {
    min-width: 100%;
    display: flex;
}
