@import "./base.scss";

.cards {
    min-width: 100%;
    background: #e5e5e5;

    & > div:nth-child(n + 2),
    & > label,
    & > form {
        margin-bottom: 20px;
        margin-left: 141px;
    }
    padding-bottom: 500px;
}

@import "../GlobalLogo/GlobalLogo.scss";
@import "../Cards.FormDefault/FormDefault.scss";
@import "../ColorsAndType/ColorsAndFonts.scss";

.globalLogo {
    margin-bottom: 72px;
}
