doctype html
html
    head
        meta(charset="utf-8")
        title Cards
        //-link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        //-link(href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" rel="stylesheet")    
    body
        .cards
            include ../GlobalLogo/GlobalLogo.pug

            include ../Cards.FormDefault/FormDefault.pug
            //-+getForm({
                titleText: "Найдём номера под ваши пожелания",
                formType: "guestsAndDateRange",

                dropdownTitleText: "гости",
                })

            +getForm({
                titleText: "Регистрация аккаунта",
                formType: "registration",
            })

            +getForm({
                titleText: "Войти",
                formType: "authorization",
            })

            +getForm({
                titleText: "",
                formType: "priceCalculation",
            },
            {
                form: "formDefault_priceCalculation"
            })

            include ../Cards.RoomInfo/RoomInfo.pug
            +getRoomInfo({
                blockNumber: 1,
                photos: ["test11", "test22", "test33", "test44"],
                roomInfoTitleOptions: {
                    roomNumber: 888,
                    roomStatus: "люкс",
                    roomPrice: "9 990₽",
                    periodOfTime: "сутки",
                },
                reviewsCount: 145,
                reviewsCountText: "Отзывов",
                isCheckedArray: [false, false, false, false, true,],
            })
            +getRoomInfo({
                blockNumber: 2,
                photos: ["test11", "test22"],
                roomInfoTitleOptions: {
                    roomNumber: 840,
                    roomStatus: "",
                    roomPrice: "9 990₽",
                    periodOfTime: "сутки",
                },
                reviewsCount: 65,
                reviewsCountText: "Отзывов",
                isCheckedArray: [false, false, false, true, false,],
            }) 
            +getRoomInfo({
                blockNumber: 3,
                photos: ["test11"],
                roomInfoTitleOptions: {
                    roomNumber: 841,
                    roomStatus: "",
                    roomPrice: "9 990₽",
                    periodOfTime: "сутки",
                },
                reviewsCount: 1488,
                reviewsCountText: "Отзывов",
                isCheckedArray: [true, false, false, false, false,],
            })                          

