@import "./base.scss";

.cards {
    min-width: 100%;
    background: #e5e5e5;

    & > div:nth-child(n + 2),
    & > label,
    & > form {
        margin-bottom: 20px;
        margin-left: 141px;
    }

    padding-bottom: 500px;
    padding-top: 30px;
    &__global-logo-container {
        margin-left: 30px;
        margin-bottom: 67px;
    }
}

@import "../GlobalLogo/GlobalLogo.scss";
@import "../Cards.AuthorizationForm/AuthorizationForm.scss";
@import "../Cards.GuestsAndDateRangeForm/GuestsAndDateRangeForm.scss";
@import "../Cards.PriceCalculationForm/PriceCalculationForm.scss";
@import "../Cards.RegistrationForm/RegistrationForm.scss";
@import "../Cards.RoomInfo/RoomInfo.scss";
@import "../ColorsAndType/ColorsAndFonts.scss";
