@import "./base.scss";

@import "../components/GlobalLogo/GlobalLogo.scss";
@import "../components/ColorsAndType/ColorAndFontBlocks.scss";
@import "../components/ColorsAndType/ColorsAndFonts.scss";

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.colors-and-type {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 30px;
    &__global-logo-container {
        margin-left: 30px;
        margin-bottom: 67px;
    }
}

