.formElements{
    & > div:nth-child(n + 1){
        margin-bottom: 20px;
        margin-left: 141px;
    }
    padding-bottom: 100px;
}

@import "../GlobalLogo/GlobalLogo.scss";
@import "../FormElements.FormInput/FormInput.scss";
@import "../FormElements.CheckboxList/CheckboxList.scss";
@import "../FormElements.RadioButton/RadioButton.scss";
@import "../FormElements.RateButton/RateButton.scss";
@import "../FormElements.ButtonDefault/buttonDefault.scss";

.globalLogo{
    margin-bottom: 65px;
}