doctype html
html
    head
        meta(charset="utf-8")
        title FormElements
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous") 
    body
        .formElements
            include ../GlobalLogo/GlobalLogo.pug

            include ../FormElements.FormInput/FormInput.pug
            +getFormInput("textFieldDefault", {
                titleText: "text field",
                titleTextTest: {
                    isTitleTextTestVisible: true,
                    value: "default"
                },
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                isSubmitButton: false})

            +getFormInput("textFieldDefault", {
                titleText: "text field",
                titleTextTest: {
                    isTitleTextTestVisible: true,
                    value: "hover / focus"
                },
                placeholder: "Some text",
                name: "someText",
                type: "text",
                value: "This is pretty awesome",
                isSubmitButton: false})    


            +getFormInput("dropdown", {
                titleText: "dropdown",
                titleTextTest: {
                    isTitleTextTestVisible: false,
                    value: ""
                },
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько гостей",
                isSubmitButton: false,
                dropdown: {
                    dropList: [
                        {name: "взрослые", value: 0},
                        {name: "дети", value: 0},
                        {name: "младенцы", value: 0}],         
                    typeOfShownInfo: "formInput__dropdown_sumNumber"},})
            +getFormInput("dropdown", {
                titleText: "dropdown",
                titleTextTest: {
                    isTitleTextTestVisible: false,
                    value: ""
                },
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько комнат",
                isSubmitButton: false,
                hasApplyButton: true,
                hasClearButton: true,
                dropdown: {
                    dropList: [
                        {name: "спальни", value: 0},
                        {name: "кровати", value: 0},
                        {name: "ванные комнаты", value: 0}],
                    typeOfShownInfo: "formInput__dropdown_listOfNumbers"},})

            include ../FormElements.CheckboxList/CheckboxList.pug
            +getCheckbox("expandable", [
                {isChecked: false, text: "Завтрак"},
                {isChecked: true, text: "Письменный стол"}, 
                {isChecked: true, text: "Стул для кормления"},
                {isChecked: true, text: "Кроватка"},
                {isChecked: false, text: "Телевизор"},
                {isChecked: false, text: "Шампунь"},
                {isChecked: false, text: "Телевизор"},
                {isChecked: false, text: "Шампунь"}], 
                {
                    titleText: "expandable checkbox list",
                    isOpened: "true",
                })
            +getCheckbox("expandable", [
                {isChecked: false, text: "Завтрак"},
                {isChecked: true, text: "Письменный стол"}, 
                {isChecked: true, text: "Стул для кормления"},
                {isChecked: true, text: "Кроватка"},
                {isChecked: false, text: "Телевизор"},
                {isChecked: false, text: "Шампунь"},
                {isChecked: false, text: "Телевизор"},
                {isChecked: false, text: "Шампунь"}], 
                {
                    titleText: "expandable checkbox list",
                    isOpened: "false",
                })
            +getCheckbox("rich", [
                {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},], 
                {
                    titleText: "rich checkbox list",
                })
            +getCheckbox("simple", [
                {isChecked: false, text: "Можно курить"},
                {isChecked: true, text: "Можно с питомцами"},
                {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},], 
                {
                    titleText: "Checkbox Buttons",
                })                

            include ../FormElements.RadioButton/RadioButton.pug
            +getRadioButton("radio", [
                {text: "Мужчина", isChecked: true},
                {text: "Женщина", isChecked: false}],{
                title: "Radio Buttons",
                name: "gender"})
            +getRadioButton("toggle", [
                {text: "Получать спецпредложения", isChecked: true}],{
                title: "Toggle",
                name: "specialOffer"})
            +getRadioButton("toggle", [
                {text: "Получать спецпредложения", isChecked: false}], {
                title: "",
                name: "specialOffer"})

            include ../FormElements.RateButton/RateButton.pug
            +getRateButton({

            })

            include ../FormElements.ButtonDefault/ButtonDefault.pug
            +getButton("click me", {
                isHollow:  false,
                isLink: false,
                hasArrow: true,
            })
            +getButton("click me", {
                isHollow:  true,
                isLink: false,
                hasArrow: true,
            })

            include ../FormElements.Pagination/Pagination.pug
            div(class=["pagination"])
                +getPagination(20, 7, {
                    title: "pagination",
                    downText: "1 – 12 из 100+ вариантов аренды",
                })
            include ../FormElements.Pagination/Pagination.pug
            div(class=["pagination"])
                +getPagination(20, 2, {
                    title: "pagination",
                    downText: "1 – 12 из 100+ вариантов аренды",
                })

            include ../FormElements.RangeSlider/RangeSlider.pug
            +getRangeSlider("range slider", {
                firstValue: 2000,
                lastValue: 6000,
                minValue: -1000,
                maxValue: 10000,
                valueType: "₽",
                valueRound: 100,
            })


            include ../FormElements.BulletList/BulletList.pug
            +getBulletList([
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00",
            ], 
            {
                titleText: "bullet list",
            })