@import "./base.scss";

.formElements {
    min-width: 100%;
    & > div:nth-child(n + 2),
    & > label {
        margin-bottom: 20px;
        margin-left: 141px;
    }

    padding-bottom: 500px;
    padding-top: 30px;
    &__global-logo-container {
        margin-left: 30px;
        margin-bottom: 65px;
    }
}

@import "../components/GlobalLogo/GlobalLogo.scss";
@import "../components/FormElements.FormInput/FormInput.scss";
@import "../components/FormElements.Dropdown/Dropdown.scss";
@import "../components/FormElements.CheckboxList/CheckboxList.scss";
@import "../components/FormElements.RadioButton/RadioButton.scss";
@import "../components/FormElements.RateButton/RateButton.scss";
@import "../components/FormElements.ButtonDefault/ButtonDefault.scss";
@import "../components/FormElements.Pagination/Pagination.scss";
@import "../components/FormElements.RangeSlider/RangeSlider.scss";
@import "../components/FormElements.BulletList/BulletList.scss";
@import "../components/FormElements.DateInput/DateInput.scss";
@import "../components/FormElements.LikeButton/LikeButton.scss";
@import "../components/FormElements.RoomDetails/RoomDetails.scss";
@import "../components/FormElements.GuestRoomReviews/GuestRoomReviews.scss";
@import "../components/ColorsAndType/ColorsAndFonts.scss";
