.formElements{
    & > div:nth-child(2),
    & > div:nth-child(3),
    & > div:nth-child(4){
        margin-bottom: 20px;
        margin-left: 141px;
    }
    padding-bottom: 100px;
}

@import "../GlobalLogo/GlobalLogo.scss";
@import "../FormElements.FormInput/FormInput.scss";

.globalLogo{
    margin-bottom: 65px;
}