doctype html
html
    head
        meta(charset="utf-8")
        title FormElements
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous") 
    body
        .formElements
            include ../GlobalLogo/GlobalLogo.pug

            include ../FormElements.FormInput/FormInput.pug
            +getFormInput("textFieldDefault", {
                labelText: "TEXT FIELD",
                testLabel: {
                    isTestLabelVisible: true,
                    value: "DEFAULT"
                },
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                isSubmitButton: false})

            +getFormInput("textFieldDefault", {
                labelText: "TEXT FIELD",
                testLabel: {
                    isTestLabelVisible: true,
                    value: "HOVER / FOCUS"
                },
                placeholder: "Some text",
                name: "someText",
                type: "text",
                value: "This is pretty awesome",
                isSubmitButton: false})    


            +getFormInput("dropdown", {
                labelText: "DROPDOWN",
                testLabel: {
                    isTestLabelVisible: false,
                    value: ""
                },
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько гостей",
                isSubmitButton: false,
                dropList: [
                    {name: "ВЗРОСЛЫЕ", value: 0},
                    {name: "ДЕТИ", value: 0},
                    {name: "МЛАДЕНЦЫ", value: 0}],         
                dropdownShowInfoType: "formInput__dropdown_fullNumber"}) 
            +getFormInput("dropdown", {
                labelText: "DROPDOWN",
                testLabel: {
                    isTestLabelVisible: false,
                    value: ""
                },
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько комнат",
                isSubmitButton: false,
                dropList: [
                    {name: "СПАЛЬНИ", value: 0},
                    {name: "КРОВАТИ", value: 0},
                    {name: "ВАННЫЕ КОМНАТЫ", value: 0}],
                dropdownShowInfoType: "formInput__dropdown_listOfNumbers"})    

            include ../FormElements.CheckboxList/CheckboxList.pug
            +getCheckbox([
                {isChecked: false, text: "Завтрак"},
                {isChecked: true, text: "Письменный стол"}, 
                {isChecked: true, text: "Стул для кормления"},
                {isChecked: true, text: "Кроватка"},
                {isChecked: false, text: "Телевизор"},
                {isChecked: false, text: "Шампунь"},
                {isChecked: false, text: "Телевизор"},
                {isChecked: false, text: "Шампунь"}], {
                labelText: "expandable checkbox list",
                isExpandable: true})

            include ../FormElements.RadioButton/RadioButton.pug
            +getRadioButton("radio", [
                {text: "Мужчина", isChecked: true},
                {text: "Женщина", isChecked: false}],{
                title: "Radio Buttons",
                name: "gender"})
            +getRadioButton("toggle", [
                {text: "Получать спецпредложения", isChecked: true}],{
                title: "Toggle",
                name: "specialOffer"})
            +getRadioButton("toggle", [
                {text: "Получать спецпредложения", isChecked: false}], {
                title: "",
                name: "specialOffer"})
                
            include ../FormElements.RateButton/RateButton.pug
            +getRateButton({
                
            })    
