doctype html
html
    head
        meta(charset="utf-8")
        title FormElements
        //-link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous") 
        //-link(href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" rel="stylesheet")
    body
        .formElements
            include ../GlobalLogo/GlobalLogo.pug

            include ../FormElements.FormInput/FormInput.pug
            +getFormInput({
                hasTitle: true,
                titleText: "text field",
                isTitleTextTestVisible: true,
                titleTextTestValue: "default",
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false})

            +getFormInput({
                hasTitle: true,
                titleText: "text field",
                isTitleTextTestVisible: true,
                titleTextTestValue: "hover / focus",
                placeholder: "Some text",
                name: "someText",
                type: "text",
                value: "This is pretty awesome",
                hasSubmitButton: false})    

            include ../FormElements.Dropdown/Dropdown.pug
            +getDropdown({
                titleText: "dropdown",
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько гостей",
                dropdownList: [
                    {name: "взрослые", value: 0},
                    {name: "дети", value: 0},
                    {name: "младенцы", value: 0}
                ],
            },
            {
                input: ["dropdown__input_sumNumber"],
            })
            +getDropdown({
                titleText: "dropdown",
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько комнат",
                hasApplyButton: true,
                hasClearButton: true,
                dropdownList: [
                    {name: "спальни", value: 0},
                    {name: "кровати", value: 0},
                    {name: "ванные комнаты", value: 0}
                ],
            },
            {
                input: ["dropdown__input_listOfNumbers"],
            })


            include ../FormElements.CheckboxList/CheckboxList.pug
            +getCheckbox({
                checkboxType: "expandable",
                titleText: "expandable checkbox list",
                isOpened: "true",
                checkboxList: [
                    {isChecked: false, text: "Завтрак"},
                    {isChecked: true, text: "Письменный стол"}, 
                    {isChecked: true, text: "Стул для кормления"},
                    {isChecked: true, text: "Кроватка"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"},
                ],
            })
            +getCheckbox({
                checkboxType: "expandable",
                titleText: "expandable checkbox list",
                isOpened: "false",
                checkboxList : [
                    {isChecked: false, text: "Завтрак"},
                    {isChecked: true, text: "Письменный стол"}, 
                    {isChecked: true, text: "Стул для кормления"},
                    {isChecked: true, text: "Кроватка"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"}
                ],
            })
            +getCheckbox({
                checkboxType: "rich",
                titleText: "rich checkbox list",
                checkboxList: [
                    {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                    {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
                ],
            })
            +getCheckbox({
                checkboxType: "simple",
                titleText: "Checkbox Buttons",
                checkboxList: [
                    {isChecked: false, text: "Можно курить"},
                    {isChecked: true, text: "Можно с питомцами"},
                    {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
                ],
            })                


            include ../FormElements.RadioButton/RadioButton.pug
            +getRadioButton({
                buttonType: "radio",
                radioButtonList: [
                    {text: "Мужчина", isChecked: true},
                    {text: "Женщина", isChecked: false},
                ],
                title: "Radio Buttons",
                name: "gender",
            })
            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: true}
                ],
                title: "Toggle",
                name: "specialOffer"
            })
            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: false}
                ],
                title: "",
                name: "specialOffer"
            })


            include ../FormElements.RateButton/RateButton.pug
            +getRateButton({
                isCheckedArray: [false, false, true, false, false,]
            })


            include ../FormElements.ButtonDefault/ButtonDefault.pug
            +getButton({
                text: "click me",
                isHollow:  false,
                buttonType: "button",
                hasArrow: true,
            })
            +getButton({
                text: "click me",
                isHollow:  true,
                buttonType: "a",
                hasArrow: true,
            })


            include ../FormElements.Pagination/Pagination.pug
            div(class=["pagination"])
                +getPagination({
                    pagesCount: 20,
                    curPageNumber: 7,
                    title: "pagination",
                    downText: "1 – 12 из 100+ вариантов аренды",
                })
            include ../FormElements.Pagination/Pagination.pug
            div(class=["pagination"])
                +getPagination({
                    pagesCount: 20,
                    curPageNumber: 2,
                    title: "pagination",
                    downText: "1 – 12 из 100+ вариантов аренды",
                })


            include ../FormElements.RangeSlider/RangeSlider.pug
            +getRangeSlider({
                title: "range slider",
                firstValue: 2000,
                lastValue: 6000,
                minValue: -1000,
                maxValue: 10000,
                valueType: "₽",
                valueRound: 100,
            })


            include ../FormElements.BulletList/BulletList.pug
            +getBulletList({
                titleText: "bullet list",
                list: [
                    "Нельзя с питомцами",
                    "Без вечеринок и мероприятий",
                    "Время прибытия — после 13:00, а выезд до 12:00",
                ],
            })


            include ../FormElements.DateInput/DateInput.pug
            +getDateInput({
                inputType: "double", 
                firstTitle: "выезд",
                secondTitle: "прибытие",
            })
            +getDateInput({
                inputType: "dropdown", 
                title: "dropdown",
            })
            +getDateInput({
                inputType: "simple", 
                title: "simple",
            })


            include ../FormElements.LikeButton/LikeButton.pug
            +getLikeButton({
                hasTitle: true,
                number: 2,
                isChecked: false,
            })
            +getLikeButton({
                hasTitle: true,
                number: 3,
                isChecked: true,
            })


            include ../FormElements.RoomDetails/RoomDetails.pug
            +getRoomDetails({
                detailsArray: [
                    {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены",},
                    {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален",},
                    {icon: "whatshot", titleText: "Уют", mainText: "Номер оснащён камином",},
                ],
            })


            include ../FormElements.GuestRoomReviews/GuestRoomReviews.pug
            +getGuestRoomReviews({
                reviewsArray: [
                    {
                        imgSrc: "./src/FormElements.GuestRoomReviews/img/image1.png",
                        fullName: "Мурад Сарафанов",
                        numberOfDaysSinceComment: "5 дней назад",
                        likeButtonOptions: {
                            hasTitle: false,
                            number: 12,
                            isChecked: true,
                        },
                        comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий." +
                            "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто" +
                            "не жаловался из соседей.",
                    },
                    {
                        imgSrc: "./src/FormElements.GuestRoomReviews/img/image2.png",
                        fullName: "Патрисия Стёклышкова",
                        numberOfDaysSinceComment: "Неделю назад",
                        likeButtonOptions: {
                            hasTitle: false,
                            number: 2,
                            isChecked: false,
                        },
                        comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать," +
                            "каждый день новое блюдо и десерт как комплимент", 
                    },                
                ]
            })