doctype html
html
    head
        meta(charset="utf-8")
        title FSD_Task2
    body
        .headersAndFooters
            include ../GlobalLogo/GlobalLogo.pug
            include ../HeadersAndFooters.StandardNavBar/StandardNavBar.pug   
            include ../HeadersAndFooters.StandardLoggedInNavBar/StandardLoggedInNavBar.pug 
            include ../HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.pug
            include ../HeadersAndFooters.FooterCreative/FooterCreative.pug