doctype html
html
    head
        meta(charset="utf-8")
        title HeadersAndFooters
    body
        div(class=["headersAndFooters"])
            div(class=["headersAndFooters__global-logo-container"])
                include ../GlobalLogo/GlobalLogo.pug

            include ../HeadersAndFooters.StandardNavBar/StandardNavBar.pug
            +getStandardNavBar({
                isAuthorized: false,
            })
            +getStandardNavBar({
                isAuthorized: true,
                userFullName: "Юлий Цезарь",
            })
            include ../HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.pug
            include ../HeadersAndFooters.FooterCreative/FooterCreative.pug