.headersAndFooters {
    //блок
    display: flex;
    flex-direction: column;
    background: #f4f4f6;
    padding-bottom: 130px;

    & > div:nth-child(2),
    & > div:nth-child(3),
    & > div:nth-child(4) {
        margin-bottom: 40px;
    }
}

@import "../GlobalLogo/GlobalLogo.scss";
@import "../FormElements.ButtonDefault/buttonDefault.scss";

@import "../HeadersAndFooters.StandardNavBar/StandardNavBar.scss";
@import "../HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.scss";
@import "../HeadersAndFooters.FooterCreative/FooterCreative.scss";

@import "../HeadersAndFooters.LogoColored/logoColored.scss";

.globalLogo{
    margin-bottom: 72px;
}

