@import "./base.scss";

@import "../components/GlobalLogo/GlobalLogo.scss";
@import "../components/HeadersAndFooters.StandardNavBar/StandardNavBar.scss";
@import "../components/HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.scss";
@import "../components/HeadersAndFooters.FooterCreative/FooterCreative.scss";
@import "../components/ColorsAndType/ColorsAndFonts.scss";

.headersAndFooters {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background: #f4f4f6;

    padding-bottom: 130px;
    padding-top: 30px;
    &__global-logo-container {
        margin-left: 30px;
        margin-bottom: 62px;
    }

    &__standard-nav-bar-container_first,
    &__standard-nav-bar-container_second,
    &__footer-widgets-and-copyright-bar-container,
    &__footer-creative-container {
        min-width: 100%;
        margin-bottom: 40px;
    }

    &__footer-creative-container {
        display: flex;
        justify-content: center;
    }
}
