doctype html
html
    head
        meta(charset="utf-8")
        title HeadersAndFooters
    body
        .headersAndFooters
            include ../GlobalLogo/GlobalLogo.pug
            include ../HeadersAndFooters.StandardNavBar/GetStandardNavBar.pug
            +getStandardNavBar(false)
            +getStandardNavBar(true) 
            include ../HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.pug
            include ../HeadersAndFooters.FooterCreative/FooterCreative.pug