mixin getSocialMedia()
    div(class=["social-media"])
        a(class=["social-media__ref"] href="https://twitter.com")
            img(class=["social-media__image"] src="./src/components/HeadersAndFooters.SocialMedia/img/twitterIcon.svg")
        a(class=["social-media__ref"] href="https://facebook.com")
            img(class=["social-media__image"] src="./src/components/HeadersAndFooters.SocialMedia/img/facebookIcon.svg")
        a(class=["social-media__ref"] href="https://instagram.com")
            img(class=["social-media__image"] src="./src/components/HeadersAndFooters.SocialMedia/img/instagramIcon.svg")