&__infoBar{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: min-content auto auto auto auto;
    padding: 100px 140px;
    justify-items: start;
}

@import "./infoBar/someInfo.scss";
@import "./infoBar/infoBarMenu.scss";
@import "./infoBar/subscribeToOurNewsletter.scss";