mixin getColoredLogo()
    div(class=["colored-logo"])
        img(class=['colored-logo__logo-symbol'] src="./src/components/HeadersAndFooters.ColoredLogo/img/coloredLogo.svg")
        img(class=['colored-logo__logo-text'] src="./src/components/HeadersAndFooters.ColoredLogo/img/TOXIN.svg")
