mixin getRateButton(options, classArray)
    - let i = 0;
    div(class=["ratingRadio"])
        while i <= 5
            - i++;
            label(class=["ratingRadio__label", "ratingRadio__label-" + i] title="Оценка «" + i + "»")
                input(type="radio" class=["ratingRadio__input", "ratingRadio__input-" + i] name="rating" value= i)
                p(class=["ratingRadio__text"])= "star"