.ratingRadio {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-template-rows: max-content;
    position: relative;
    width: max-content;

    &__starContainer {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: max-content;
        position: relative;
    }

    &__label {
        width: 24px;
        height: 24px;
        position: relative;
    }

    &__input {
        width: 24px;
        height: 24px;
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:checked + p::before {
            content: "";
        }

        &_unchecked {
            & + p::before {
                position: absolute;
                font-family: Material Icons;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                padding: 5px 0px 0px 5px;
                border: 0px solid transparent;
                content: "star";
                background: rgba(255, 255, 255, 1);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__text {
        position: absolute;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        border: 0px solid transparent;

        background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
