mixin getRateButton(options, classArray)
    - let i = 0;
    div(class=["ratingRadio"])
        while i <= 5
            - i++;
            label(class=["ratingRadio__label", "ratingRadio__label-" + i] title="Оценка «" + i + "»")
                input(type="radio" class=["ratingRadio__input", "ratingRadio__input-" + i] name="rating" value= i)
                p(class=["ratingRadio__text"])= "star"

                //-p(class=["radioButton__text"])= item.text
                //-- i++    

            //-div(class=["ratingRadio__starContainer", "ratingRadio__starContainer-" + i])

//- label(class=["ratingRadio__label", "ratingRadio__label-1"] title="Оценка «1»")
    input(type="radio" class=["ratingRadio__star", "ratingRadio__star-1"] name="rating" value="1")

        label(class=["ratingRadio__label", "ratingRadio__label-2"] title="Оценка «2»")
            input(type="radio" class=["ratingRadio__star", "ratingRadio__star-2"] name="rating" value="2")

        label(class=["ratingRadio__label", "ratingRadio__label-3"] title="Оценка «3»")
            input(type="radio" class=["ratingRadio__star", "ratingRadio__star-3"] name="rating" value="3")

        label(class=["ratingRadio__label", "ratingRadio__label-4"] title="Оценка «4»")
            input(type="radio" class=["ratingRadio__star", "ratingRadio__star-4"] name="rating" value="4")

        label(class=["ratingRadio__label", "ratingRadio__label-5"] title="Оценка «5»")
            input(type="radio" class=["ratingRadio__star", "ratingRadio__star-5"] name="rating" value="5")

    //-div(class=["rating"])
        div(class=["ratingRadio"])
            input(type="radio" id="star-1" name="rating" value="1")
            label(for="star-1" title="Оценка «1»")

            input(type="radio" id="star-2" name="rating" value="2")
            label(for="star-2" title="Оценка «2»")

            input(type="radio" id="star-3" name="rating" value="3")
            label(for="star-3" title="Оценка «3»")

            input(type="radio" id="star-4" name="rating" value="4")
            label(for="star-4" title="Оценка «4»")

            input(type="radio" id="star-5" name="rating" value="5")
            label(for="star-5" title="Оценка «5»")

