mixin getRateButton(options, classArray)
    div(class=["ratingRadio"])
        - for(let i=1; i <= 5; i++)
            label(class=["ratingRadio__label"] title="Оценка «" + i + "»" data-index-number= i)
                input(type="radio" 
                    class=["ratingRadio__input", "ratingRadio__input_unchecked"] 
                    name="starRating" 
                    value= i 
                    data-index-number= i)
                p(class=["ratingRadio__text"] data-index-number= i)= "star" 