mixin getRateButton(options, classArray)
    - let i = 1;
    div(class=["ratingRadio"])
        while i <= 5
            label(class=["ratingRadio__label"] title="Оценка «" + i + "»" data-index-number= i)
                input(type="radio" 
                    class=["ratingRadio__input", "ratingRadio__input_unchecked"] 
                    name="starRating" 
                    value= i 
                    data-index-number= i)
                p(class=["ratingRadio__text"] data-index-number= i)= "star" 
            - i++;