div(class=["footer-creative"])
    include ../HeadersAndFooters.LogoColored/LogoColored.pug
    p(class=["footer-creative__text"])
        | Copyright © 2018 Toxin отель. Все права зачищены.
    include ../HeadersAndFooters.SocialMedia/SocialMedia.pug