.footerCreative
    include ../HeadersAndFooters.StandardNavBar/logo/logo.pug
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    include ../HeadersAndFooters.FooterWidgetsAndCopyrightBar/copyrightBar/socialMedia/socialMedia.pug