.footerCreative
    include ../HeadersAndFooters.LogoColored/logoColored.pug
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    include ../HeadersAndFooters.FooterWidgetsAndCopyrightBar/copyrightBar/socialMedia/socialMedia.pug