doctype html
html
    head
        meta(charset="utf-8")
        title FormElements
        meta(name="viewport" content="width=device-width")        
    body
        div(class=["formElements"])
            div(class=["formElements__global-logo-container"])
                include ../../../components/GlobalLogo/GlobalLogo.pug

            include ../../../components/FormElements.FormInput/FormInput.pug
            +getFormInput({
                hasTitle: true,
                titleText: "text field",
                isTitleTextTestVisible: true,
                titleTextTestValue: "default",
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false
            })
            +getFormInput({
                hasTitle: true,
                titleText: "text field",
                isTitleTextTestVisible: true,
                titleTextTestValue: "hover / focus",
                placeholder: "Some text",
                name: "someText",
                type: "text",
                value: "This is pretty awesome",
                hasSubmitButton: false
            })
            +getFormInput({
                hasTitle: true,
                titleText: "text field",
                isTitleTextTestVisible: true,
                titleTextTestValue: "default",
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: true
            })
            +getFormInput({
                hasTitle: true,
                titleText: "text field",
                isTitleTextTestVisible: true,
                titleTextTestValue: "hover / focus",
                placeholder: "Some text",
                name: "someText",
                type: "text",
                value: "This is pretty awesome",
                hasSubmitButton: true
            })

            include ../../../components/FormElements.Dropdown/Dropdown.pug
            +getDropdown({
                titleText: "dropdown",
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько гостей",
                dropdownList: [
                    {name: "взрослые", value: 0},
                    {name: "дети", value: 0},
                    {name: "младенцы", value: 0}
                ],
                withTotalValue: true,
            })
            +getDropdown({
                titleText: "dropdown",
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько комнат",
                hasApplyButton: true,
                hasClearButton: true,
                dropdownList: [
                    {name: "спальни", value: 0},
                    {name: "кровати", value: 0},
                    {name: "ванные комнаты", value: 0}
                ],
                withTotalValue: false,
            })


            include ../../../components/FormElements.CheckboxList/CheckboxList.pug
            +getCheckbox({
                titleText: "expandable checkbox list",
                isExpandable: true,
                isOpened: "false",
                hasAdditionalText: false,
                checkboxList: [
                    {isChecked: false, text: "Завтрак"},
                    {isChecked: true, text: "Письменный стол"}, 
                    {isChecked: true, text: "Стул для кормления"},
                    {isChecked: true, text: "Кроватка"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"},
                ],
            })
            +getCheckbox({
                titleText: "expandable checkbox list",
                isExpandable: true,
                isOpened: "true",
                hasAdditionalText: false,
                checkboxList : [
                    {isChecked: false, text: "Завтрак"},
                    {isChecked: true, text: "Письменный стол"}, 
                    {isChecked: true, text: "Стул для кормления"},
                    {isChecked: true, text: "Кроватка"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"},
                    {isChecked: false, text: "Телевизор"},
                    {isChecked: false, text: "Шампунь"}
                ],
            })
            +getCheckbox({
                titleText: "rich checkbox list",
                isExpandable: false,
                hasAdditionalText: true,
                checkboxList: [
                    {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                    {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
                ],
            })
            +getCheckbox({
                titleText: "Checkbox Buttons",
                isExpandable: false, 
                hasAdditionalText: false,               
                checkboxList: [
                    {isChecked: false, text: "Можно курить"},
                    {isChecked: true, text: "Можно с питомцами"},
                    {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
                ],
            })                


            include ../../../components/FormElements.RadioButton/RadioButton.pug
            +getRadioButton({
                blockNumber: "_radio_1",
                buttonType: "radio",
                radioButtonList: [
                    {text: "Мужчина", isChecked: true},
                    {text: "Женщина", isChecked: false},
                ],
                title: "Radio Buttons",
                name: "gender",
            })
            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: true}
                ],
                title: "Toggle",
                name: "specialOffer"
            })
            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: false}
                ],
                title: "",
                name: "specialOffer"
            })


            include ../../../components/FormElements.RateButton/RateButton.pug
            +getRateButton({
                blockNumber: "_rate_1",
                numberOfCheckedStar: 3,
            })
            +getRateButton({
                blockNumber: "_rate_2",
                numberOfCheckedStar: 1,
            })             
            +getRateButton({
                blockNumber: "_rate_3",
                numberOfCheckedStar: 0,
            })            


            include ../../../components/FormElements.ButtonDefault/ButtonDefault.pug
            +getButton({
                text: "click me",
                isHollow:  false,
                buttonType: "button",
                hasArrow: true,
                width: "196px",
            })
            +getButton({
                text: "click me",
                isHollow:  true,
                buttonType: "button",
                hasArrow: true,
                width: "196px",                
            })            
            +getButton({
                text: "click me",
                isHollow:  false,
                buttonType: "a",
                hasArrow: false,
                width: "101px",                
            })
            +getButton({
                text: "click me",
                isHollow:  true,
                buttonType: "a",
                hasArrow: false,
                width: "101px",                
            })
            +getButton({
                text: "click me",
                isHollow:  false,
                buttonType: "submit",
                hasArrow: false,
                width: "101px",                
            })
            +getButton({
                text: "click me",
                isHollow:  true,
                buttonType: "submit",
                hasArrow: false,
                width: "101px",                
            })                       


            include ../../../components/FormElements.Pagination/Pagination.pug
            div(class=["formElements__pagination-container"])
                +getPagination({
                    pagesCount: 20,
                    curPageNumber: 7,
                    title: "pagination",
                    bottomText: "1 – 12 из 100+ вариантов аренды",
                })
            include ../../../components/FormElements.Pagination/Pagination.pug
            div(class=["formElements__pagination-container"])
                +getPagination({
                    pagesCount: 20,
                    curPageNumber: 2,
                    title: "pagination",
                    bottomText: "1 – 12 из 100+ вариантов аренды",
                })


            include ../../../components/FormElements.RangeSlider/RangeSlider.pug
            +getRangeSlider({
                title: "range slider",
                firstValue: 2000,
                lastValue: 6000,
                minValue: -1000,
                maxValue: 10000,
                valueType: "₽",
                valueRound: 100,
            })
            +getRangeSlider({
                title: "range slider",
                firstValue: 2000,
                lastValue: 6000,
                minValue: -50000,
                maxValue: 66666,
                valueType: "₽",
                valueRound: 100,
            })            


            include ../../../components/FormElements.BulletList/BulletList.pug
            +getBulletList({
                titleText: "bullet list",
                list: [
                    "Нельзя с питомцами",
                    "Без вечеринок и мероприятий",
                    "Время прибытия — после 13:00, а выезд до 12:00",
                ],
            })


            include ../../../components/FormElements.DateInput/DateInput.pug
            +getDateInput({
                isDoubleInput: true,
                isDateRange: true,
                firstTitle: "выезд",
                secondTitle: "прибытие",
            }) 
            +getDateInput({
                isDoubleInput: false,
                isDateRange: true, 
                firstTitle: "datepicker2",
                width: "266px",
            })
            +getDateInput({
                isDoubleInput: false,
                isDateRange: false, 
                firstTitle: "datepicker3",
                width: "266px",
            })           


            include ../../../components/FormElements.LikeButton/LikeButton.pug
            +getLikeButton({
                number: 2,
                isChecked: false,
            })
            +getLikeButton({
                number: 3,
                isChecked: true,
            })


            include ../../../components/FormElements.RoomDetails/RoomDetails.pug
            +getRoomDetails({
                detailsArray: [
                    {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены",},
                    {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален",},
                    {icon: "whatshot", titleText: "Уют", mainText: "Номер оснащён камином",},
                ],
                hasLastBorderBottom: false,
            })


            include ../../../components/FormElements.GuestRoomReviews/GuestRoomReviews.pug
            +getGuestRoomReviews({
                reviewsArray: [
                    {
                        imgSrc: "./src/components/FormElements.GuestRoomReviews/img/image1.png",
                        fullName: "Мурад Сарафанов",
                        numberOfDaysSinceComment: "5 дней назад",
                        likeButtonOptions: {
                            hasTitle: false,
                            number: 12,
                            isChecked: true,
                        },
                        comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий." +
                            "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто" +
                            "не жаловался из соседей.",
                    },
                    {
                        imgSrc: "./src/components/FormElements.GuestRoomReviews/img/image2.png",
                        fullName: "Патрисия Стёклышкова",
                        numberOfDaysSinceComment: "Неделю назад",
                        likeButtonOptions: {
                            hasTitle: false,
                            number: 2,
                            isChecked: false,
                        },
                        comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать," +
                            "каждый день новое блюдо и десерт как комплимент", 
                    },                
                ]
            })