include ../../../components/FormElements.FormInput/FormInput.pug
include ../../../components/logo/logo.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/FormElements.RadioButton/RadioButton.pug
include ../../../components/FormElements.RateButton/RateButton.pug
include ../../../components/button/button.pug
include ../../../components/FormElements.Pagination/Pagination.pug
include ../../../components/FormElements.RangeSlider/RangeSlider.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/calendar/calendar.pug
include ../../../components/FormElements.LikeButton/LikeButton.pug
include ../../../components/FormElements.RoomDetails/RoomDetails.pug
include ../../../components/FormElements.GuestRoomReviews/GuestRoomReviews.pug
include ../../../components/FormElements.PieChart/PieChart.pug

doctype html
html
    head
        meta(charset="utf-8")
        title FormElements
        meta(name="viewport" content="width=device-width")        
    body
        div(class=["form-elements"])
            div(class=["form-elements__global-logo-container"])
                +logo()

            div(class=["form-elements__columns"])
                div(class=["form-elements__column-1"])
                    div(class=["form-elements__form-input-container-1"])
                        +getFormInput({
                            hasTitle: true,
                            titleText: "text field",
                            isTitleTextTestVisible: true,
                            titleTextTestValue: "default",
                            placeholder: "Email",
                            name: "email",
                            type: "email",
                            value: "",
                            hasSubmitButton: false
                        })
                    div(class=["form-elements__form-input-container-2"])
                        +getFormInput({
                            hasTitle: true,
                            titleText: "text field",
                            isTitleTextTestVisible: true,
                            titleTextTestValue: "hover / focus",
                            placeholder: "Some text",
                            name: "someText",
                            type: "text",
                            value: "This is pretty awesome",
                            hasSubmitButton: false
                        })
                    div(class=["form-elements__form-input-container-3"])
                        +getFormInput({
                            hasTitle: true,
                            titleText: "text field",
                            isTitleTextTestVisible: true,
                            titleTextTestValue: "default",
                            placeholder: "Email",
                            name: "email",
                            type: "email",
                            value: "",
                            hasSubmitButton: true
                        })
                    div(class=["form-elements__form-input-container-4"])
                        +getFormInput({
                            hasTitle: true,
                            titleText: "text field",
                            isTitleTextTestVisible: true,
                            titleTextTestValue: "hover / focus",
                            placeholder: "Some text",
                            name: "someText",
                            type: "text",
                            value: "This is pretty awesome",
                            hasSubmitButton: true
                        })

                    div(class=["form-elements__date-input-container-1 js-form-elements__date-input-container"])
                        +calendar({
                            isDouble: true,
                            firstTitle: "выезд",
                            secondTitle: "прибытие",
                        })
                    div(class=["form-elements__date-input-container-2 js-form-elements__date-input-container"])
                        +calendar({
                            isDouble: false,
                            withRange: true, 
                            firstTitle: "datepicker2",
                        })
                    div(class=["form-elements__date-input-container-3 js-form-elements__date-input-container"])
                        +calendar({
                            isDouble: false,
                            withRange: false, 
                            firstTitle: "datepicker3",
                        })

                    div(class=["js-form-elements__dropdown-container form-elements__dropdown-container-1"]) 
                        +dropdown({
                            titleText: "dropdown",
                            isTitleTextTestVisible: false,
                            titleTextTestValue: "",
                            placeholder: "dropdown",
                            name: "dropdown",
                            type: "text",
                            value: "Сколько комнат",
                            hasApplyButton: false,
                            hasClearButton: false,
                            dropdownList: [
                                {name: "спальни", value: 0},
                                {name: "кровати", value: 0},
                                {name: "ванные комнаты", value: 0}
                            ],
                            withTotalValue: false,
                        })
                    div(class=["js-form-elements__dropdown-container form-elements__dropdown-container-2"]) 
                        +dropdown({
                            titleText: "dropdown",
                            isTitleTextTestVisible: false,
                            titleTextTestValue: "",
                            placeholder: "dropdown",
                            name: "dropdown",
                            type: "text",
                            value: "Сколько комнат",
                            hasApplyButton: true,
                            hasClearButton: true,
                            dropdownList: [
                                {name: "спальни", value: 0},
                                {name: "кровати", value: 0},
                                {name: "ванные комнаты", value: 0}
                            ],
                            withTotalValue: false,
                        })                        

                    div(class=["form-elements__checkbox-container-1 js-form-elements__checkbox-container_expandable"]) 
                        +checkbox-list({
                            titleText: "expandable checkbox list",
                            isExpandable: true,
                            isOpened: "false",
                            hasAdditionalText: false,
                            checkboxList: [
                                {isChecked: false, text: "Завтрак"},
                                {isChecked: true, text: "Письменный стол"}, 
                                {isChecked: true, text: "Стул для кормления"},
                                {isChecked: true, text: "Кроватка"},
                                {isChecked: false, text: "Телевизор"},
                                {isChecked: false, text: "Шампунь"},
                                {isChecked: false, text: "Телевизор"},
                                {isChecked: false, text: "Шампунь"},
                            ],
                        })
                    div(class=["form-elements__checkbox-container-2 js-form-elements__checkbox-container_expandable"]) 
                        +checkbox-list({
                            titleText: "expandable checkbox list",
                            isExpandable: true,
                            isOpened: "true",
                            hasAdditionalText: false,
                            checkboxList : [
                                {isChecked: false, text: "Завтрак"},
                                {isChecked: true, text: "Письменный стол"}, 
                                {isChecked: true, text: "Стул для кормления"},
                                {isChecked: true, text: "Кроватка"},
                                {isChecked: false, text: "Телевизор"},
                                {isChecked: false, text: "Шампунь"},
                                {isChecked: false, text: "Телевизор"},
                                {isChecked: false, text: "Шампунь"}
                            ],
                        })

                    div(class=["form-elements__room-details-container-1"])
                        +getRoomDetails({
                            detailsArray: [
                                {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены",},
                                {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален",},
                                {icon: "whatshot", titleText: "Уют", mainText: "Номер оснащён камином",},
                            ],
                            hasLastBorderBottom: false,
                        })


                div(class=["form-elements__column-2"])
                    div(class=["form-elements__checkbox-container-4"]) 
                        +checkbox-list({
                            titleText: "Checkbox Buttons",
                            isExpandable: false, 
                            hasAdditionalText: false,               
                            checkboxList: [
                                {isChecked: false, text: "Можно курить"},
                                {isChecked: true, text: "Можно с питомцами"},
                                {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
                            ],
                        })

                    div(class=["form-elements__radio-button-container-1"]) 
                        +getRadioButton({
                            blockNumber: "_radio_1",
                            buttonType: "radio",
                            radioButtonList: [
                                {text: "Мужчина", isChecked: true},
                                {text: "Женщина", isChecked: false},
                            ],
                            title: "Radio Buttons",
                            name: "gender",
                        })
                    div(class=["form-elements__radio-button-container-2"]) 
                        +getRadioButton({
                            buttonType: "toggle",
                            radioButtonList: [
                                {text: "Получать спецпредложения", isChecked: true}
                            ],
                            title: "Toggle",
                            name: "specialOffer"
                        })
                    div(class=["form-elements__radio-button-container-3"]) 
                        +getRadioButton({
                            buttonType: "toggle",
                            radioButtonList: [
                                {text: "Получать спецпредложения", isChecked: false}
                            ],
                            title: "",
                            name: "specialOffer"
                        })

                    div(class=["form-elements__like-button-container-1"])
                        +getLikeButton({
                            number: 2,
                            isChecked: false,
                        })
                    div(class=["form-elements__like-button-container-2"])
                        +getLikeButton({
                            number: 3,
                            isChecked: true,
                        })

                    div(class=["form-elements__rate-button-container-1"])
                        +getRateButton({
                            blockNumber: "_rate_1",
                            numberOfCheckedStar: 3,
                        })
                    div(class=["form-elements__rate-button-container-2"])
                        +getRateButton({
                            blockNumber: "_rate_2",
                            numberOfCheckedStar: 1,
                        })             
                    div(class=["form-elements__rate-button-container-3"])
                        +getRateButton({
                            blockNumber: "_rate_3",
                            numberOfCheckedStar: 0,
                        })

                    div(class=["js-form-elements__dropdown-container form-elements__dropdown-container-3"]) 
                        +dropdown({
                            titleText: "dropdown",
                            isTitleTextTestVisible: false,
                            titleTextTestValue: "",
                            placeholder: "dropdown",
                            name: "dropdown",
                            type: "text",
                            value: "Сколько гостей",
                            hasApplyButton: false,
                            hasClearButton: false,
                            dropdownList: [
                                {name: "взрослые", value: 0},
                                {name: "дети", value: 0},
                                {name: "младенцы", value: 0}
                            ],
                            withTotalValue: true,
                        })

                    div(class=["form-elements__checkbox-container-3"]) 
                        +checkbox-list({
                            titleText: "rich checkbox list",
                            isExpandable: false,
                            hasAdditionalText: true,
                            checkboxList: [
                                {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см."},
                                {isChecked: true, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера."},
                            ],
                        })  

                div(class=["form-elements__column-3"]) 
                    div(class=["form-elements__range-slider-container-1"])
                        +getRangeSlider({
                            title: "range slider",
                            firstValue: 2000,
                            lastValue: 6000,
                            minValue: -1000,
                            maxValue: 10000,
                            valueType: "₽",
                            valueRound: 100,
                        })
                    div(class=["form-elements__range-slider-container-2"])
                        +getRangeSlider({
                            title: "range slider",
                            firstValue: 2000,
                            lastValue: 6000,
                            minValue: -50000,
                            maxValue: 66666,
                            valueType: "₽",
                            valueRound: 100,
                        })

                    div(class=["form-elements__button-container-1"])
                        +button({
                            text: "click me",
                            isHollow:  false,
                            buttonType: "button",
                            hasArrow: true,
                        })
                    div(class=["form-elements__button-container-2"])
                        +button({
                            text: "click me",
                            isHollow:  true,
                            buttonType: "button",
                            hasArrow: true,              
                        })   
                    div(class=["form-elements__button-container-3"])         
                        +button({
                            text: "click me",
                            isHollow:  false,
                            buttonType: "a",
                            hasArrow: false,               
                        })
                    div(class=["form-elements__button-container-4"])
                        +button({
                            text: "click me",
                            isHollow:  true,
                            buttonType: "a",
                            hasArrow: false,               
                        })
                    div(class=["form-elements__button-container-5"])
                        +button({
                            text: "click me",
                            isHollow:  false,
                            buttonType: "submit",
                            hasArrow: false,               
                        })
                    div(class=["form-elements__button-container-6"])
                        +button({
                            text: "click me",
                            isHollow:  true,
                            buttonType: "submit",
                            hasArrow: false,               
                        })  

                    div(class=["form-elements__pagination-container js-form-elements__pagination-container-1"])
                    div(class=["form-elements__pagination-container js-form-elements__pagination-container-2"])

                    div(class=["js-form-elements__dropdown-container form-elements__dropdown-container-4"]) 
                        +dropdown({
                            titleText: "dropdown",
                            isTitleTextTestVisible: false,
                            titleTextTestValue: "",
                            placeholder: "dropdown",
                            name: "dropdown",
                            type: "text",
                            value: "Сколько гостей",
                            hasApplyButton: true,
                            hasClearButton: true,
                            dropdownList: [
                                {name: "взрослые", value: 0},
                                {name: "дети", value: 0},
                                {name: "младенцы", value: 0}
                            ],
                            withTotalValue: true,
                        })

                    div(class=["form-elements__bullet-list-container-1"])
                        +bullet-list({
                            titleText: "bullet list",
                            list: [
                                "Нельзя с питомцами",
                                "Без вечеринок и мероприятий",
                                "Время прибытия — после 13:00, а выезд до 12:00",
                            ],
                        })

                    div(class=["form-elements__guest-room-reviews-container-1"])
                        +getGuestRoomReviews({
                            reviewsArray: [
                                {
                                    imgSrc: "./src/components/FormElements.GuestRoomReviews/img/image1.png",
                                    fullName: "Мурад Сарафанов",
                                    numberOfDaysSinceComment: "5 дней назад",
                                    likeButtonOptions: {
                                        hasTitle: false,
                                        number: 12,
                                        isChecked: true,
                                    },
                                    comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий." +
                                        "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто" +
                                        "не жаловался из соседей.",
                                },
                                {
                                    imgSrc: "./src/components/FormElements.GuestRoomReviews/img/image2.png",
                                    fullName: "Патрисия Стёклышкова",
                                    numberOfDaysSinceComment: "Неделю назад",
                                    likeButtonOptions: {
                                        hasTitle: false,
                                        number: 2,
                                        isChecked: false,
                                    },
                                    comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать," +
                                        "каждый день новое блюдо и десерт как комплимент", 
                                },                
                            ]
                        })

                    div(class=["form-elements__pie-chart-container-1"])
                        +getPieChart({
                            totalValue: 260,
                            legends: ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"]
                        })