include ../HeadersAndFooters.ColoredLogo/ColoredLogo.pug
include ../HeadersAndFooters.SocialMedia/SocialMedia.pug

div(class=["footer-creative"])
    div(class=["footer-creative__content"])
        +getColoredLogo()
        p(class=["footer-creative__text"])
            | Copyright © 2018 Toxin отель. Все права зачищены.
        +getSocialMedia()