div(class=["footer-creative"])
    div(class=["footer-creative__content"])
        include ../HeadersAndFooters.LogoColored/LogoColored.pug
        p(class=["footer-creative__text"])
            | Copyright © 2018 Toxin отель. Все права зачищены.
        include ../HeadersAndFooters.SocialMedia/SocialMedia.pug