&__infoBarMenu {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
        margin-left: 40px;
    }
    &:nth-child(3) {
        margin-left: 119px;
    }
    &:nth-child(4) {
        margin-left: 118px;
    }
}

&__infoBarMenuItem {
    margin-bottom: 20px;

    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    a {
        text-decoration: none;
        white-space: nowrap;
        color: rgba(31, 32, 65, 0.5);
    }

    &_firstItem {
        margin-top: 4px;
        margin-bottom: 21px;

        font-family: MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            white-space: nowrap;
            color: #1f2041;
        }
    }

    &:last-of-type {
        margin-bottom: 0px;
    }
}
