mixin star-rating(options = {})
  - 
    const {
      blockNumber = 0,
      checkedStarIndex = 0,
    } = options;

  div(class=["star-rating"])
    - for(let i = 5; i >= 1; i -= 1) {
      input(type="radio"
        class=["star-rating__input"]
        name=`star-rating-${blockNumber}`
        value=i
        checked=(checkedStarIndex === i))
      p(class=["star-rating__image"]
        title=`Оценка «${i}»`)
    - }