@import '../../assets/constants.scss';

.star-rating {
    $size: 24px;
    position: relative;
    display: flex;
    width: 120px;
    height: 24px;

    &__input {
        cursor: pointer;

        width: 24px;
        height: 24px;
        position: absolute;
        opacity: 0;
        z-index: 2;

        @for $i from 1 through 5 {
            &_#{$i} {
                margin-left: 24px * ($i - 1);
            }
        }

        & + .star-rating__image::before {
            content: "star_border";
            position: absolute;
            width: 24px;
            height: 24px;

            display: flex;
            align-items: center;
            text-align: center;

            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            color: $gradient-purple-to-blue;
            background: $gradient-purple-to-blue;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:checked ~ .star-rating__image::after {
            content: "star";
            position: absolute;
            width: 24px;
            height: 24px;

            display: flex;
            align-items: center;
            text-align: center;

            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            color: $gradient-purple-to-blue;
            background: $gradient-purple-to-blue;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        position: absolute;
        z-index: 1;

        @for $i from 1 through 5 {
            &_#{$i} {
                margin-left: 24px * ($i - 1);
            }
        }
    }
}
