@import '../../assets/constants.scss';

.star-rating {
  width: 7.5rem;
  height: 1.5rem;
  display: flex;
  position: relative;
  $size: 1.5rem;

  &__input {
    cursor: pointer;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    opacity: 0;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        margin-left: 1.5rem * (5 - $i);
      }
    }

    & + .star-rating__image-of-star::before {
      content: 'star_border';
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      background: $gradient-purple-to-blue;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Material Icons;
      font-size: 1.5rem;
      line-height: 1.25rem;
      color: $gradient-purple-to-blue;
    }
    &:checked ~ .star-rating__image-of-star::after {
      content: 'star';
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      background: $gradient-purple-to-blue;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Material Icons;
      font-size: 1.5rem;
      line-height: 1.25rem;
      color: $gradient-purple-to-blue;
    }
  }

  &__image-of-star {
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        margin-left: 1.5rem * (5 - $i);
      }
    }
  }
}
