*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, monospace;
}

html {
  font-size: 1px;
}

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
