@import '../../assets/constants.scss';

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: $color-dark-shade-50;
  background: white;
}

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
