.radioButton {
    width: max-content;

    &__buttonsContainer {
        display: flex;
    }
    &__buttonContainer {
        display: flex;
        position: relative;

        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }

    &__title {
        font-family: MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
        margin-bottom: 15px;
    }

    &__labelRadio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        margin-right: 10px;
    }
    &__labelToggle {
        display: flex;
        flex-direction: row;

        align-items: center;
        position: relative;
        z-index: 1;
        width: 40px;
        height: 20px;
        border-radius: 10px;

        margin-right: 10px;

        padding: 0px 3px;

        transition: padding-left 0.3s;
    }

    &__buttonRadio {
        position: absolute;
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 2;

        &:checked + label {
            border: 1px solid #bc9cff;
        }
        &:checked + label::after {
            content: "";
            width: 12px;
            height: 12px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 50%;
        }
        &:not(:checked) + label {
            border: 1px solid rgba(31, 32, 65, 0.25);
        }
    }
    &__buttonToggle {
        position: absolute;
        width: 40px;
        height: 20px;
        opacity: 0;
        z-index: 2;

        &:checked + label {
            border: 1px solid #bc9cff;
            padding-left: 3px;
        }
        &:not(:checked) + label {
            border: 1px solid rgba(31, 32, 65, 0.25);
            padding-left: 23px;
        }
        &:checked + label::after {
            content: "";
            width: 12px;
            height: 12px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 50%;
        }
        &:not(:checked) + label::after {
            content: "";
            width: 12px;
            height: 12px;
            background: rgba(31, 32, 65, 0.25);
            border-radius: 50%;
        }
    }

    &__text {
        font-family: MontserratRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
