@import '../../assets/constants.scss';
@import '../../assets/mixins.scss';
@import '../colored-logo/colored-logo.scss';
@import '../button/button.scss';

.header {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto min-content min-content min-content;
  align-items: center;
  justify-items: start;
  padding: 0.9375rem scalePixelsAsPercentage(140, 1440);
  background: white;
  box-shadow: 0rem 0.625rem 1.25rem $color-dark-shade-5;

  @media screen and (max-width: 1150px) {
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }

  &__colored-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1150px) {
      padding-bottom: 0.625rem;
      margin-bottom: 0.625rem;
      border-bottom: 0.125rem solid $color-purple;
      &_closed {
        border-bottom: 0rem solid $color-purple;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
      }
    }
    @media screen and (max-width: 1150px) and (min-width: 1000px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__navigation-menu {
    margin-right: 1.25rem;

    @media screen and (max-width: 1150px) {
      &_closed {
        display: none;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0rem 0.625rem;

    @media screen and (max-width: 1000px) {
      margin: 0.625rem 0rem;
    }

    &:first-child {
      margin: 0rem 0.625rem 0rem 0rem;

      .header__item-ref {
        color: $color-dark-shade-75;
        font-weight: bold;
      }
    }
  }

  &__item-ref {
    text-decoration: none;
    color: $color-dark-shade-50;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    white-space: nowrap;
    letter-spacing: 0.005em;
  }

  &__dropdown-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: $color-dark-shade-50;
  }

  &__user-full-name {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: $color-dark-shade-50;
    white-space: nowrap;
    padding-left: 1.25rem;
    border-left: 0.0625rem solid $color-dark-shade-10;

    @media screen and (max-width: 1150px) {
      &_closed {
        display: none;
      }
    }
    @media screen and (max-width: 550px) {
      margin-top: 1.25rem;
    }
  }

  &__buttons {
    display: flex;

    @media screen and (max-width: 1150px) {
      &_closed {
        display: none;
      }
    }
    @media screen and (max-width: 550px) {
      flex-direction: column;
      margin-top: 1.25rem;
    }
  }

  &__sign-in-button {
    width: 5.4375rem;
    margin-right: 1.25rem;

    @media screen and (max-width: 550px) {
      margin-right: 0rem;
      margin-bottom: 0.625rem;
    }
  }

  &__sign-up-button {
    width: 12.25rem;
  }

  &__burger {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.75rem;
    background: $gradient-green-to-turquoise;
    border-radius: 0.25rem;

    @media screen and (max-width: 1150px) {
      display: flex;
      justify-self: flex-end;

      &_closed {
        background: $gradient-purple-to-blue;
      }
    }
  }

  &__burger-element {
    width: 1.875rem;
    height: 0.25rem;
    background: white;

    &_opened {
      &:nth-of-type(3) {
        display: none;
      }
      &:nth-of-type(1) {
        position: absolute;
        top: 1.375rem;
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        position: absolute;
        top: 1.375rem;
        transform: rotate(-45deg);
      }
    }
  }
}
