include ../colored-logo/colored-logo.pug
include ../navigation-menu/navigation-menu.pug
include ../button/button.pug

mixin header(options = {})
  - 
    const { 
      isAuthorized = false, 
      userFullName = "",
    } = options;

  header(class=["header", "js-header"])
    div(class=["header__colored-logo", "js-header__colored-logo"])
      +colored-logo()
      div(class=["header__burger", "js-header__burger"])
        span(class=["header__burger-element", "js-header__burger-element", "header__burger-element_opened"])
        span(class=["header__burger-element", "js-header__burger-element", "header__burger-element_opened"])
        span(class=["header__burger-element", "js-header__burger-element", "header__burger-element_opened"])
    nav(class=["header__navigation-menu", "js-header__navigation-menu"])
      +navigation-menu()
    - if(isAuthorized)
      p(class=["header__user-full-name", "js-header__user-full-name"])= userFullName
    - else
      div(class=["header__buttons", "js-header__buttons"])
        div(class=["header__sign-in-button"])
          +button({
            text: "войти",
            isHollow:  true,
            basis: "a",
            hasArrow: false,
            isForHeader: true,
            url: "sign-in.html",
            isOuterRef: false,
          })
        div(class=["header__sign-up-button"])
          +button({
            text: "зарегистрироваться",
            isHollow:  false,
            basis: "a",
            hasArrow: false,
            isForHeader: true,
            url: "registration.html",
            isOuterRef: false,
          })