@import "../Cards.RoomInfoTitle/RoomInfoTitle.scss";
@import "../FormElements.RateButton/RateButton.scss";

.room-info {
    width: 271px;
    //height: 258px;
    display: flex;
    flex-direction: column;

    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;

    position: relative;
    &__ref {
        width: 271px;
        height: 55px;
        opacity: 0;
        margin-bottom: 52px;
        position: absolute;
        bottom: 0px;
        z-index: 3;
    }

    &__photos {
        position: relative;
        display: flex;
        align-items: center;
        width: 271px;
        height: 152px;

        z-index: 2;
    }

    &__photo {
        position: absolute;
        z-index: 1;
        opacity: 0;

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__arrows {
        z-index: 3;

        display: flex;
        justify-content: space-between;

        width: 271px;
        height: 152px;
    }

    &__arrow-back {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 44px;
        height: 152px;
        background: transparent;
        outline: transparent;

        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

        &-icon {
            transform: rotate(90deg);

            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;

            text-align: center;
            color: #ffffff;
        }
    }
    &__arrow-forward {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 44px;
        height: 152px;
        background: transparent;
        outline: transparent;

        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);

        &-icon {
            transform: rotate(90deg);

            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;

            text-align: center;
            color: #ffffff;
        }
    }

    /* &__photoRadioButtons {
        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 42px;

        position: absolute;
        right: 15px;
        bottom: 15px;
    } */

    /* &__photoRadioButton {
        width: 8px;
        height: 8px;

        position: relative;
    } */
    $radioButtonSize: 8px;
    &__photo-radio-button-input {
        z-index: 3;

        width: $radioButtonSize;
        height: $radioButtonSize;

        position: absolute;
        opacity: 0;

        bottom: 15px;

        &:checked + div {
            background: #ffffff;
        }

        $test: 6px;
        @for $i from 1 through 4 {
            &_#{$i} {
                right: 15px + ($radioButtonSize + 3px) * (4 - $i);
                & + div {
                    right: 15px + ($radioButtonSize + 3px) * (4 - $i);
                }
                &:checked ~ .room-info__photo_#{$i} {
                    opacity: 1;
                }
            }
        }

        /* &_1 {
            right: 15px + ($radioButtonSize + 3px) * 3;
            & + div {
                right: 15px + ($radioButtonSize + 3px) * 3;
            }
            &:checked ~ .roomInfo__photo_1 {
                opacity: 1;
            }
        }
        &_2 {
            right: 15px + (8px + 3px) * 2;
            & + div {
                right: 15px + (8px + 3px) * 2;
            }
            &:checked ~ .roomInfo__photo_2 {
                opacity: 1;
            }
        }
        &_3 {
            right: 15px + (8px + 3px) * 1;
            & + div {
                right: 15px + (8px + 3px) * 1;
            }
            &:checked ~ .roomInfo__photo_3 {
                opacity: 1;
            }
        }
        &_4 {
            right: 15px + (8px + 3px) * 0;
            & + div {
                right: 15px + (8px + 3px) * 0;
            }
            &:checked ~ .roomInfo__photo_4 {
                opacity: 1;
            }
        } */
    }
    &__photo-radio-button-circle {
        z-index: 2;

        width: 8px;
        height: 8px;

        border-radius: 50%;
        border: 1px solid #ffffff;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);

        position: absolute;
        bottom: 15px;
    }

    &__text-info {
        padding: 15px 16px 19px 20px;

        z-index: 1;
    }

    &__room-info-title-container {
    }

    &__room-rate-and-reviews-count {
        display: flex;
        justify-content: space-between;

        margin-top: 8px;
    }

    &__reviews-count-container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 3px;
        padding-right: 4px;
    }

    &__reviews-count {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);

        margin-right: 3px;
    }

    &__reviews-count-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
    }
}
