&__navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 530px;
    justify-self: end;

    &_navMenuMarginForNotAuthorized {
        margin: 0px 25px 0px 0px;
    }

    &_navMenuMarginForAuthorized {
        margin: 0px 30px 0px 0px;
    }
}
