//кнопка как элемент
&__buttonDefault {

    &_firstButton {
        margin-right: 20px;
    }

    //размеры задаются локально, относительно текущего блока-контекста 
    &_size {
        $buttonHeight: 34px;
        height: $buttonHeight;
        & > a {
            height: $buttonHeight;

            & > p {
                margin: 9px 20px 10px 20px;

                @import "./buttonTextProperties.scss";
                @include buttonTextProperties;
            }
        }
    }

    &_hollowSize {
        $buttonHeight: 34px;
        height: $buttonHeight;

        $border: 2px;
        & > a {
            height: $buttonHeight;

            & > p {
                margin: 9px - $border 20px - $border 10px - $border 20px - $border;

                @import "./buttonTextProperties.scss";
                @include buttonTextProperties;
            }
        }
    }
}

@import "./buttonDefaultBlock.scss";
