mixin getButton(text, isHollow, classArray)
    - let buttonOptions = ['buttonDefault', 'colors__background_purpleToBlueGrad'];
    - buttonOptions = buttonOptions.concat(classArray)
    - let pOptions = [];
    if isHollow
        - pOptions = ['colors__font_purple']
        - buttonOptions.push('buttonDefault_hollowButton')

    div(class= buttonOptions)
        a(href='#')
            p(class= pOptions)= text