include ../../../components/GlobalLogo/GlobalLogo.pug
include ../../../components/HeadersAndFooters.StandardNavBar/StandardNavBar.pug
include ../../../components/HeadersAndFooters.LongFooter/LongFooter.pug
include ../../../components/HeadersAndFooters.ShortFooter/ShortFooter.pug

doctype html
html
    head
        meta(charset="utf-8")
        title HeadersAndFooters
        meta(name="viewport" content="width=device-width")
    body
        div(class=["headersAndFooters"])

            div(class=["headersAndFooters__global-logo-container"])
                +getGlobalLogo()

            div(class=["headersAndFooters__standard-nav-bar-container_first"])
                +getStandardNavBar({
                    isAuthorized: false,
                })

            div(class=["headersAndFooters__standard-nav-bar-container_second"])
                +getStandardNavBar({
                    isAuthorized: true,
                    userFullName: "Юлий Цезарь",
                })

            div(class=["headersAndFooters__footer-widgets-and-copyright-bar-container"])
                +getLongFooter()

            div(class=["headersAndFooters__footer-creative-container"])
                +getShortFooter()