extends ../../base/ui-kit-base

include ../../../components/logo/logo.pug
include ../../../components/sign-in-form/sign-in-form.pug
include ../../../components/room-finder-form/room-finder-form.pug
include ../../../components/price-calculation-form/price-calculation-form.pug
include ../../../components/sign-up-form/sign-up-form.pug
include ../../../components/room-info/room-info.pug

block title
  title Cards

block content
  div(class=["cards"])
    div(class=["cards__column-1"])
      div(class=["cards__room-finder-form", "js-cards__room-finder-form"])
        +room-finder-form({
          title: "Найдём номера под ваши пожелания",
        })
      div(class=["cards__sign-up-form", "js-cards__sign-up-form"])        
        +sign-up-form({
          title: "Регистрация аккаунта",
        })                        
    div(class=["cards__column-2"])
      div(class=["cards__price-calculation-form", "js-cards__price-calculation-form"])
        +price-calculation-form({
          roomNumber: 888,
          roomStatus: "люкс",
          roomPrice: 9990,
          currencyType: "₽",
          discount: 2179,
        })
      div(class=["cards__sign-in-form", "js-cards__sign-in-form"])
        +sign-in-form({
          title: "Войти",
        })
    div(class=["cards__column-3"])
      div(class=["cards__datepicker", "js-cards__datepicker"])
      div(class=["cards__room-info", "js-cards__room-info"])
        +room-info({
          blockNumber: 1,
          photosCount: 4,
          reviewsCount: 145,
          checkedStarIndex: 5,
          url: "room-details.html",
          roomNumber: 888,
          roomStatus: "люкс",
          roomPrice: 9990,
          currencyType: "₽",
        })
      div(class=["cards__room-info", "js-cards__room-info"])
        +room-info({
          blockNumber: 2,
          photosCount: 1,
          reviewsCount: 65,
          checkedStarIndex: 4,
          url: "room-details.html",
          roomNumber: 840,
          roomPrice: 9900,
          currencyType: "₽",
        })

