@import '../../../components/logo/logo.scss';
@import '../../../components/sign-in-form/sign-in-form.scss';
@import '../../../components/room-finder-form/room-finder-form.scss';
@import '../../../components/price-calculation-form/price-calculation-form.scss';
@import '../../../components/sign-up-form/sign-up-form.scss';
@import '../../../components/room-info/room-info.scss';

body {
    background: rgb(229, 229, 229);
}

.cards {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8.75rem;
    padding: 4.5rem 9.6222% 8.75rem;
    background: rgb(229, 229, 229);

    @media screen and (max-width: 950px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0rem 0rem;
    }

    &__column-1,
    &__column-2,
    &__column-3 {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 950px) {
            align-items: center;
        }
        @media screen and (max-width: 380px) {
            width: 100%;
        }
    }

    &__room-finder-form,
    &__sign-up-form,
    &__price-calculation-form,
    &__sign-in-form {
        width: 23.75rem;
        margin-bottom: 2.5rem;

        @media screen and (max-width: 380px) {
            width: 100%;
        }
    }

    &__datepicker,
    &__room-info {
        width: max-content;
        margin-bottom: 2.5rem;
    }
}
