include ../HeadersAndFooters.InfoBarMenu/InfoBarMenu.pug
include ../FormElements.FormInput/FormInput.pug
include ../HeadersAndFooters.ColoredLogo/ColoredLogo.pug
include ../HeadersAndFooters.SocialMedia/SocialMedia.pug

mixin getLongFooter(options)
    div(class=["long-footer"])
        div(class=["long-footer__info-bar"])

            div(class=["long-footer__general-info"])
                +getColoredLogo()
                p(class=["long-footer__general-info-text"]) 
                    | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

            div(class=["long-footer__info-menu-container"])
                +getInfoBarMenu({
                    listOfLinks: [
                        {url: "#", text: "навигация"}, 
                        {url: "#", text: "О нас"}, 
                        {url: "#", text: "Новости"}, 
                        {url: "#", text: "Служба поддержки"}, 
                        {url: "#", text: "Услуги"},
                    ]
                })
            div(class=["long-footer__info-menu-container"])
                +getInfoBarMenu({
                    listOfLinks: [
                        {url: "#", text: "о нас"}, 
                        {url: "#", text: "О сервисе"}, 
                        {url: "#", text: "Наша команда"}, 
                        {url: "#", text: "Вакансии"}, 
                        {url: "#", text: "Инвесторы"},
                    ]
                })
            div(class=["long-footer__info-menu-container"])
                +getInfoBarMenu({
                    listOfLinks: [
                        {url: "#", text: "Служба поддержки"}, 
                        {url: "#", text: "Соглашения"}, 
                        {url: "#", text: "Сообщества"},
                        {url: "#", text: "Связь с нами"},
                    ]
                })           

            div(class=["long-footer__subscribe"])
                p(class=["long-footer__subscribe-title-text"]) Подписка
                p(class=["long-footer__subscribe-main-text"]) 
                    | Получайте специальные предложения и новости сервиса
                form(class=["long-footer__subscribe-email-form"])
                    +getFormInput({
                        hasTitle: false,
                        isTitleTextTestVisible: false,
                        placeholder: "Email",
                        name: "email",
                        type: "email",
                        value: "",
                        hasSubmitButton: true
                    })

        div(class=["long-footer__copyright-bar"])
            p(class=["long-footer__copyright"]) 
                | Copyright © 2018 Toxin отель. Все права зачищены.
            +getSocialMedia()