@import '../../assets/constants.scss';

.bullet-list {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 14px;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
        color: $color-dark-shade-100;
        white-space: normal;
        word-break: break-word;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 0.625rem;

        &:last-of-type {
            margin-bottom: 0rem;
        }
    }

    &__item-marker {
        width: 0.625rem;
        height: 0.625rem;
        margin-right: 0.625rem;
        border-radius: 50%;
        background: $color-dark-shade-25;
    }

    &__item-text {
        width: 15rem;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $color-dark-shade-75;
        white-space: normal;
        word-break: break-word;
    }

    &__title_with-font-family_quicksand {
        margin-bottom: 1.125rem;
        margin-left: 1.25rem;
        font-family: Quicksand, OpenSans, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1875rem;
        line-height: 1.5rem;
        color: $color-dark-shade-100;
        text-transform: none;
    }
}
