mixin bullet-list(options)
    - 
        const { inRoomDetailsPage, title, list } = options;
        const titleClasses = [];

        if(inRoomDetailsPage){
            titleClasses.push("bullet-list__title_with-font-family_quicksand");
        }

    div(class=["bullet-list"])
        - if(title)
            p(class=["bullet-list__title"].concat(titleClasses))= title
        ul(class=["bullet-list__list"])    
            - for(let listItem of list)
                li(class=["bullet-list__item"])
                    span(class=["bullet-list__item-marker"])
                    p(class=["bullet-list__item-text"])= listItem
