@import '../../assets/constants.scss';

.bullet-list {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 14px;

        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color-dark-shade-100;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    &__item-marker {
        width: 10px;
        height: 10px;
        background: $color-dark-shade-25;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__item-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $color-dark-shade-75;

        width: 240px;
    }

    &__title_with-font-family_quicksand {
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $color-dark-shade-100;
        text-transform: none;

        margin-bottom: 18px;
        margin-left: 20px;
    }
}
