.buttonDefault {
    //кнопка как отдельный блок
    border-radius: 22px;
    display: flex;
    align-items: center;
    & > a {
        color: #ffffff;
        text-decoration: none;
        display: flex;
        align-items: center;

        & > p {
            @import "./buttonTextProperties.scss";
            @include buttonTextProperties;
        }
    }

    //модификатор, делающий кнопку полой
    &_hollowButton {
        $border: 2px;
        & > a:first-of-type {
            height: 30px;
            background: #ffffff;
            margin: $border;
            border-radius: inherit;
            text-decoration: none;
            background-origin: border-box;

            & > p:first-of-type {
                margin: 0px 0px;
            }
        }
    }
}
//first-of-type для повышения приоритета
