extends ../../page-base

include ../../../components/room-advantages/room-advantages.pug
include ../../../components/pie-chart/pie-chart.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/room-reviews/room-reviews.pug
include ../../../components/price-calculation-form/price-calculation-form.pug

block content
    div(class=["room-details"])
        div(class=["room-details__room-photos"])
            div(class=["room-details__big-photo"])
            div(class=["room-details__small-photos"])
                div(class=["room-details__small-photo room-details__small-photo-1"])
                div(class=["room-details__small-photo room-details__small-photo-2"])

        div(class=["room-details__info"])
            div(class=["room-details__room-descriptions"])
                div(class=["room-details__room-advantages"])
                    p(class=["room-details__room-advantages-title"]) Сведения о номере 
                    +room-advantages({
                        details: [
                            {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены",},
                            {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален",},
                            {icon: "whatshot", titleText: "Уют", mainText: "Номер оснащён камином",},
                        ],
                        hasLastBorderBottom: false,
                    })
                div(class=["room-details__pie-chart js-form-elements__pie-chart"])
                    +pie-chart({
                        totalValue: 260,
                        legends: ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"]
                    })
                div(class=["room-details__room-reviews"])
                    +room-reviews({
                        hasTitle: true,
                        reviews: [
                            {
                                imageName: "image1",
                                fullName: "Мурад Сарафанов",
                                numberOfDaysSinceComment: "5 дней назад",
                                likeButtonOptions: {
                                    number: 12,
                                    isChecked: true,
                                },
                                comment: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                                И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто 
                                не жаловался из соседей.`,
                            },
                            {
                                imageName: "image2",
                                fullName: "Патрисия Стёклышкова",
                                numberOfDaysSinceComment: "Неделю назад",
                                likeButtonOptions: {
                                    number: 2,
                                    isChecked: false,
                                },
                                comment: `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, 
                                каждый день новое блюдо и десерт как комплимент`, 
                            },                
                        ]
                    })
                div(class=["room-details__bullet-list"])
                    +bullet-list({
                        titleText: "Правила",
                        inRoomDetailsPage: true,
                        list: [
                            "Нельзя с питомцами",
                            "Без вечеринок и мероприятий",
                            "Время прибытия — после 13:00, а выезд до 12:00",
                        ],
                    })
                div(class=["room-details__cancel-rule"])
                    p(class=["room-details__cancel-rule-title"]) Отмена
                    p(class=["room-details__cancel-rule-main-text"])
                        | Бесплатная отмена в течение 48 ч. После 
                        | этого при отмене не позднее чем за 5 дн. до
                        | прибытия вы получите полный возврат за
                        | вычетом сбора за услуги.

            div(class=["room-details__price-calculation-form"])
                +price-calculation-form({
                    roomNumber: 888,
                    roomStatus: "люкс",
                    roomPrice: 9990,
                    currencyType: "₽",
                    discount: 2179,
                })