extends ../../page-base

include ../../../components/header/header.pug
include ../../../components/room-advantages/room-advantages.pug
include ../../../components/pie-chart/pie-chart.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/room-reviews/room-reviews.pug
include ../../../components/price-calculation-form/price-calculation-form.pug
include ../../../components/long-footer/long-footer.pug

block content
    div(class=["room-details"])
        div(class=["room-details__header-container"])
            +header({
                isAuthorized: false,
            })

        div(class=["room-details__room-photos"])
            div(class=["room-details__room-big-photo-container"])
                img(class=["room-details__room-big-photo"] src="./src/pages/WebPages/RoomDetails/img/background1.jpg")
            div(class=["room-details__room-small-photos-container"])
                div(class=["room-details__room-small-photo-container"])
                    img(class=["room-details__room-small-photo"] src="./src/pages/WebPages/RoomDetails/img/background2.jpg")
                div(class=["room-details__room-small-photo-container"])
                    img(class=["room-details__room-small-photo"] src="./src/pages/WebPages/RoomDetails/img/background3.jpg")

        div(class=["room-details__room-full-info"])
            div(class=["room-details__room-info"])
                div(class=["room-details__room-details-and-rating-pie-chart"])
                    div(class=["room-details__room-details-container"])
                        +room-advantages({
                            details: [
                                {icon: "insert_emoticon", titleText: "Комфорт", mainText: "Шумопоглощающие стены",},
                                {icon: "location_city", titleText: "Удобство", mainText: "Окно в каждой из спален",},
                                {icon: "whatshot", titleText: "Уют", mainText: "Номер оснащён камином",},
                            ],
                            hasLastBorderBottom: false,
                        })
                    div(class=["room-details__rating-pie-chart-container js-form-elements__pie-chart-container"])
                        +pie-chart({
                            totalValue: 260,
                            legends: ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"]
                        })
                div(class=["room-details__guest-room-reviews-container"])
                    +room-reviews({
                        reviewsArray: [
                            {
                                imgSrc: "./src/components/FormElements.GuestRoomReviews/img/image1.png",
                                fullName: "Мурад Сарафанов",
                                numberOfDaysSinceComment: "5 дней назад",
                                likeButtonOptions: {
                                    hasTitle: false,
                                    number: 12,
                                    isChecked: true,
                                },
                                comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий." +
                                    "И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто" +
                                    "не жаловался из соседей.",
                            },
                            {
                                imgSrc: "./src/components/FormElements.GuestRoomReviews/img/image2.png",
                                fullName: "Патрисия Стёклышкова",
                                numberOfDaysSinceComment: "Неделю назад",
                                likeButtonOptions: {
                                    hasTitle: false,
                                    number: 2,
                                    isChecked: false,
                                },
                                comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать," +
                                    "каждый день новое блюдо и десерт как комплимент", 
                            },                
                        ]
                    })
                div(class=["room-details__rules"])
                    div(class=["room-details__bullet-list-container"])
                        +bullet-list({
                            titleText: "Правила",
                            inRoomDetailsPage: true,
                            list: [
                                "Нельзя с питомцами",
                                "Без вечеринок и мероприятий",
                                "Время прибытия — после 13:00, а выезд до 12:00",
                            ],
                        })
                    div(class=["room-details__cancel-rule"])
                        p(class=["room-details__cancel-rule-title"]) Отмена
                        p(class=["room-details__cancel-rule-main-text"])
                            | Бесплатная отмена в течение 48 ч. После 
                            | этого при отмене не позднее чем за 5 дн. до
                            | прибытия вы получите полный возврат за
                            | вычетом сбора за услуги.

            div(class=["room-details__price-calculation-form-container"])
                +price-calculation-form({})


        div(class=["room-details__footer-container"])
            +long-footer()