&__buttonDefault {
    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    display: flex;
    position: relative;
    align-items: center;
    margin: 13px 0px 23px 0px;
    height: 34px;

    & > p {
        margin: 9px 18px 10px 20px;
        @import "./buttonTextProperties.scss";
        @include buttonTextProperties;
    }

    @import "./hollowButton.scss";

    &_firstButton {
        //модификатор, задающий отступ первой кнопки от следующей
        ////
        margin-right: 20px;
    }
}
