@import '../../assets/constants.scss';

@import '../form-input/form-input.scss';
@import '../colored-logo/colored-logo.scss';
@import '../social-media/social-media.scss';
@import '../menu-bar/menu-bar.scss';

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 10px 20px $color-dark-shade-5;

    &__info-bar {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 26% 17% 17.5% 19.5% 20%;
        padding: 100px scalePixelsAsPercentage(140, 1440);
        justify-items: start;
        box-shadow: 0px 1px 0px $color-dark-shade-10;
        margin-bottom: 1px;

        @media screen and (max-width: 1300px) {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 31% 22% 22.5% 24.5%;
        }
        @media screen and (max-width: 1100px) {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 39% 30% 30.5%;
            grid-row-gap: 30px;
        }
        @media screen and (max-width: 850px) {
            display: grid;
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 55% 45%;
        }
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 0px;
            margin-bottom: 0px;
            box-shadow: 0px 0px 0px transparent;
        }
    }

    &__general-info {
        width: 260px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 767px) {
            align-items: center;
        }
    }

    &__general-info-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $color-dark-shade-75;

        margin-top: 18px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__menu-bar {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__subscription {
        display: flex;
        flex-direction: column;
        justify-self: end;

        margin-top: 4px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__subscription-title {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color-dark-shade-100;

        margin-bottom: 19px;
    }

    &__subscription-description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $color-dark-shade-75;

        margin-bottom: 22px;
    }

    &__subscription-form {
        display: flex;
        flex-wrap: nowrap;
        width: 260px;

        background: transparent;
    }

    &__copyright-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 23px scalePixelsAsPercentage(140, 1440);
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 1px 0px $color-dark-shade-10;

        @media screen and (max-width: 850px) {
            flex-direction: column;
        }
        @media screen and (max-width: 767px) {
            padding-bottom: 120px;
        }
    }

    &__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-dark-shade-75;
        text-align: center;

        @media screen and (max-width: 850px) {
            margin-bottom: 20px;
        }
    }
}
