&__user {
    display: flex;
    align-items: center;

    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap;

    &:before{
        content: '';
        height: 30px;
        width: 1px;
        background: transparent;
        border-left: 1px solid rgba(31, 32, 65, 0.1);
        padding-right: 30px;
    }
}
