div(class=["logo-colored"])
    img(class=['logo-colored__logo-symbol'] src=(require("./img/logoColored.svg").default))
    img(class=['logo-colored__logo-text'] src=(require("./img/TOXIN.svg").default))
