@import "../../assets/constants.scss";

.text-button {
    cursor: pointer;
    background: transparent;

    &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;

        &_color_purple {
            color: $color-purple;
        }

        &_color_gray {
            color: $color-dark-shade-50;
        }
    }
}
