doctype html
html
    head
        meta(charset="utf-8")
        title Landing page
        meta(name="viewport" content="width=device-width")
    body
        div(class=["landing-page"])

            div(class=["landing-page__header-container"])
                include ../../../components/HeadersAndFooters.StandardNavBar/StandardNavBar.pug
                +getStandardNavBar({
                    isAuthorized: false,
                })

            div(class=["landing-page__main-content"])
                div(class=["landing-page__form-container"])
                    include ../../../components/Cards.GuestsAndDateRangeForm/GuestsAndDateRangeForm.pug
                    +getGuestsAndDateRangeForm({
                        titleText: "Найдём номера под ваши пожелания",
                    })
                div(class=["landing-page__background-image-container"])
                    div(class=["landing-page__subtitle"])
                        p(class=["landing-page__subtitle-text"])
                            | Лучшие номера для вашей работы,
                            | отдыха и просто вдохновения
                    img(class=["landing-page__background-image"] src="./src/pages/WebPages/LandingPage/img/backgroundImage.png")

            div(class=["landing-page__footer-container"])
                include ../../../components/HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.pug
                +getFooterWidgetsAndCopyrightBar()