.checkbox-list {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: auto auto;

    &__title {
        cursor: context-menu;
        & p {
            cursor: context-menu;
        }

        &_expandable {
            cursor: pointer;
            & p {
                cursor: pointer;
            }
        }
        &_width-margin-bottom_16px{
            margin-bottom: 16px;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;

        &-text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1f2041;
        }
    }

    &__dropdown-arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 42px;
        height: 42px;
        outline: none;

        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        background: rgba(31, 32, 65, 0.75);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__list {
        display: flex;
        flex-direction: column;
        & p {
            cursor: context-menu;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__item-label {
        display: flex;
        align-items: end;
    }
    &__item-label-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        width: max-content;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__item-label-text_main {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__item-label-text_simple {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        width: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    $checkboxMarginRight: 10px;
    $checkboxSize: 20px;
    &__item-label-additional-text {
        margin-left: $checkboxSize + $checkboxMarginRight;
        margin-top: 5px;
        width: 230px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__item-checkbox {
    }

    &__item-checkbox-input {
        width: $checkboxSize;
        height: $checkboxSize;
        position: relative;
        margin-right: $checkboxMarginRight;
        opacity: 0;

        &:not(:checked) + .checkbox-list__item-checkbox-checkmark {
            opacity: 0;
        }
        &:not(:checked) ~ .checkbox-list__item-checkbox-frame {
            border: 1px solid #adb5bd;
        }

        &:checked + .checkbox-list__item-checkbox-checkmark {
            opacity: 1;
        }
        &:checked ~ .checkbox-list__item-checkbox-frame {
            border: 1px solid #bc9cff;
        }
    }

    &__item-checkbox-checkmark {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        padding-bottom: 2px;

        width: $checkboxSize;
        height: $checkboxSize;
    }

    &__item-checkbox-checkmark-image {
        display: flex;
        width: 10px;
        height: 10px;
    }

    &__item-checkbox-frame {
        cursor: pointer;

        display: flex;
        width: $checkboxSize;
        height: $checkboxSize;
        border-radius: 4px;
        position: absolute;
    }

    &_width_266px {
        width: 266px;
    }
}
