//-
    options.titleText - текст заголовка

    options.isExpandable - определяет выпадающий список
    options.isOpened - открыт ли список по умолчанию
    (переменной нужно явно присваивать строку "true"/"false", т.к. dataset приводит все к строке автоматически и
    bool значения записываются некорректно)

    options.hasAdditionalText - определяет дополнительный текст

    options.checkboxList - массив объектов:
        {
            isChecked: false/true, - выбран ли пункт по умолчанию
            text: "...", - текст пункта
        }


mixin getCheckbox(options)
    - let classes = {};

    - if(options.isExpandable){
    -    classes.container ? classes.container.push("checkbox-list_expandable") : classes.container = ["checkbox-list_expandable"];
    -    classes.title ? classes.title.push("checkbox-list__title_expandable") : classes.title = ["checkbox-list__title_expandable"];    
    -    classes.itemLabelText ? classes.itemLabelText.push("checkbox-list__item-label-text") : classes.itemLabelText = ["checkbox-list__itemLabelText"];
    - }
    - else {
        - let titleClass = "checkbox-list__title_width-margin-bottom_16px";
        - classes.title ? classes.title.push(titleClass) : classes.title = [titleClass];
    - }
    - if(options.hasAdditionalText){  
    -    classes.itemLabelText ? classes.itemLabelText.push("checkbox-list__item-label-text_main") : classes.itemLabelText = ["checkbox-list__item-label-text_main"];
    - }
    - else {
    -    classes.itemLabelText ? classes.itemLabelText.push("checkbox-list__item-label-text_simple") : classes.itemLabelText = ["checkbox-list__item-label-text_simple"]; 
    - }

    - if(options.width){
        - let titleContainerClass = "checkbox-list_width_" + options.width;
        - classes.title ? classes.title.push(titleContainerClass) : classes.title = [titleContainerClass];
    - }


    div(class=["checkbox-list"].concat(classes.container || []))
        div(class=["checkbox-list__title"].concat(classes.title || []))
            p(class=["checkbox-list__title-text"])= options.titleText
            - if(options.isExpandable)
                p(class=["checkbox-list__dropdown-arrow"]) expand_more
        div(class=["checkbox-list__list"] data-is-opened=options.isOpened)
            - for(let item of options.checkboxList)
                div(class=["checkbox-list__item"])
                    label(class=["checkbox-list__item-label"])
                        input(class=["checkbox-list__item-checkbox-input"] type= "checkbox" checked= item.isChecked)
                        div(class=["checkbox-list__item-checkbox-checkmark"])
                            img(class=["checkbox-list__item-checkbox-checkmark-image"] src="./src/components/FormElements.CheckboxList/img/checkMark.svg")
                        div(class=["checkbox-list__item-checkbox-frame"])
                        p(class=["checkbox-list__item-label-text"].concat(classes.itemLabelText || []))= item.text
                    - if(options.hasAdditionalText)
                        p(class=["checkbox-list__item-label-additional-text"])= item.additionalText  