* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html,
body {
    min-width: 100%;
    display: flex;
}

@function scalePixelsAsPercentage($valueInPx, $viewportSizeInPx) {
  @return (($valueInPx * 100) / $viewportSizeInPx) * 1%;
}
