$color-gray-blue: rgb(173, 181, 189);
$color-purple: rgba(188, 156, 255, 1);
$color-green: rgba(111, 207, 151, 1);
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-30: rgba(31, 32, 65, 0.3);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);
$color-dark-shade-100: rgba(31, 32, 65, 1);

$gradient-purple-to-blue: linear-gradient(to bottom, rgb(188, 156, 255), rgb(139, 164, 249));
$gradient-purple-to-blue-50: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$gradient-green-to-turquoise: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);
