@mixin setFonts($path) {
    @font-face {
        font-family: "Montserrat";
        src: url("#{$path}assets/fonts/Montserrat/montserrat-regular.woff"),
            url("#{$path}assets/fonts/Montserrat/montserrat-regular.woff2"),
            url("#{$path}assets/fonts/Montserrat/montserrat-regular.eot"),
            url("#{$path}assets/fonts/Montserrat/montserrat-regular.ttf"),
            url("#{$path}assets/fonts/Montserrat/montserrat-regular.svg");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Montserrat";
        src: url("#{$path}assets/fonts/Montserrat/montserrat-bold.woff"),
            url("#{$path}assets/fonts/Montserrat/montserrat-bold.woff2"),
            url("#{$path}assets/fonts/Montserrat/montserrat-bold.eot"),
            url("#{$path}assets/fonts/Montserrat/montserrat-bold.ttf"),
            url("#{$path}assets/fonts/Montserrat/montserrat-bold.svg");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "Quicksand";
        src: url("#{$path}assets/fonts/Quicksand/quicksand-regular.woff"),
            url("#{$path}assets/fonts/Quicksand/quicksand-regular.woff2"),
            url("#{$path}assets/fonts/Quicksand/quicksand-regular.eot"),
            url("#{$path}assets/fonts/Quicksand/quicksand-regular.ttf"),
            url("#{$path}assets/fonts/Quicksand/quicksand-regular.svg");

        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Quicksand";
        src: url("#{$path}assets/fonts/Quicksand/quicksand-bold.woff"),
            url("#{$path}assets/fonts/Quicksand/quicksand-bold.woff2"),
            url("#{$path}assets/fonts/Quicksand/quicksand-bold.eot"),
            url("#{$path}assets/fonts/Quicksand/quicksand-bold.ttf"),
            url("#{$path}assets/fonts/Quicksand/quicksand-bold.svg");

        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "OpenSans";
        src: url("#{$path}assets/fonts/OpenSans/open-sans-regular.woff"),
            url("#{$path}assets/fonts/OpenSans/open-sans-regular.woff2"),
            url("#{$path}assets/fonts/OpenSans/open-sans-regular.eot"),
            url("#{$path}assets/fonts/OpenSans/open-sans-regular.ttf"),
            url("#{$path}assets/fonts/OpenSans/open-sans-regular.svg");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "OpenSans";
        src: url("#{$path}assets/fonts/OpenSans/open-sans-bold.woff"),
            url("#{$path}assets/fonts/OpenSans/open-sans-bold.woff2"),
            url("#{$path}assets/fonts/OpenSans/open-sans-bold.eot"),
            url("#{$path}assets/fonts/OpenSans/open-sans-bold.ttf"),
            url("#{$path}assets/fonts/OpenSans/open-sans-bold.svg");
        font-weight: bold;
        font-style: normal;
    }
}
