.images-carousel {
  width: 500px;
  height: 300px;
  margin: auto;
  border: 1px solid black;

  &__images-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left 0.8s ease-out 0s;

    &-1 {
      background: red;
    }

    &-2 {
      background: blue;
    }

    &-3 {
      background: green;
    }

    &-4 {
      background: yellow;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button,
  &__button2 {
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }
}
