@import '../../assets/constants.scss';

@import '../star-rating/star-rating.scss';

.room-info {
    width: 270rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    box-shadow: 0rem 10rem 20rem $color-dark-shade-5;
    border-radius: 4rem;
    $radioButtonSize: 8rem;

    &__ref {
        z-index: 3;
        width: 270rem;
        height: 107rem;
        position: absolute;
        bottom: 0rem;
        opacity: 0;
    }

    &__photos {
        z-index: 2;
        width: 270rem;
        height: 151rem;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__photo {
        z-index: 1;
        width: 100%;
        position: absolute;
        opacity: 0;
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
    }

    &__arrows {
        z-index: 3;
        width: 270rem;
        height: 151rem;
        display: flex;
        justify-content: space-between;
    }

    &__arrow-back {
        cursor: pointer;
        min-width: 44rem;
        height: 151rem;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        border-top-left-radius: 4rem;
    }

    &__arrow-back-icon {
        transform: rotate(90deg);
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24rem;
        line-height: 24rem;
        text-align: center;
        color: white;
    }

    &__arrow-forward {
        cursor: pointer;
        min-width: 44rem;
        height: 151rem;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        border-top-left-radius: 4rem;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &__arrow-forward-icon {
        transform: rotate(90deg);
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24rem;
        line-height: 24rem;
        text-align: center;
        color: white;
    }

    &__radio-button {
        z-index: 3;
        width: $radioButtonSize;
        height: $radioButtonSize;
        position: absolute;
        bottom: 15rem;
        opacity: 0;
        
        &:checked + div {
            background: white;
        }

        $test: 6rem;
        @for $i from 1 through 4 {
            &_#{$i} {
                right: 15rem + ($radioButtonSize + 3rem) * (4 - $i);
                & + div {
                    right: 15rem + ($radioButtonSize + 3rem) * (4 - $i);
                }
                &:checked ~ .room-info__photo_#{$i} {
                    opacity: 1;
                }
            }
        }
    }

    &__radio-button-image {
        z-index: 2;
        width: 8rem;
        height: 8rem;
        position: absolute;
        bottom: 15rem;
        border-radius: 50%;
        border: 1rem solid white;
        box-shadow: 0rem 5rem 5rem $color-dark-shade-30;
    }

    &__text-info {
        z-index: 1;
        padding: 15rem 16rem 19rem 20rem;
    }

    &__title {
        display: grid;
        grid-template-columns: max-content max-content max-content auto min-content;
        margin-top: 3rem;
        margin-bottom: 12rem;
    }

    &__number-symbol {
        align-self: end;
        margin-right: 4rem;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 14rem;
        line-height: 17rem;
        color: $color-dark-shade-100;
    }

    &__room-number {
        align-self: end;
        margin-right: 5rem;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19rem;
        line-height: 24rem;
        color: $color-dark-shade-100;
    }

    &__room-status {
        align-self: end;
        font-style: normal;
        font-weight: bold;
        font-size: 12rem;
        line-height: 15rem;
        text-transform: uppercase;
        color: $color-purple;
    }

    &__room-price {
        justify-self: end;
        align-self: end;
        margin-right: 4rem;
        font-style: normal;
        font-weight: bold;
        font-size: 14rem;
        line-height: 15rem;
        color: $color-dark-shade-50;
    }

    &__period-of-time {
        justify-self: end;
        align-self: end;
        margin-right: 1rem;
        font-style: normal;
        font-weight: normal;
        font-size: 12rem;
        line-height: 15rem;
        color: $color-dark-shade-50;
        white-space: nowrap;
    }

    &__room-rate {
        display: flex;
        justify-content: space-between;
        padding-top: 8rem;
        border-top: 1rem solid $color-dark-shade-10;
    }

    &__reviews-count {
        display: flex;
        align-items: flex-end;
        padding-bottom: 3rem;
        padding-right: 4rem;
    }

    &__reviews-count-value {
        margin-right: 3rem;
        font-style: normal;
        font-weight: bold;
        font-size: 14rem;
        line-height: 18rem;
        text-align: right;
        color: $color-dark-shade-50;
    }

    &__reviews-count-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 18rem;
        text-align: right;
        color: $color-dark-shade-50;
    }
}
