@import '../../assets/constants.scss';

@import '../star-rating/star-rating.scss';

.room-info {
    width: 270px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    box-shadow: 0px 10px 20px $color-dark-shade-5;
    border-radius: 4px;
    $radioButtonSize: 8px;

    &__ref {
        z-index: 3;
        width: 270px;
        height: 107px;
        position: absolute;
        bottom: 0px;
        opacity: 0;
    }

    &__photos {
        z-index: 2;
        width: 270px;
        height: 151px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__photo {
        z-index: 1;
        width: 100%;
        position: absolute;
        opacity: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__arrows {
        z-index: 3;
        width: 270px;
        height: 151px;
        display: flex;
        justify-content: space-between;
    }

    &__arrow-back {
        cursor: pointer;
        min-width: 44px;
        height: 151px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        border-top-left-radius: 4px;
    }

    &__arrow-back-icon {
        transform: rotate(90deg);
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: white;
    }

    &__arrow-forward {
        cursor: pointer;
        min-width: 44px;
        height: 151px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        border-top-left-radius: 4px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &__arrow-forward-icon {
        transform: rotate(90deg);
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: white;
    }

    &__radio-button {
        z-index: 3;
        width: $radioButtonSize;
        height: $radioButtonSize;
        position: absolute;
        bottom: 15px;
        opacity: 0;
        
        &:checked + div {
            background: white;
        }

        $test: 6px;
        @for $i from 1 through 4 {
            &_#{$i} {
                right: 15px + ($radioButtonSize + 3px) * (4 - $i);
                & + div {
                    right: 15px + ($radioButtonSize + 3px) * (4 - $i);
                }
                &:checked ~ .room-info__photo_#{$i} {
                    opacity: 1;
                }
            }
        }
    }

    &__radio-button-image {
        z-index: 2;
        width: 8px;
        height: 8px;
        position: absolute;
        bottom: 15px;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: 0px 5px 5px $color-dark-shade-30;
    }

    &__text-info {
        z-index: 1;
        padding: 15px 16px 19px 20px;
    }

    &__title {
        display: grid;
        grid-template-columns: max-content max-content max-content auto min-content;
        margin-top: 3px;
        margin-bottom: 12px;
    }

    &__number-symbol {
        align-self: end;
        margin-right: 4px;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $color-dark-shade-100;
    }

    &__room-number {
        align-self: end;
        margin-right: 5px;
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $color-dark-shade-100;
    }

    &__room-status {
        align-self: end;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color-purple;
    }

    &__room-price {
        justify-self: end;
        align-self: end;
        margin-right: 4px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        color: $color-dark-shade-50;
    }

    &__period-of-time {
        justify-self: end;
        align-self: end;
        margin-right: 1px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $color-dark-shade-50;
        white-space: nowrap;
    }

    &__room-rate {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        border-top: 1px solid $color-dark-shade-10;
    }

    &__reviews-count {
        display: flex;
        align-items: flex-end;
        padding-bottom: 3px;
        padding-right: 4px;
    }

    &__reviews-count-value {
        margin-right: 3px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $color-dark-shade-50;
    }

    &__reviews-count-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $color-dark-shade-50;
    }
}
