doctype html
html
    head
        meta(charset="utf-8")
        title SignIn
        meta(name="viewport" content="width=device-width")
    body
        div(class=["sign-in"])

            div(class=["sign-in__header-container"])
                include ../../../components/HeadersAndFooters.StandardNavBar/StandardNavBar.pug
                +getStandardNavBar({
                    isAuthorized: false,
                })

            div(class=["sign-in__main-content"])
                div(class=["sign-in__form-container"])
                    include ../../../components/Cards.AuthorizationForm/AuthorizationForm.pug
                    +getAuthorizationForm({
                        titleText: "Войти",
                    })
                div(class=["sign-in__background-image-container"])
                    img(class=["sign-in__background-image"] src="./src/pages/WebPages/SignIn/img/backgroundImage.png")

            div(class=["sign-in__footer-container"])
                include ../../../components/HeadersAndFooters.FooterWidgetsAndCopyrightBar/FooterWidgetsAndCopyrightBar.pug
                +getFooterWidgetsAndCopyrightBar()