@import '../../assets/constants.scss';

.toggle {
    cursor: pointer;
    display: flex;
    position: relative;
    width: max-content;

    &__button-image {
        z-index: 1;
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-right: 10px;
        padding: 0px 3px;
        border-radius: 10px;
        transition: padding-left 0.3s;
    }

    &__input {
        cursor: pointer;
        z-index: 2;
        width: 40px;
        height: 20px;
        position: absolute;
        opacity: 0;

        &:checked + div {
            border: 1px solid $color-purple;
            padding-left: 23px;
        }
        &:not(:checked) + div {
            border: 1px solid $color-dark-shade-25;
            padding-left: 3px;
        }
        &:checked + div::after {
            content: '';
            width: 12px;
            height: 12px;
            background: $gradient-purple-to-blue;
            border-radius: 50%;
        }
        &:not(:checked) + div::after {
            content: '';
            width: 12px;
            height: 12px;
            background: $color-dark-shade-25;
            border-radius: 50%;
        }
    }

    &__text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $color-dark-shade-50;
    }
}
