mixin toggle(options = {})
  - 
    const {
      text = "Получать спецпредложения",
      isChecked = false,
      name = "special-offer",
    } = options; 

  label(class=["toggle"])
    input(class=["toggle__input"] 
      type="checkbox"
      name= name
      checked= isChecked)
    div(class=["toggle__button-image"])
    p(class=["toggle__text"])= text