include ../../../components/GlobalLogo/GlobalLogo.pug
include ../../../components/Cards.AuthorizationForm/AuthorizationForm.pug
include ../../../components/Cards.GuestsAndDateRangeForm/GuestsAndDateRangeForm.pug
include ../../../components/Cards.PriceCalculationForm/PriceCalculationForm.pug
include ../../../components/Cards.RegistrationForm/RegistrationForm.pug
include ../../../components/Cards.RoomInfo/RoomInfo.pug

doctype html
html
    head
        meta(charset="utf-8")
        title Cards
        meta(name="viewport" content="width=device-width")          
    body
        div(class=["cards"])
            div(class=["cards__global-logo-container"])
                +getGlobalLogo()

            div(class=["cards__content"])
                div(class=["cards__column-1"])
                    div(class=["cards__form-container-1"])
                        +getGuestsAndDateRangeForm({
                            titleText: "Найдём номера под ваши пожелания",
                        })
                    div(class=["cards__form-container-2"])        
                        +getRegistrationForm({
                            titleText: "Регистрация аккаунта",
                        })                        
                div(class=["cards__column-2"])
                    div(class=["cards__form-container-3"])
                        +getPriceCalculationForm({
                            roomNumber: 888,
                            roomStatus: "люкс",
                            roomPrice: 9990,
                            currencyType: "₽",
                            periodOfTime: "сутки",
                            discount: 2179,
                        })
                    div(class=["cards__form-container-4"])
                        +getAuthorizationForm({
                            titleText: "Войти",
                        })
                div(class=["cards__column-3"])
                    div(class=["cards__date-picker-container"])

                    div(class=["cards__room-info-container-1"])
                        +getRoomInfo({
                            blockNumber: 1,
                            photos: ["test11", "test22", "test33", "test44"],
                            roomInfoTitleOptions: {
                                inRoomInfoBlock: true,
                                roomNumber: 888,
                                isLuxury: true,
                                roomPrice: "9 990₽",
                                periodOfTime: "сутки",
                            },
                            reviewsCount: 145,
                            numberOfCheckedStar: 1,
                            url: "#",
                        })
                    div(class=["cards__room-info-container-2"])
                        +getRoomInfo({
                            blockNumber: 2,
                            photos: ["test11", "test22"],
                            roomInfoTitleOptions: {
                                inRoomInfoBlock: true,
                                roomNumber: 840,
                                isLuxury: false,
                                roomPrice: "9 990₽",
                                periodOfTime: "сутки",
                            },
                            reviewsCount: 65,
                            numberOfCheckedStar: 5,
                            url: "#",
                        }) 
                    div(class=["cards__room-info-container-3"])
                        +getRoomInfo({
                            blockNumber: 3,
                            photos: ["test11"],
                            roomInfoTitleOptions: {
                                inRoomInfoBlock: true,
                                roomNumber: 841,
                                isLuxury: false,
                                roomPrice: "9 990₽",
                                periodOfTime: "сутки",
                            },
                            reviewsCount: 1488,
                            numberOfCheckedStar: 3,
                            url: "#",
                        })                          

