mixin social-media()
    div(class=["social-media"])
        a(class=["social-media__ref"] href="https://twitter.com" target="_blank" rel="noopener noreferrer")
            img(class=["social-media__image"] src="./src/components/social-media/img/twitter-icon.svg" alt="Twitter")
        a(class=["social-media__ref"] href="https://facebook.com" target="_blank" rel="noopener noreferrer")
            img(class=["social-media__image"] src="./src/components/social-media/img/facebook-icon.svg" alt="Facebook")
        a(class=["social-media__ref"] href="https://instagram.com" target="_blank" rel="noopener noreferrer")
            img(class=["social-media__image"] src="./src/components/social-media/img/instagram-icon.svg" alt="Instagram")