.social-media {
    display: flex;
    align-content: center;
    $iconSize: 23rem;

    &__ref {
        width: $iconSize;
        height: $iconSize;
        margin-right: 20rem;

        &:last-of-type {
            margin-right: 0rem;
        }
    }

    &__image {
        width: $iconSize;
        height: $iconSize;
    }
}
