mixin social-media()
    div(class=["social-media"])
        a(class=["social-media__ref"] href="https://twitter.com")
            img(class=["social-media__image"] src="./src/components/social-media/img/twitter-icon.svg")
        a(class=["social-media__ref"] href="https://facebook.com")
            img(class=["social-media__image"] src="./src/components/social-media/img/facebook-icon.svg")
        a(class=["social-media__ref"] href="https://instagram.com")
            img(class=["social-media__image"] src="./src/components/social-media/img/instagram-icon.svg")