include ../../../components/HeadersAndFooters.StandardNavBar/StandardNavBar.pug
include ../../../components/sign-up-form/sign-up-form.pug
include ../../../components/HeadersAndFooters.LongFooter/LongFooter.pug

doctype html
html
    head
        meta(charset="utf-8")
        title Registration
        meta(name="viewport" content="width=device-width")
    body
        div(class=["registration"])

            div(class=["registration__header-container"])
                +getStandardNavBar({
                    isAuthorized: false,
                })

            div(class=["registration__main-content"])
                div(class=["registration__form-container"])
                    +sign-up-form({
                        titleText: "Регистрация аккаунта",
                    })
                div(class=["registration__background-image-container"])
                    img(class=["registration__background-image"] src="./src/pages/WebPages/Registration/img/backgroundImage.png")

            div(class=["registration__footer-container"])
                +getLongFooter()