mixin colored-logo()
  div(class=["colored-logo"])
    a(class=["colored-logo__ref"] href="landing-page.html")
      img(class=["colored-logo__logo-symbol"] src="./src/components/colored-logo/img/colored-logo.svg" alt="Colored logotype")
      img(class=["colored-logo__logo-text"] src="./src/components/colored-logo/img/TOXIN.svg" alt="TOXIN label")
