mixin colored-logo()
    div(class=["colored-logo"])
        img(class=['colored-logo__logo-symbol'] src="./src/components/colored-logo/img/colored-logo.svg")
        img(class=['colored-logo__logo-text'] src="./src/components/colored-logo/img/TOXIN.svg")
