@import "./index.scss";

.colorsAndTypeBlock {
    min-width: 100%;
    display: flex;
    flex-direction: column;

    @import "./ColorsAndType.ColorBlock/ColorBlock.scss";
}

@import "./GlobalLogo/GlobalLogo.scss";
@import "./ColorsAndType.ColorBlock/ColorsAndFonts.scss";

.globalLogo {
    margin-bottom: 67px;
}
