@import "./index.scss";

.formElements {
    & > div:nth-child(n + 1),
    & > label:nth-child(n + 1) {
        margin-bottom: 20px;
        margin-left: 141px;
    }
    padding-bottom: 500px;
}

@import "./GlobalLogo/GlobalLogo.scss";
@import "./FormElements.FormInput/FormInput.scss";
@import "./FormElements.CheckboxList/CheckboxList.scss";
@import "./FormElements.RadioButton/RadioButton.scss";
@import "./FormElements.RateButton/RateButton.scss";
@import "./FormElements.ButtonDefault/buttonDefault.scss";
@import "./FormElements.Pagination/Pagination.scss";
@import "./FormElements.RangeSlider/RangeSlider.scss";
@import "./FormElements.BulletList/BulletList.scss";
@import "./FormElements.DateInput/DateInput.scss";
@import "./FormElements.LikeButton/LikeButton.scss";
@import "./FormElements.RoomDetails/RoomDetails.scss";
@import "./FormElements.GuestRoomReviews/GuestRoomReviews.scss";

@import "./ColorsAndType.scss";

.globalLogo {
    margin-bottom: 65px;
}
