@font-face {
    font-family: MontserratBold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}