.headersAndFooters {
    //блок
    display: flex;
    flex-direction: column;
    background: #f4f4f6;

    @import "./HeadersAndFooters/GlobalLogo.scss";
    @import "./HeadersAndFooters/StandardNavBar.scss";
    @import "./HeadersAndFooters/StandardLoggedInNavBar.scss";
    @import "./HeadersAndFooters/FooterWidgetsAndCopyrightBar.scss";
    @import "./HeadersAndFooters/Indentation.scss";
}
