@import "./fontsStyles/fonts.scss";
@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html,
body {
    min-width: 100%;
}

@import "./HeadersAndFooters.scss";