//- 
    isHollow - полая ли кнопка(с градиентной обводкой)
    hasArrow - есть ли символ стрелки внутри кнопки у правой границы
    buttonType - тег используемый в основе кнопки(a/button/input)
    text - текст внутри кнопки

mixin getButton(options)
    - const { isHollow, hasArrow, buttonType, text, url } = options;
    - const container = [];

    - if(isHollow)
        - container.push("button-default_hollow");


    div(class=["button-default"].concat(container || []))
        - if(buttonType === "a")
            a(href=(url ? url : 'https://www.google.com/') class=["button-default__basis"])
                span(class=["button-default__text"])= text
                - if(hasArrow)
                    span(class=["button-default__arrow"]) arrow_forward 
        - else if(buttonType === "button")
            button(class=["button-default__basis"])
                span(class=["button-default__text"])= text
                - if(hasArrow)
                    span(class=["button-default__arrow"]) arrow_forward
        - else if(buttonType === "submit")
            label(class=["button-default__basis"])
                input(class=["button-default__submit"] type="submit")
                span(class=["button-default__text"])= text
                - if(hasArrow)
                    span(class=["button-default__arrow"]) arrow_forward