@import '../../assets/constants.scss';

.room-advantages {
    width: max-content;
    list-style: none;
    display: flex;
    flex-direction: column;

    &__bottom-border {
        width: 280rem;
        height: 1rem;
        margin-top: 20rem;
        margin-bottom: 20rem;
        background: $color-dark-shade-10;

        &:last-child {
            margin-bottom: 0rem;
        }
    }

    &__detail {
        display: flex;
        flex-direction: row;
    }

    &__icon {
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 10rem;
        background: $gradient-purple-to-blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 48rem;
        line-height: 41rem;
    }

    &__text {
        display: inline-flex;
        flex-direction: column;
    }

    &__title-text {
        font-style: normal;
        font-weight: bold;
        font-size: 14rem;
        line-height: 24rem;
        color: $color-dark-shade-75;
    }

    &__main-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 24rem;
        color: $color-dark-shade-75;
    }
}
