mixin getForm(options, classes)
    - let formClasses = [];

    - if(classes)
        - classes.formClasses ? formClasses = formClasses.concat(classes.formClasses) : [];

    form(class=["formDefault"].concat(formClasses))
        div(class=["formDefault__title"])
            p(class=["formDefault__titleText"])= options.titleText
            - if(options.hasSecondTitle)
                p(class=["formDefault__titleSecondText"])= options.titleText

        - if(options.formType === "guestsAndDateRange"){
            include ../FormElements.DateInput/DateInput.pug
            +getDateInput({
                inputType: "double",
                firstTitle: "выезд",
                secondTitle: "прибытие",
            })

            include ../FormElements.Dropdown/Dropdown.pug
            +getDropdown({
                titleText: options.dropdownTitleText,
                isTitleTextTestVisible: false,
                titleTextTestValue: "",
                placeholder: "dropdown",
                name: "dropdown",
                type: "text",
                value: "Сколько гостей",
                dropdownList: [
                    {name: "взрослые", value: 0},
                    {name: "дети", value: 0},
                    {name: "младенцы", value: 0}
                ],
            },
            {
                input: ["dropdown__input_sumNumber"],
            })

            include ../FormElements.ButtonDefault/ButtonDefault.pug
            +getButton({
                text: 'подобрать номер',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
            },
            {
                container: ["formDefault__buttonDefault_guestsAndDateRange"],
            })
        - }
        - else if(options.formType === "registration"){
            include ../FormElements.FormInput/FormInput.pug
            +getFormInput({
                hasTitle: false,
                placeholder: "Имя",
                name: "clientFirstName",
                type: "text",
                value: "",
                hasSubmitButton: false}
            )

            +getFormInput({
                hasTitle: false,
                placeholder: "Фамилия",
                name: "clientSecondName",
                type: "text",
                value: "",
                hasSubmitButton: false}
            )

            include ../FormElements.RadioButton/RadioButton.pug
            +getRadioButton("radio", [
                {text: "Мужчина", isChecked: true},
                {text: "Женщина", isChecked: false},
            ],
            {
                title: "Radio Buttons",
                name: "gender",
            })

            include ../FormElements.DateInput/DateInput.pug
            +getDateInput({
                inputType: "simple",                
                title: "дата рождения",
            })

            +getFormInput({
                hasTitle: true,
                titleText: "данные для входа в сервис",                
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false}
            )

            +getFormInput({
                hasTitle: false,
                placeholder: "Пароль",
                name: "password",
                type: "password",
                value: "",
                hasSubmitButton: false}
            )

            +getRadioButton({
                buttonType: "toggle",
                radioButtonList: [
                    {text: "Получать спецпредложения", isChecked: false}
                ],
                title: "",
                name: "specialOffer"
            })

            include ../FormElements.ButtonDefault/ButtonDefault.pug
            +getButton({
                text: 'перейти к оплате',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
            },
            {
                container: ["formDefault__buttonDefault_guestsAndDateRange"],
            })

            div(class=["formDefault__alreadyRegistered"])
                p(class=["formDefault__alreadyRegisteredText"]) Нет аккаунта на Toxin?
                +getButton({
                    text: "войти",
                    isHollow:  true,
                    buttonType: "a",
                    hasArrow: false,
                })
        - }
