mixin getForm(options, classes={})

    form(class=["formDefault"].concat(classes.form || []))
        - if(options.titleText)
            div(class=["formDefault__title"])
                p(class=["formDefault__titleText"])= options.titleText

        - if(options.formType === "guestsAndDateRange"){
            include ./formsContent/guestsAndDateRangeForm.pug
            +getGuestsAndDateRangeForm()
        - }
        - else if(options.formType === "registration"){
            include ./formsContent/registrationForm.pug
            +getRegistrationForm()
        - }
        - else if(options.formType === "authorization"){
            include ./formsContent/authorizationForm.pug
            +getAuthorizationForm()
        - }
        - else if(options.formType === "priceCalculation"){
            include ./formsContent/priceCalculationForm.pug
            +getPriceCalculationForm({
                roomNumber: 888,
                roomStatus: "люкс",
                roomPrice: "9 990₽",
                periodOfTime: "сутки",
            },
            {
                titleInfo: ["formDefault_marginBottom20"],
            })
        - }        
