@import '../../assets/constants.scss';

@import '../like-button/like-button.scss';

.room-reviews {
    list-style: none;

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20rem;
    }

    &__title-description {
        font-family: Quicksand, OpenSans, Arial, monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 19rem;
        line-height: 24rem;
        color: $color-dark-shade-100;
    }

    &__review-count {
        align-self: center;
        margin-top: 5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 14rem;
        text-align: right;
        color: $color-dark-shade-50;
        white-space: nowrap;
    }

    &__review-container {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: auto auto;
        margin-bottom: 22rem;

        &:last-child {
            margin-bottom: 0rem;
        }
    }

    &__user-avatar {
        width: 47rem;
        height: 47rem;
        margin-bottom: 12rem;
        border: 2rem solid white;
        border-radius: 50%;
        box-shadow: 0rem 10rem 20rem $color-dark-shade-10;
    }

    &__user-info {
        margin-left: 10rem;
    }

    &__user-full-name {
        font-style: normal;
        font-weight: bold;
        font-size: 14rem;
        line-height: 24rem;
        color: $color-dark-shade-75;
    }

    &__like-button {
        justify-self: center;
        padding-top: 1rem;
    }

    &__number-of-days-since-comment {
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 24rem;
        color: $color-dark-shade-75;
    }

    &__comment {
        margin-left: 10rem;
        max-width: 653rem;
        font-style: normal;
        font-weight: normal;
        font-size: 14rem;
        line-height: 24rem;
        color: $color-dark-shade-75;
    }
}
