@import '../../assets/constants.scss';
@import '../like-button/like-button.scss';

.room-reviews {
    list-style: none;

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    &__title-description {
        font-family: Quicksand, OpenSans, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1875rem;
        line-height: 1.5rem;
        color: $color-dark-shade-100;
    }

    &__review-count {
        align-self: center;
        margin-top: 0.3125rem;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 0.875rem;
        text-align: right;
        color: $color-dark-shade-50;
        white-space: nowrap;
    }

    &__review-container {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: auto auto;
        margin-bottom: 1.375rem;

        &:last-child {
            margin-bottom: 0rem;
        }
    }

    &__user-avatar {
        width: 2.9375rem;
        height: 2.9375rem;
        margin-bottom: 0.75rem;
        border: 0.125rem solid white;
        border-radius: 50%;
        box-shadow: 0rem 0.625rem 1.25rem $color-dark-shade-10;
    }

    &__user-info {
        margin-left: 0.625rem;
    }

    &__user-full-name {
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $color-dark-shade-75;
    }

    &__like-button {
        justify-self: center;
        padding-top: 0.0625rem;
    }

    &__number-of-days-since-comment {
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $color-dark-shade-75;
    }

    &__comment {
        margin-left: 0.625rem;
        max-width: 40.8125rem;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $color-dark-shade-75;
    }
}
