//-


include ../FormElements.ButtonDefault/ButtonDefault.pug
include ../FormElements.FormInput/FormInput.pug

mixin getAuthorizationForm(options)

    form(class=["authorization-form"])
        - if(options.titleText)
            div(class=["authorization-form__title"])
                p(class=["authorization-form__title-text"])= options.titleText

        div(class=["authorization-form__email-and-password-inputs-container"])
            +getFormInput({
                hasTitle: false,
                titleText: "",                
                placeholder: "Email",
                name: "email",
                type: "email",
                value: "",
                hasSubmitButton: false
            })
            +getFormInput({
                hasTitle: false,
                placeholder: "Пароль",
                name: "password",
                type: "password",
                value: "",
                hasSubmitButton: false
            })

        div(class=["authorization-form__submit-button-container"])
            +getButton({
                text: 'войти',
                isHollow: false,
                buttonType: "submit",
                hasArrow: true,
                width: "320px",
            })

        div(class=["authorization-form__already-registered"])
            p(class=["authorization-form__already-registered-text"]) Нет аккаунта на Toxin?
            +getButton({
                text: "создать",
                isHollow:  true,
                buttonType: "a",
                hasArrow: false,
                width: "99px",
            })