//-
    detailsArray - массив объектов:
        {
            icon - название иконки из Material Icons
            titleText - текст заголовка
            mainText - основной текст
        }
    hasLastBorderBottom - вставлять ли в конец черту

mixin getRoomDetails(options)
    - const {detailsArray, hasLastBorderBottom} = options;

    div(class=["room-details"])
        - for(let i = 0; i < detailsArray.length; i++)
            div(class=["room-details__detail-container"])
                p(class=["room-details__icon"])= detailsArray[i].icon
                div(class=["room-details__text-container"])
                    p(class=["room-details__title-text"])= detailsArray[i].titleText
                    p(class=["room-details__main-text"])= detailsArray[i].mainText
            - if((i === detailsArray.length - 1 && hasLastBorderBottom) || i < detailsArray.length - 1)
                div(class=["room-details__bottom-border"])

